[2018-07-11 17:39] dvddhln opened #10 "microprofile-openapi @Extension is missing in /openapi.yml model"
Hi,
Here is from previous discussion: https://github.com/thorntail/thorntail/issues/1044

Currently the `@Extensions` on jax-rs methods are not being read, thus not adding it to the /openapi.yml model.

/david

[2018-07-11 18:11] EricWittmann commented on #10
We need some code in `processJaxRsMethod` to read `@Extensions` if present:

https://github.com/smallrye/smallrye-open-api/blob/master/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/OpenApiAnnotationScanner.java#L363-L666

[2018-07-11 18:11] EricWittmann commented on #10
@msavy any interest in tackling this?

[2018-07-13 12:47] EricWittmann commented on #10
@kenfinnigan @msavy @dvddhln Have a look at this PR: https://github.com/smallrye/smallrye-open-api/pull/12

[2018-07-13 13:05] #10 closed

[2018-07-13 13:19] EricWittmann opened #13 "Processing of classes for JSON schema generation should obey @JsonIgnore"
When processing a class for the purpose of creating a JSON schema, the class MAY be annotated with `@JsonIgnore`.  We should do our best to support the semantics of that annotation.

[2018-07-13 13:20] EricWittmann commented on #13
The original bug report can be found here:  https://issues.jboss.org/browse/THORN-2098

[2018-07-13 13:49] EricWittmann commented on #13
Yeah I think whatever common Jackson annotations are easy to support and make sense, we should try to support them.

[2018-07-13 13:49] EricWittmann commented on #13
I don't know offhand what they all are. :)

[2018-07-13 13:50] EricWittmann commented on #13
But we can at least **start** with these two and go from there.  No need to go crazy right away.

[2018-07-13 15:56] msavy commented on #13
Agreed.

On Fri, 13 Jul 2018, 14:50 Eric Wittmann, <notifications@github.com> wrote:

[2018-07-16 10:43] msavy commented on #13
Starting on this now.

[2018-07-21 09:59] msavy opened #14 "Reintroduce logging"
It'd be great to be able to reintroduce (currently commented out) logging somehow that has been commented out. I've had to temporarily hack it back in for my development -- annoying subtle bug that I couldn't figure out from debugging alone -- and was clear once logging was back in.

Also, I think the logging will add a lot of value when support cases start arriving, etc.

What are people's though

[2018-07-23 18:28] dvddhln opened #15 "Process @RolesAllowed while generating OpenAPI doc from annotations"
Hello,
I raised a discussion whether this would be possible to support. Would be interesting to investigate any future support or enhancement of this kind. Let me know if I am out of line though :)

https://github.com/eclipse/microprofile-open-api/issues/244

BR

David

[2018-07-23 19:08] EricWittmann commented on #15
I think this might be a nice addition to the annotation scanner.  If we see `@RolesAllowed` perhaps we can use that information to add a Security Requirement to the OAI Operation being generated.

[2018-07-24 09:31] dvddhln commented on #15
I thought about this a little more and wondered about if `@DeclaredRoles` could be picked up aswell. This plays well with the `@RolesAllowed` set on the operation. For instance if you are filtering the security scheme this would be the example. Just a suggestion though :)

[code]

[2018-07-24 14:45] msavy commented on #14
Hey, @kenfinnigan Any thoughts on this?

[2018-07-24 17:14] EricWittmann commented on #14
I asked for guidance on this issue on the thorntail mailing list but I don't think there was a response. :)

[2018-07-24 19:02] #13 closed

[2018-07-24 21:09] msavy commented on #14
Ken is on hols it turns out, so might not get a reply for a while

[2018-07-25 11:35] msavy commented on #13
To nobody in particular: Please feel to reopen (or file new ticket) if you find cases where the Jackson ignore annotations don't work as expected.

[2018-07-26 15:00] kenfinnigan commented on #14
Based on https://groups.google.com/forum/#!topic/smallrye/W-6D2pfnTeE I think JBoss Logging is fine, and then an implementation provided by an app

[2018-07-26 15:17] EricWittmann commented on #14
TIL that JBoss Logging supports custom message interfaces that can be easily internationalized. :)

[2018-07-26 21:06] msavy commented on #14
I guess the other option would be something like slf4j or whatever. If anyone has strong feelings, feel free to weigh in here or on the thread...

[2018-07-27 02:06] kenfinnigan commented on #14
I'd lean towards JBoss Logging, as the user can still choose slf4j as the implementation

[2018-07-27 15:15] msavy commented on #14
@EricWittmann @kenfinnigan I guess I should just need to add:

[code]
Any preference for a version? I notice Thorntail just uses provided -- https://github.com/thorntail/thorntail/blob/master/fractions/wildfly/logging/pom.xml#L73-L82.

Not sure whether this might cause some side-effects if we include a jboss-logging artifact.

[2018-07-27 15:19] msavy commented on #14
Oh, I see jboss logging 2.0.1.Final in smallrye-open-api-parent already :-).

[2018-07-28 08:02] msavy commented on #14
This is quite confusing, but it seems `jboss-logging` didn't release their project artifacts in lockstep during the 2.x era?

Hence, `2.0.1.Final`, as far as I can determine, has no release of the actual logging interfaces  https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.jboss.logging%22%20AND%20v%3A%222.1.0.Final%22

@thejamezp is this correct? Would you suggest we just update to 3.x?

[2018-07-30 15:52] jamezp commented on #14
@msavy There are two (three deps) separate projects. There's `org.jboss.logging:jboss-logging` which is a logging facade similar to slf4j. Then there's `org.jboss.logging:jboss-logging-annotations` and `org.jboss.logging:jboss-logging-processor`. The later two are used for the logger/message bundle interfaces.

So for the logging facade, `org.jboss.logging:jboss-logging`, the latest release is 3.3

[2018-07-30 16:00] msavy commented on #14
Aha, using what you've written I Googled a bit and found these docs https://jboss-logging.github.io/jboss-logging-tools/ (by none other than yourself).

[2018-07-30 16:02] jamezp commented on #14
Yup. I almost forgot about that haha. I really need to get documentation for jboss-logging (facade) as well with explanations of all this. It's understandably confusing.

[2018-07-30 16:11] msavy commented on #14
@jamezp Thanks! Which version of jboss-logging (facade) is being used in the latest WF? I can't find an explicit version in the parent pom 🤔, but I might be missing something.

[2018-07-30 16:14] jamezp commented on #14
Looks like [3.3.1.Final](https://github.com/wildfly/wildfly-core/blob/master/pom.xml#L165), it's part of WildFly Core. Though I think I'll file an issue and upgrade to 3.3.2.Final today. The only change is for better Java 9+ support so I'd suggest 3.3.2.Final. Here's the diff between 3.3.1.Final and 3.3.2.Final https://github.com/jboss-logging/jboss-logging/compare/3.3.1.Final...3.3.2.Final.

[2018-07-30 16:15] msavy commented on #14
Thanks a bunch for the useful info! It's much appreciated.

[2018-07-30 16:18] jamezp commented on #14
And just for completeness here's the WildFly Core JIRA for the upgrade https://issues.jboss.org/browse/WFCORE-3981

[2018-07-30 18:15] #14 closed

[2018-08-29 09:09] michbeck100 opened #23 "Response created from JAXRS method contains no description"
The OpenAPI spec says a response must have a description (see [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#responseObject)).
When generating a response from a JAXRS method (see [here](https://github.com/smallrye/smallrye-open-api/blob/master/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/OpenApiAnnotationScanner.java#L699)), no description  is

[2018-08-29 09:40] michbeck100 opened #24 "Don't create default response or parameter"
When there is no `@Parameter` or `@APIResponse`found on a JAXRS resource method, the `OpenApiAnnotationScanner` creates default values. I think this behavior is not correct.

1. For the contract-first approach, the parameters and responses might already be described in the static file. At the moment of annotation scanning there is no info about that.
2. The info might me omitted on purpose. I thin

[2018-08-29 09:50] michbeck100 commented on #24
Here is an example for the generated response:

[code]
The corresponding openapi.yaml looks like this:
[code]
When this gets merged the generated openapi document contains both the 201 response and the auto generated 200 response, which is wrong.

[2018-08-29 12:57] EricWittmann commented on #24
This is an interesting use case.  What about if the method returned a `Customer` rather than a `Response`.  What then?  I'm not arguing against, necessarily.  Just thinking. :)

[2018-08-29 13:05] michbeck100 commented on #24
For everything else than `Void` return type, the default response will be generated. see [here](https://github.com/smallrye/smallrye-open-api/blob/4d82fef7fb4f794eafdbe10c87f44a8981776ece/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/OpenApiAnnotationScanner.java#L707).
For `Void` return types a default response with code 204 or 102 (if POST method) gets generated.

[2018-08-29 13:48] EricWittmann commented on #24
Sorry I meant what do you think **should** happen for the various return types?  One of the goals of MP+OAI is to generate as much as possible from a standard JAX-RS application.  Without requiring the developer to necessarily add more annotations.  I think what you've pointed out here is that being aggressive with the generated output can produce conflicts when a static file is also provided.

So

[2018-08-29 14:01] michbeck100 commented on #24
I agree. The main problem is that the annotation model takes precendence over the static model. If the static model already contains values that are created by the annotation scanner because the annotation is missing, then this is a problem.

My feeling is that the annotation scanner should do what its name suggests: scan annotations.
All the additional values should be generated **after** the mer

[2018-08-29 15:48] EricWittmann commented on #24
I understand what you're saying, but it might be a fairly significant change to how this all works.  However, we do need to operate within the constraints of the specification.  Your suggestion would likely violate this section of the spec:

https://github.com/eclipse/microprofile-open-api/blob/master/spec/src/main/asciidoc/microprofile-openapi-spec.adoc#45-processing-rules

I suggested improving

[2018-08-29 18:48] michbeck100 commented on #24
The spec says

Or in other words: just process the annotations and don't create anything if annotations are missing. I think at least the logic to create an `@APIResponse` from the methods return type should be removed.

[2018-08-29 19:43] EricWittmann commented on #24
I think that's not the intention, however.  This section of the spec is perhaps more relevant:

Along with this, also from the spec:

This is perhaps an issue we can raise with the specification to see what the intent is.  But I **believe** the intent is to produce a valid OpenAPI document from the available JAX-RS (and plain java) information, which includes processing inputs and outputs as best

[2018-10-24 19:39] jmini commented on #23
I have noticed this too during the [talk](https://jmini.github.io/ece2018-openapi/) I gave at EclipseCon Europe.

Given the code in [OpenApiAnnotationScanner.java](https://github.com/smallrye/smallrye-open-api/blob/4d82fef7fb4f794eafdbe10c87f44a8981776ece/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/OpenApiAnnotationScanner.java#L699) linked in the previous post, there are only

[2018-10-24 19:47] jmini opened #25 "@Parameter with missing name produces duplicate"
Name is missing in the `@Parameter`:

[code]
produces:
[code]

=> Only one parameter should be generated.

---
An other related problem, name is present:

[code]

produces:
[code]

This is not valid because `required : true` is missing. This is mandatory for path parameter in OpenAPI

[2018-10-25 12:11] pe-st opened #26 "@OpenAPIDefinition doesn't seem to work"
I have a private playground application using Thorntail 2.2.0 (with smallrye-open-api:1.0.1 if I got that right). My entrypoint has these annotations:

    @OpenAPIDefinition(info = @Info(title = "myFancyEndpoint", version = "0.9"))
    @Path("fancy")
    public class FancyEndpoint {

When I call `localhost:8080/openapi`, the returned yaml starts as follows:

    ---
    openapi: 3.0.1
    info:

[2018-10-25 12:15] EricWittmann commented on #26
Try putting the `@OpenAPIDefinition` annotation on the application class rather than on a resource class (I'm assuming `FancyEndpoint` is actually a JAX-RS resource class since it is also annotated with `@Path`).

[2018-10-25 12:29] pe-st commented on #26
Hello @EricWittmann
Thanks for the quick response. Your assumption was right... And yes, it works when put on the application class!

[2018-10-25 12:29] #26 closed

[2018-10-31 17:39] gastaldi opened #27 "Add a toString() to OpenAPIImpl"
I can see the following information in the logs:

[code]

It would be nice if OpenAPIImpl had a toString() to show useful information instead

[2018-10-31 17:43] gastaldi commented on #23
I'd remove the "response" suffix

- 204: "No Content"
- 201: "Created"
- 200: "OK"

[2018-11-01 12:06] #23 closed

[2018-11-01 15:01] EricWittmann commented on #27
Fixed in https://github.com/smallrye/smallrye-open-api/pull/29

Note: there wasn't much point to the log statement, even with a `toString()` on `OpenAPIDocument`.  It wouldn't have been useful. :)

[2018-11-01 15:01] #27 closed

[2018-11-14 16:23] EricWittmann opened #43 "Unit Test: JAX-RS interfaces without a concrete impl"
See this PR:  https://github.com/smallrye/smallrye-open-api/pull/42

We should add a unit test for this logic.

[2018-11-17 08:06] jmini opened #44 "Investigate MicroProfile OpenAPI 1.1"
With the release of [microprofile-open-api](https://github.com/eclipse/microprofile-open-api) planned mid December 2018, I have started to experiment with `1.1-SNAPSHOT` of the API.

You can find the code in the [1.1](https://github.com/jmini/smallrye-open-api/tree/1.1) branch of my fork.
I am not sure it meet all your standard and requirements, but at least it compiles (and the tests are green).

[2018-11-17 16:59] EricWittmann commented on #44
Hey this is great stuff, thanks!  I was planning on waiting for 1.1 of the spec to be released and then spend a week or so updating SmallRye OpenAPI, so this saves me a ton of work.  Really appreciate the contribution.  Let's go ahead and create a 1.1 branch for SmallRye so we can iterate and collaborate on this stuff.

I'll get that started on Monday...

[2018-11-17 17:00] msavy commented on #44
I also had a look at this earlier today and think it looks good — only bit that stood out is the method that’s pending removal, but that should be cleared up soon by upstream. 👍

[2018-11-19 02:08] EricWittmann commented on #44
Yeah sorry, by "Let's go ahead" I was referring to myself. :)  I'll create a 1.1 branch tomorrow AM.

[2018-11-19 07:42] jmini commented on #44
I have noticed a problem: `ModelConstructionTckTest` is green because none of the tests are run.
I guess this is a TestNG / JUnit issue...

Smallrye is running JUnit Surefire and the TCK Tests are written with TestNG (`@org.testng.annotations.Test`). The tests are ignored.

Have you an idea how to solve this?

---
When this test run, there will be some more work to do.

One thing that was changed

[2018-11-19 13:37] EricWittmann commented on #44
In your 1.1 changes you've changed the `ModelContstructionTckTest` so that it no longer extends `BaseTckTest`.  I think this link should work to the relevant portion of the diff:

https://github.com/smallrye/smallrye-open-api/compare/1.1...jmini:1.1#diff-bda46ad94feb21daec9ce72eb976e373

Try reverting that change.  I was wondering about that change....

[2018-11-19 13:37] EricWittmann commented on #44
Also - I have created a `1.1` branch in SmallRye now.

[2018-11-20 05:51] jmini commented on #44
Even if the diff is not working for me (probably it will be better once there is PR), the problem is that `ModelContstructionTest` in the official TCK is no longer an Arquillian test.
See the discussion here: https://github.com/eclipse/microprofile-open-api/pull/274

When I proposed this change in the TCK, I was wondering if this would be a problem for vendors...

On the other side, requiring a se

[2018-11-20 17:31] FroMage opened #46 "Support extensions to JAX-RS"
RESTEasy supports additions to JAX-RS, such as:

- `@FormParam`, `@QueryParam` etc… that have an optional parameter name and uses the annotated param/field name
- reactive return types such as RxJava `Single` or `Flowable`

Additionally, I know of applications that do not require `Application` classes to set up jax-rs resources.

It would be great to have extension points in smallrye-open-api to b

[2018-11-20 17:37] FroMage commented on #46
For example, see https://github.com/FroMage/redpipe/blob/master/redpipe-engine/src/main/java/net/redpipe/engine/swagger/RxModelConverter.java and https://github.com/FroMage/redpipe/blob/master/redpipe-engine/src/main/java/net/redpipe/engine/core/Server.java#L390

[2018-11-20 17:56] FroMage commented on #46
And for custom parameter annotations: https://github.com/swagger-api/swagger-core/blob/master/modules/swagger-jaxrs2/src/main/java/io/swagger/v3/jaxrs2/ext/OpenAPIExtension.java and https://github.com/swagger-api/swagger-core/blob/master/modules/swagger-jaxrs2/src/main/java/io/swagger/v3/jaxrs2/DefaultParameterExtension.java

[2018-11-21 10:56] FroMage commented on #46
I'll try to prototype something and do a PR.

[2018-11-21 12:59] EricWittmann commented on #46
Oh that'd be great!

[2018-11-21 15:02] FroMage commented on #46
Actually in the case of `@*Param` I can't solve this just with an extension as Jandex does not have the parameter names. I'll see if we can get Jandex to support this.

[2018-11-21 15:06] EricWittmann commented on #46
My understanding is that method parameter names are simply not part of the java bytecode.  Admittedly my knowledge in this area is quite stale, so perhaps that has changed.

[2018-11-21 15:10] FroMage commented on #46
It is part of the bytecode, with an option to Javac. https://docs.oracle.com/javase/tutorial/reflect/member/methodparameterreflection.html

[2018-11-22 06:21] jmini opened #48 "[1.1] ModelConstructionTckTest is not executing any tests"
As discussed here: https://github.com/smallrye/smallrye-open-api/issues/44#issuecomment-439798885

`ModelConstructionTckTest` is green because none of the tests are executed.
I guess this is a TestNG / JUnit issue...

If you revert some changes made with 24d4fd7d9eb85a27c612c2175a466cbfeeb29305 the test should fail.

The maven build is running JUnit Surefire and the TCK Tests are written with Test

[2018-11-22 13:53] EricWittmann commented on #48
Yeah I didn't get around to fixing that yet.  But I haven't forgotten!

[2018-11-27 15:59] EricWittmann commented on #48
Hey @jmini - can you have a look at this PR?

https://github.com/smallrye/smallrye-open-api/pull/49

[2018-11-28 13:56] EricWittmann commented on #48
Fixed in https://github.com/smallrye/smallrye-open-api/pull/49

[2018-11-28 13:56] #48 closed

[2018-12-17 07:42] jmini opened #56 "Investigate MicroProfile OpenAPI 2.0"
Now that we have a first milestone release of MP-OpenAPI 2.0 ([2.0-MR1](https://github.com/eclipse/microprofile-open-api/releases/tag/mp-openapi-2.0-MR1)), I think it would make sense to create a `2.0` branch in this repo to work on an implementation that is compatible with this version.

I have started to do it to validate some other stuff I am working on. This is interesting because it allows to

[2018-12-17 13:09] EricWittmann commented on #56
Branch `2.0` created.

[2018-12-17 13:13] kenfinnigan commented on #56
There's already a `1.1` branch, would it be better to just move `master` to be 2.x?

[2018-12-17 13:14] EricWittmann opened #57 "Run junit TCK tests on non-8080 port"
The tests start up a server on port 8080.  Instead, it should start the server on a random port and then use that.  Otherwise it's very possible to collide with something else running on the machine.

[2018-12-17 13:15] EricWittmann commented on #56
That's a really great point, considering we likely won't be making changes to the 1.0.x line anymore.

[2018-12-17 13:17] EricWittmann commented on #56
Although maybe it makes more sense to create a `2.0` branch and move the `1.1` branch to master...

What do you guys think @jmini and @msavy ?

[2018-12-17 13:19] kenfinnigan commented on #56
I don't think we want to maintain multiple branches of active development, so if there's going to be an MP OpenAPI 2.0 soon, then that should be what is developed on master.

[2018-12-17 13:19] EricWittmann commented on #57
Yeah that could work.  Thanks for the tip.

[2018-12-17 13:21] EricWittmann commented on #56
Side question, @kenfinnigan : Can we do releases of smallrye off any branch?  If yes, then having `master` === 2.0 probably makes sense.

[2018-12-17 13:32] EricWittmann commented on #56
Ah OK - so here's the state of things.  We're going to be releasing version `1.1` of the specification this month.  Once that happens, we'll need to update SmallRye to support that version of the spec.  That is the purpose of the `1.1` branch here in SmallRye.  When we do that, `smallrye-open-api` will go from version `1.0.4` to `1.1.0`.

Far off in the distant future of 2019, we will be releasing

[2018-12-17 13:35] kenfinnigan commented on #56
Ok, in that case I would say it makes sense for there to be a `2.x` branch now, and the `1.1` branch is moved into master.

We only really need a branch when absolutely needed. Right now we don't need a branch for 1.0.x as we can always take one from a tag later.

[2018-12-17 13:39] jmini commented on #56
No they will be a `1.1` release soon and this will be included in the next MP release (I have no idea when this will be)
See: https://github.com/eclipse/microprofile/issues/68

There is no ETA for `2.0` yet, this is work in progress.

---

I am already investing on `2.0` even if this is a Milestone release, because some changes made on this branch are required by some use case I have (which are no

[2018-12-17 13:42] kenfinnigan commented on #56
I'm fine with a `2.x` branch for future work.

I was originally thinking it should be `master`, before I knew there was a `1.1` coming soon

[2018-12-17 14:09] EricWittmann commented on #56
OK I think we have consensus.  I will do the following:

* Merge the `1.1` branch onto `master`
* Delete the current `2.0` branch that I created from the current master
* Re-create a `2.0` branch based on the new `master`

[2018-12-17 14:12] kenfinnigan commented on #56
One nit from me on this, can we make it `2.x`?

[2018-12-17 14:15] EricWittmann commented on #56
Yes. :)

[2018-12-18 12:50] EricWittmann commented on #56
OK sounds good.

As for the `2.0` work - once I get the branch created (just waiting on approval of my 1.1 merge) you can submit whatever you have for `2.x` and I can clean it up from there.

[2018-12-18 13:22] EricWittmann commented on #56
OK @jmini - the `1.1` branch has been merged onto `master` and there is now a new `2.x` branch.  I haven't done anything to the `2.x` branch except change the version in all the `pom.xml` files to `2.0.0-SNAPSHOT`.

[2018-12-18 13:22] #56 closed

[2018-12-18 15:43] msavy commented on #57
Okay, took a little longer than expected, but got it done. Turns out that there's a way to globally set the port in the client :-).

See #57

[2018-12-18 15:51] #57 closed

[2019-01-24 10:44] opeti opened #73 "Add schema reference of nested objects"
Currently only top level classes are added to schemas section of the document and only these schemas are referenced. However if there is a nested class, it is always flattened out instead of creating a schema and referencing it.

For example I have the following 2 classes and a JAX-RS resource:
[code]
[code]
[code]

Then the generated openapi documentation will look like:
[code]

If class Bar is u

[2019-02-09 11:05] sberyozkin opened #76 "Introduce a simpler version of ApiResponse annotation"
OpenApi has an [ApiResponse annotation](https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/annotations/responses/APIResponse.java) which, via its nested Content, can provide the information about the JAX-RS Response entity class.

While this annotation covers well for a case where Response dynamically sets different entity types per the

[2019-02-11 13:05] EricWittmann commented on #76
This is an interesting proposal that the specification should consider.  I'll raise it as a discussion point there before we do anything vendor specific.

[2019-02-15 12:49] jmini opened #77 "OpenAPISerializer: siblings value allongside $ref should not be serialized"
With a spec containing some values defined near to the `ref` attribute, the output of `OpenAPISerializer.serialize(openAPI, OpenAPISerializer.Format.JSON)` serialize those member, producing an invalid spec.

Example :

[code]

Produces:

[code]

In Swagger-Editor (online), I get this error:

In KaiZen-Editor (plugin for Eclipse), I get this error:

Expected would be:
[code]

In my opinion, even if

[2019-02-15 13:03] msavy commented on #77
Interesting. IMO, if it's invalid according to the spec then it should ignore those impermissible fields rather than produce an incorrect output. Unless we want to have a slop mode that allows it? I'm not sure I see that being valuable, though.

Does this only happen in schema `$refs`?

Happy or this to be assigned to me to fix.

[2019-02-15 13:14] jmini commented on #77
No the rule with `$ref` is common to all types implementing `org.eclipse.microprofile.openapi.models.Reference<T>`. If ref is set, then all other members of this object are illegal.

For reference: https://github.com/OAI/OpenAPI-Specification/issues/556

---

I tend also to think that the serializer should ignore them to produce a valid output rather than to output them because they are present in

[2019-02-15 13:21] msavy commented on #77
Sorry meant whether this error also happened for non-schema examples in our
implementation as I think different code handles that.

On Fri, 15 Feb 2019, 13:14 Jérémie Bresson <notifications@github.com wrote:

[2019-02-19 12:35] EricWittmann commented on #77
I don't have a strong preference about this.  So if we want to the serializer to ignore other properties when a `$ref` is present, that's fine.  I would just say that it's not really the serializer's job to ensure that its output is valid.  There are other mutually exclusive properties defined in the specification.  Are we going to have the serializer handle that as well?  Why do we think `$ref` i

[2019-02-20 06:45] jmini commented on #77
Thank you a lot for your feedback. I was myself not sure about this and I like your vision for the responsibility of the serializer.

I tend to be biased by what I know from other OpenAPI libraries, but we do not need to reproduce here all the mistake they have made.

Feel free to close this issue.

---
**About spec validation:**

I have created https://github.com/eclipse/microprofile-open-api/iss

[2019-02-20 15:58] EricWittmann commented on #77
OK the more I think about this the more I think that validation is definitely the responsibility of some other layer.  So I agree that we should close this issue as "will not fix" - but with the caveat that we intend to eventually implement validation of the resulting OpenAPI document so that errors such as the one(s) you point out in this issue will be reported in a sensible way.

If anyone disag

[2019-02-20 15:58] #77 closed

[2019-02-20 16:31] sberyozkin commented on #76
Hi @EricWittmann, thanks

[2019-04-03 03:38] gastaldi opened #83 "OpenAPI document initialized message is unhelpful"
When OpenAPI starts (in a quarkus project in this example), the log outputs a message like:

[code]

I erroneously thought that https://github.com/smallrye/smallrye-open-api/pull/29#discussion_r230066381 would solve this, but the message is still visible. It should be removed.

[2019-04-03 13:49] #83 closed

[2019-04-08 08:53] neon-dev opened #87 "Don't automatically sort object fields"
I wondered why my OpenAPI file under Thorntail didn't look like I expected it to.
Classes under `components.schemas` always have sorted fields instead of their original order in the Java class.
I think it's because you are using ClassInfo from Jandex internally to get [the field info](https://github.com/smallrye/smallrye-open-api/blob/70fe6cb3734082d4d220914b035e88081085732d/implementation/src/mai

[2019-04-08 12:51] EricWittmann commented on #87
This is a reasonable suggestion, for sure.  Thanks for the report.

[2019-04-08 14:33] neon-dev commented on #87
I created an issue over at Jandex: https://github.com/wildfly/jandex/issues/58
If they are willing to implement an option to the Indexer, it should be relatively easy to solve. Otherwise I see no clean way.

[2019-04-08 14:58] EricWittmann commented on #87
Agreed.

[2019-04-26 21:27] Dufgui opened #89 "OpenAPI hidden property not hidden"
The following POJO annotated with a property declared as hidden in OpenAPI (@Schema(hidden = true)) is still visible in the final OpenAPI document

public class MyOpenApiEntity {

  @Schema(hidden = false)
  private String visibleProperty;

  @Schema(hidden = true)
  private String hiddenProperty;

  public String getVisibleProperty() {
    return visibleProperty;
  }
  public String getHiddenProp

[2019-04-26 21:28] Dufgui commented on #89
originaly find in quarkus. here is my analysis:
during the scan (OpenApiDataObjectScanner), it 's not filtered in depthFirstGraphSearch neither in AnnotationTargetProcessor.processField. The method readSchemaAnnotatedField handle hidden  but what ever the hidden status, it's add after in the shema:
`parentPathEntry.getSchema().addProperty(entityName, fieldSchema);`

[2019-04-29 18:08] Dufgui opened #90 "Parameter with @Valid are not take account in schema"
When a JSR303 annotation is used on the RequestBody of REST operation, the paths.{operation}.requestBody is not generated in the swagger documentation

This code was tested with OpenJDK Runtime Environment (build 1.8.0_161-b14) and Quarkus 0.14.0.

[code]
This is the generated OpenAPI spec

---
[code]

I see it, it come from
OpenApiAnnotationScanner.processJaxRsMethod in the following block:
[code

[2019-04-29 18:14] gsmet commented on #90
To be more precise, it's supposed to exclude the parameters marked with a JAX-RS annotation but as soon as there is an annotation, it's considered excluded.

Only the parameters with proper JAX-RS annotations should be excluded.

[2019-04-30 13:20] MikeEdgar opened #92 "Empty path entries are created when all operations are hidden"
For a given JAX-RS resource class/path, when all operations are hidden using `@Operation(hidden=true)`, the resulting OpenAPI document contains an empty path to the hidden operation.

[2019-04-30 17:51] #92 closed

[2019-04-30 17:52] #89 closed

[2019-04-30 17:55] Dufgui commented on #89
Thanks

[2019-05-02 16:02] MikeEdgar opened #96 "Schemas generated from scanned objects missing type="object""
I am doing some work on #73 and I noticed that schema entries generated from scanned objects are missing the "type": "object" attribute in the resulting document. From what I have read, it seems that omission of the type technically results in the schema being very permissive, which I do not think is desired in this scenario.

What are the thoughts of the development team on having the annotation

[2019-05-02 18:36] EricWittmann commented on #96
I definitely think that adding the type property makes sense, unless it breaks the TCK.

[2019-05-08 14:29] neon-dev opened #100 "Enable APIResponse auto-generation with annotations present"
Methods returning a specific object type (with the exception of JAX-RS `Response`) do not need `@APIResponse` because of the auto detection, which is very handy.
Unfortunately you often cannot use that feature for some (most?) JAX-RS implementations. Because if you return `null`, RESTeasy for example returns 204 No Content and this cannot be declared without needing to also declare the `@APIRespon

[2019-05-14 01:16] MikeEdgar opened #103 "Supplement schema restrictions using Bean Validation annotations, if present"
Add constraint information to field-level schemas when Bean Validation annotations are available and when the information is not already specified in the `@Schema` annotation.

[2019-05-14 11:33] EricWittmann commented on #103
So this mean looking for e.g. `@NotNull` and whatnot and including that information in the generated OpenAPI schema, yes?

[2019-05-14 11:44] MikeEdgar commented on #103
@EricWittmann , that's right. This would help keep application code a bit DRYer. :)

[2019-05-15 10:51] jannispl opened #106 "Enum fields are included in schema"
I am trying to generate schema for an Enum type:
[code]

Unfortunately, currently this results in the `targetStates` field being included in the enumeration of the schema:

[code]

[2019-05-17 10:00] neon-dev opened #110 "Using @Schema disables enum value generation"
Annotating an enum field with for example `@Schema(required = true)` stops auto generation of enum value info.
This unfotunately cannot be restored by specifying `@Schema(implementation = MyEnum.class, required = true)`.
There should be a way. Best would be to not having to specify an implementation at all. I think the implementation should in fact be only overriden if you explicitly specify one.

[2019-05-17 12:45] EricWittmann commented on #110
It's interesting - we're going to be talking about default annotation property values in next week's Microprofile OpenAPI community call.  My current understanding of things is that the default values for all MP+OAI annotations are intended to indicate "not specified" and therefore what SmallRye **should** be doing in this particular use-case is to use the implementation class in exactly the way y

[2019-05-17 14:07] neon-dev commented on #110
Yes, I have to admit I've stumpled upon counter-intuitive behavior multiple times already.
For example using `@RequestBody(required = true)` currently behaves the same. Therefore you have to write `@RequestBody(name = "tokenRequestBody", content = @Content(mediaType = MediaType.APPLICATION_JSON, schema = @Schema(implementation = MyRequest.class)), required = true)` which is not convenient at all.

[2019-05-17 14:27] neon-dev commented on #110
By the way, since we're talking about default properties and I was just mentioning `@RequestBody`. It should be considered making required = true the default here, because more often than not you expect and depend on it.
This would make writing `@RequestBody(required = true)` obsolete, which I find a good thing. But that's just my take on it.

[2019-05-17 15:39] EricWittmann commented on #110
Any chance you would be willing to raise that as an issue in the spec?

https://github.com/eclipse/microprofile-open-api/issues

It may not be something the spec will need to address (e.g. it could be vendor specific) but it would be nice to have that conversation in the spec.

[2019-05-17 16:12] neon-dev commented on #110
Done. Have a nice weekend 😄

[2019-05-18 14:24] MikeEdgar commented on #103
I have a branch ready for this change, but depending on what happens with #99 I may need to do a rebase due a small overlap with how the BV constraints are scanned and the changes in 99. If this change is better incorporated first, I'll go ahead and open the PR.

[2019-05-20 11:57] #25 closed

[2019-05-20 11:57] EricWittmann commented on #103
Apologies - I dropped the ball on merging #99.  Done now.

[2019-05-21 09:58] neon-dev opened #115 "Transient fields are included in Schema"
Transient fields of Objects are not ignored for schema generation.

Example:
Test.java:
[code]
Generated openapi file:
[code]

[2019-05-21 10:11] msavy commented on #115
Whoopsie. Feel free to assign this to me.

Can anyone think of a situation where you might want to include a transient field? /cc @EricWittmann

[2019-05-21 10:57] neon-dev commented on #115
I don't know, but Jackson for example doesn't even serialize the field when explicitly annotating it with `@JsonProperty`.
So unless you have a custom serializer I believe you never want to include it. And for that case you could check if the annotation is present and not ignore it. So there's still a way to control it, even though default implementations currently wouldn't care.

[2019-05-21 11:18] neon-dev opened #116 "Custom schema is ignored if @RequestBody is referenced"
If I write this:
[code]
then everything is as expected:
[code]

But if I use a `ref` instead:
[code]
[code]
then the schema ref is incorrect:
[code]

[2019-05-23 12:30] neon-dev opened #117 "Order of tags is non-deterministic"
I'm not sure why, but running the same project on different systems (OSes) yields different tag orders and therefore different endpoint group order in Swagger UI.

### Example
Three classes, all in the same package:
[code]
[code]
[code]

### Results
Windows system:
[code]

Linux system:
[code]

[2019-05-23 13:22] MikeEdgar commented on #115
I haven't had a chance to look or do a test, but I'm curious what JSON-B (and even JAXB) does with these. I didn't see anything in the MP OpenAPI spec about transient. My opinion here would be to keep the scanner as inclusive as possible and allow the user to exclude fields with annotations.

There is an existing way to keep fields from appearing in the schema using `hidden = true`, plus the other

[2019-05-23 13:27] msavy commented on #115
I had the chance to briefly speak to the MP OpenAPI spec lead (albeit we're postponing the proper meeting until next week), and as far as we can tell there is no description of how to treat transient fields.

One thought was your suggestion -- that those fields could be manually labelled as hidden.

@kenfinnigan Any thoughts on this?

[2019-05-23 13:58] kenfinnigan commented on #115
I'm not OpenAPI expert, but my naive view is that it depends on what happens to the field.

If a transient field is not actually transferred, because it's transient, then it makes sense to automatically hide it.

[2019-05-23 15:29] EricWittmann commented on #117
I guess this must depend on the order in which the classes are processed... I am not sure offhand why that would be different depending on the system.  But I can imagine.

What might we do or even expect about this?

[2019-05-23 16:17] neon-dev commented on #117
Since even paths (and request/response-fields, though not intuitive see #87) are alphabetically sorted, I'd expect tags also to be ordered this way.

[2019-05-23 16:46] EricWittmann commented on #117
Ah ok.  Sorting them is certainly doable!

[2019-05-23 20:07] neon-dev commented on #87
This one is really bugging me so much that I today tried to work around it via reflection, but without success.
Since it can not easily be solved during runtime (except maybe via bytecode manipulation, which would be an overkill), I can only hope for an official implementation. Unfortunately the Jandex repo seems deserted, so we may not get feedback from there anytime soon.
Please let me know if y

[2019-05-23 20:07] neon-dev commented on #117
I guess there's no simpler alternative to get consistent results.
It was quite irritating seeing this difference between the two systems after just changing a class name and it's tag. Before that everything was identical, so I'm not even sure if my example above would reproduce the issue. Because my actual classes and tag names are obviously not A, B and C.

Surely some folks would like to have co

[2019-05-23 20:11] kenfinnigan commented on #87
https://github.com/wildfly/jandex is most definitely still developed and worked on.

If you need something fixed there, just raise an issue and it will be looked at

[2019-05-23 20:17] neon-dev commented on #87
I did on April 8th (see comment above) and asked for a quick update on May 17th, but without an answer and the repo did not receive commits for three months now. That's why I thought it's temporarily/no longer maintained.

[2019-05-23 20:19] kenfinnigan commented on #87
Apologies, missed that link the first time.

I know Jason has been traveling a lot of late, but can reach out about it

[2019-05-23 20:20] kenfinnigan commented on #87
If you're able to propose a solution a PR it's likely to get evaluated quicker

[2019-05-23 20:28] neon-dev commented on #87
Thought about that, but since the PR section looked similar in that regard I shied away from it.
Thanks for your advice and reasonable opinions in my last issues. Certainly appreciate it and I don't want to bug anyone too much with these things, since nobody other than me seems to mind :smile:

[2019-05-24 00:39] MikeEdgar commented on #115
I did a little more digging and JSON-B _explicitly_ prohibits serialization of transient fields (even if a getter is present with an annotation), which is also the observed behavior in Jackson. I am in agreement that transient fields should be hidden in the schema as well.

[2019-05-24 09:17] neon-dev commented on #87
As you proposed, I created a PR over at Jandex: https://github.com/wildfly/jandex/pull/61

If that gets merged and you don't want to add annotation driven control for sorting, this issue could be solved by changing one or two lines:
1. https://github.com/smallrye/smallrye-open-api/blob/cdfbdb688e2aa681f05f9b4f22463855a859b23b/implementation/src/main/java/io/smallrye/openapi/api/util/ArchiveUtil.ja

[2019-05-24 12:41] kenfinnigan commented on #87
I think there's a good chance the PR will be merged, and we can update open-api to use it

[2019-05-24 12:55] MikeEdgar commented on #116
@neon-dev , in your example with the implementation specified in the `@RequestBody` the result shows a generated `$ref` to `#/components/requestBodies/test`. Can you confirm that behavior?

[2019-05-24 13:45] neon-dev commented on #116
You mean `ref`, not implementation, right? So the second example, yes.
I just tried it again and got the following:
First example (directly specified `@RequestBody`):
[code]
Second example (`@RequestBody` using `ref`):
[code]

Also note that the second one says content type `*/*` instead of `application/json`. This changes to `application/json` after you annotate the method with `@Consumes(MediaTy

[2019-05-24 13:53] MikeEdgar commented on #116
Ok, that's what I would expect, thanks. The very first YAML output example had a `$ref` that threw me off.

[2019-05-24 13:58] neon-dev commented on #116
Yeah that was my bad, sorry. I guess I had the ref still defined in `@OpenAPIDefinition` or something like that. Was testing back and forth before finding the issue and creating this report.

[2019-05-24 14:51] MikeEdgar commented on #116
@neon-dev - FYI #118 should help, if accepted.

[2019-05-24 15:05] neon-dev commented on #116
Looks good 👍
Found a typo in your [code comment ](https://github.com/smallrye/smallrye-open-api/pull/118/files#diff-c9faacca95afa9ce31f5830290b39b6cR613) ("is" must be "if")

[2019-05-24 15:37] neon-dev commented on #110
This is somewhat related, so I wanted to ask before creating another issue:
Would it be reasonable to suggest making method parameters annotated with `@QueryParam` **not** required by default? Don't know if it's implementation specific or there's a spec that defines this.
I feel like in contrast to `@PathParam` or `@FormParam` they are often less essential.

[2019-05-26 18:26] EricWittmann commented on #110
That's an interesting proposition.  Definitely please raise it as a spec issue and we'll discuss in the next spec hangout.

[2019-05-26 18:27] EricWittmann commented on #115
I am also in agreement - they should be hidden by default.

[2019-05-27 08:39] neon-dev commented on #110
Was a bit unconfident but I hope I created the issue correctly. If not, let me know what to change @EricWittmann.

[2019-05-27 16:23] msavy commented on #115
Okay, cool. Seems like there's a consensus on this. Will take the approach suggested and make a PR shortly.

[2019-05-27 19:56] msavy commented on #117
Class file ordering of most elements is non-deterministic (especially since Java 7 and 8 -- previously in practice it was more stable, despite not guaranteeing it), due to hashing seeds, vagaries of compiler, and so forth. Just to be clear @neon-dev, I assume you find this annoying rather than causing technical issues?

JLS Chapter 13 describes this, if you're interested.

The order you declare st

[2019-05-27 20:04] neon-dev commented on #117
Yes, no technical issues. Just unexpected to see non-identical Swagger-UI lists for the exact same build version on different systems.
From user standpoint there should be some kind of consistent ordering. Be it by ordering classes by their fully qualified names before parsing, or simple alphabetical tag sorting afterwards. I'd be fine with both, since I don't care that much how exactly the order

[2019-05-28 14:15] EricWittmann commented on #110
It looks good to me - I've tagged it appropriately.

[2019-05-28 14:18] #115 closed

[2019-05-29 11:02] MikeEdgar commented on #110
I took a look and I see why the original issue regarding missing `Enum` values is occurring. I ran in to some strange behavior with enums myself so fixing this would be a help. I can do a PR if no one else is looking at it yet. Is the correct result that enumerated values in the `@Schema` annotation should override those in the `Enum` typed class, or are they meant to be merged with them? To me, t

[2019-05-29 11:55] EricWittmann commented on #110
Yes I think the values in `@Schema` are supposed to override.  And a PR would definitely be fantastic.  I don't think anyone has started looking at this yet.

[2019-05-30 16:38] #110 closed

[2019-06-04 12:49] MikeEdgar commented on #116
Fixed by #118. I missed adding the "fixes" reference in the PR.

[2019-06-04 12:51] MikeEdgar commented on #96
Fixed by #97.

[2019-06-04 12:51] #96 closed

[2019-06-04 12:52] MikeEdgar commented on #73
Fixed by #97, using the extension property `mp.openapi.extensions.schema-references.enable`.

[2019-06-04 13:08] MikeEdgar opened #121 "Include type parameters in generated schema names"
There was some discussion on generated schema names in #97. The current implementation in the `SchemaRegistry` uses a "name + 1" approach if a name collision occurs. The collision could occur in two scenarios - 1) if the same class name exists in multiple packages or 2) if the class name is a parameterized type.

This issue is addressing the second scenario. Consider the unit test `ExpectationWith

[2019-06-04 14:15] #116 closed

[2019-06-04 14:16] #73 closed

[2019-06-04 14:17] EricWittmann commented on #121
Brutally honest final sentence. :)

[2019-06-04 14:18] EricWittmann commented on #121
@msavy any thoughts?

[2019-06-04 17:36] msavy commented on #121
Just to understand, are you saying the current behaviour is wrong, or that we shouldn't test it?

[2019-06-04 18:34] MikeEdgar commented on #121
@msavy - I think it definitely should be tested. I don't think it's wrong either, but it is difficult to predict the results. The naming might be more easily followed by swapping the sequential suffix with the type parameters (or something else?) It's difficult to predict which occurrence of a parameterized type will be given which numeric suffix.

[2019-06-04 23:00] EricWittmann commented on #121
Any idea how difficult is it to change how the naming works?  I haven't looked at that stuff in awhile.

[2019-06-05 01:22] MikeEdgar commented on #121
This should be pretty simple. Right now, this line exists in `SchemaRegistry` (the `schemaName` value is what would have been provided by the client application via `@Schema`)
[code]

It could be updated as follows:
[code]

The change above keeps the sequential logic that happens afterward, but it starts out with a better chance of assigning a unique name in the case of parameterized types.

Of co

[2019-06-05 11:04] msavy commented on #121
Interesting idea.

I know the test cases I created are deliberately extreme, but I did it with the intention they encapsulate some of the more reasonable ones.

Couple of thoughts:

- For the more common cases, your name-with-type suggestions could work okay.
- Are there any edge cases where it might be vague and a reference might actually be less clear (i.e. by implying something is of the same t

[2019-06-05 11:09] MikeEdgar commented on #121
I opened a PR (#122) with the changes for review. When updating the tests I found and correct an issue where `Enum` fields were not being generated when schema refs are enabled and the enumeration is the value in a `Map`.

@msavy , I agree that thing can become vague once wildcards are in the mix. This area probably merits some additional thought on how to handle properly. Some sort of trigger poi

[2019-06-05 11:11] msavy commented on #121
I will have a think. This is why Eric and I avoided this problem on first
pass! It's definitely trickier than it looks, but it is good to start
delving into solutions now.

On Wed, 5 Jun 2019 at 12:09, Michael Edgar <notifications@github.com> wrote:

[2019-06-05 11:54] EricWittmann commented on #121
This is cool - @MikeEdgar is really getting deep into the weeds!  Might need to get a machete. :)

[2019-06-05 11:55] msavy commented on #121
Hmm, I seem to recall there's an annoying aspect of Enums where the local values defined by the programmer can be difficult to distinguish from the Enums generated by the compiler. I thought I'd fixed it though.

But yes, in general, programmer-defined statics should be ignored.

[2019-06-05 12:01] MikeEdgar commented on #121
It looks like the field flags should have enough information to distinguish (not sure about compiler-generated ones though).  See the table in the https://docs.oracle.com/javase/specs/jvms/se8/html/jvms-4.html#jvms-4.5. The `0x4000` value is defined in `java.lang.reflect.Modifier` but isn't public because it has different meanings depending on whether it's used with a class or a field, but it shou

[2019-06-05 12:14] #103 closed

[2019-06-07 11:30] #121 closed

[2019-06-09 07:52] michael-schnell opened #123 "PathItemImpl should consider multiple methods for same path"
Currently a second method on the same path simply overrides a previously parsed operation. It should be allowed to have the same path multiple times for different content types. Instead of simply setting the new operation, it should be checked wether it is a different content type.

Consider the following (valid) OpenAPI specification with two different content types ("json" and "x-www-form-urlenc

[2019-06-10 07:21] michael-schnell opened #124 "@ExampleObject with http/https URL should not lead to "#/components/" reference"
Currently the annotation
[code]
generates an entry like
[code]
A full URL starting with "http://" or "https://" should stay unchanged in the generated open api specification.

[2019-06-10 11:01] michael-schnell opened #125 "Allow registering custom schema types"
It should be possible to register your own schema types that will then be used during the annotation scanning process.

This would allow to provide schema information for external types. Sometimes you don't control types used in your components. This means you cannot add annotations for those types. In such cases it would be nice to use above feature.

Let's assume you want to provide your own sch

[2019-06-10 11:59] EricWittmann commented on #123
You are right - this is a clear bug in the current impl.  Thanks for the report.

[2019-06-10 12:02] EricWittmann commented on #125
In this use-case you are describing, is your code directly using a standard java UUID in its code and what you're looking to do is provide your own custom schema definition for it?  Did I get that right?

[2019-06-10 13:29] michael-schnell commented on #125
Yes, the above "MyCommand" object has a field "private UUID commandId;" In general the UUID was just an example for a value type that is not under your control (e.g. you cannot add annotations to it).

[2019-06-10 13:34] EricWittmann commented on #125
Understood - and I think it's a great idea for a feature.

[2019-06-10 13:46] michael-schnell commented on #125
Any idea on how to implent it? I could take over this task.

[2019-06-10 14:07] EricWittmann commented on #125
Well, I think a new interface called something like `TypeRegistry` or maybe `TypeMapper`, configured the normal way via MP Config:

https://github.com/smallrye/smallrye-open-api/blob/master/implementation/src/main/java/io/smallrye/openapi/api/OpenApiConfig.java

https://github.com/smallrye/smallrye-open-api/blob/master/implementation/src/main/java/io/smallrye/openapi/api/OpenApiConfigImpl.java

An

[2019-06-10 18:02] michael-schnell commented on #125
Take a look at the pull request if this looks good.

[2019-06-10 20:45] MikeEdgar commented on #125
Just to throw in my 2 cents on this discussion... I'm wondering if this same functionality can be achieved using the schemas named in `@OpenAPIDefinition`.

Consider this annotation on the `Application` class, adapted from the example above. If the `@Schema` provides an `implementation` class, the scanner can use that type information to register the class named by `implementation` and insert a re

[2019-06-10 21:09] MikeEdgar commented on #125
Just to add a bit more regarding a possible implementation, I think the only things required to change would be:

1) The change @michael-schnell is proposing to the `SchemaRegistry` where the index is only consulted in the `checkRegistration` method after the registry checks for an existing reference.
2) In `OpenApiAnnotationScanner`, method `readSchemas`, replace the simple `map.put` with the reg

[2019-06-10 21:23] MikeEdgar commented on #124
`JandexUtil.refValue` currently will append the `#/components/...` prefix for any value passed, unless it already starts with "#/". I wonder if the simplest way to solve this issue would be to only add the prefix if the value passed matches the pattern for component keys given the OAS documentation: `^[a-zA-Z0-9\.\-_]+$`

Reference: https://github.com/OAI/OpenAPI-Specification/blob/master/versions

[2019-06-10 21:33] MikeEdgar commented on #123
There may also be a second bug (really just a new feature) lurking here around the handling of `@FormParam` arguments being used as properties of a requestBody schema.

[2019-06-11 05:05] michael-schnell commented on #125
Good idea, but I fear using annotations would blow up the API definition. There might be many such definitions and the code will get soon unreadable.

After my initial push is processed, I'd like to add instead a default implementation for the CustomSchemaRegistry that simply reads a YAML resource and allows defining such custom schemas very easily. Could be like "openapi-custom-schemas.yaml" that

[2019-06-11 05:28] michael-schnell opened #128 "Enhance code quality and JavaDoc"
While digging into the code for creating my push, I found that there are many types and methods that do not have any JavaDoc comment. This makes it hard for a project newbie to understand what the code is actually doing. Also the code sometimes looks like it could be improved in regard to formatting. At least I wasn't able to find information about things like "line length", "tab policy" or "encod

[2019-06-11 10:37] MikeEdgar opened #129 "Expand parameter scanning beyond resource method arguments"
The list below is the full set of locations where we might find applicable parameter annotations to scan. The current implementation covers the first possibility.

Possible locations of `@Parameter` and JAX-RS parameter annotations
1) Resource method arguments
2) Resource method (`@Parameter` only)
3) Resource class fields and bean property methods (setters)
4) Fields and bean property methods of

[2019-06-11 11:14] EricWittmann commented on #128
Some very good suggestions here, for sure.  I wonder if @kenfinnigan has any thoughts about this based on what other SmallRye projects are currently doing in this area.

I'm usually not too worried about common formatting, as long as developers don't reformat stuff when they submit a PR I'm usually OK. :)  But I'm also not opposed to a set of common formatting rules.

Certainly at least rules for

[2019-06-11 11:17] EricWittmann commented on #129
In general I definitely think we should try to support as much of JAX-RS as possible.  The MP+OAI spec is pretty much deliberately vague on how implementations should scan for annotations because it's a pretty complicated area and there are many ways to do it.

I really love that this project is getting this level of attention - the first release was definitely intended to be a starting point, and

[2019-06-11 11:30] EricWittmann commented on #125
Using the annotations for this is an interesting idea.  I'm trying to think what will happen now if @MikeEdgar's example is actually attempted.  Clearly that custom UUID schema will be added to the components as a schema definition, but I assume we don't register that type for re-use later (based on  the value of `implementation`).  I suspect in order to actually use that type, you would need to a

[2019-06-11 11:35] EricWittmann commented on #125
@MikeEdgar - thinking more about your annotation proposal... would we need to worry about a use-case where multiple schema annotations used the same class as its `implementation`?  In that case it might be somewhat non-deterministic, or at least confusing, when looking up a registered schema by classname.

[2019-06-11 11:50] MikeEdgar commented on #125
@EricWittmann  - absolutely right. I think that is the case in either situation (annotation or custom registry), unfortunately. The registry is keyed off of the `Type` so both could have a situation where a secondary type overlays one that was registered first (maybe a good case for a warning message here). I don't think there is anyway around it since we are telling the scanner, "if you see class

[2019-06-11 12:00] MikeEdgar commented on #128
I think these are good suggestions also. I have been keeping myself from using organize imports to prevent unnecessary changes :-) Code formatting can sometimes become a holy war (spaces v. tabs, placement of braces, etc.), but I think the project is generally formatted nicely now (probably pretty close to the Eclipse defaults for Java). Whatever rules are chosen shouldn't be TOO different.

I wou

[2019-06-11 12:08] kenfinnigan commented on #128
There was a thread started a while ago (https://groups.google.com/forum/#!topic/smallrye/14_tXdct0B8) but don't think @sberyozkin has had time to look into it.

Adding formatting, code style, sonar cloud, etc are all things "on the list", but just haven't had time. Ideally I'd want them done in a way that they can be applied to all SmallRye projects

[2019-06-11 12:35] MikeEdgar commented on #129
This is definitely an interesting project and I'm having a great time contributing :-) I think MP+OAI has a lot of potential, both standardized and as extensions.

[2019-06-11 13:05] neon-dev opened #130 "JAX-RS parameters are all required by default"
The following code produces below openapi file
[code]

[code]

According to https://github.com/eclipse/microprofile-open-api/issues/355#issuecomment-496910929 I'd expect only @PathParam of JAX-RS to be automatically set as required. The parameter types in the example above should have no required property or with a value of `false`.

I couldn't find the reason for the current behavior while jumpin

[2019-06-11 13:26] michael-schnell commented on #128
Sounds good to have it for all projects the same way.

[2019-06-11 13:29] michael-schnell commented on #125
What do you mean with that?

[2019-06-11 13:38] EricWittmann commented on #129
Pretty soon we're going to be bootstrapping a new SmallRye project that does the same thing but with AsyncAPI.  In case that's interesting. :)

[2019-06-11 13:40] EricWittmann commented on #130
Thanks for the report - I'm sure it's a quick fix (he said hopefully). :)

[2019-06-11 13:54] michael-schnell commented on #125
There is another thing I figured out in the mean time: The reference name is always the full qualified name (like "java.time.ZonedDateTime"). It would be nice to allow the simple name to be used.

**Example**

Registering a type like this:
[code]
will generate the definition
[code]
and a refrence like this (when references are enabled):
[code]
Any idea on how we could enforce a shorter name like "

[2019-06-11 14:12] MikeEdgar commented on #130
@EricWittmann , @neon-dev - I think this is a timing issue. The issue has been fixed in master, but there has not yet been a release deployed to Maven central.

[2019-06-11 14:14] MikeEdgar commented on #125
@michael-schnell , provide a name (`setName`) when you create a `SchemaImpl` instance, prior to registration.

[2019-06-11 14:16] kenfinnigan commented on #128
And I forgot to add, if anyone wants to take on defining the formats, etc and then proposing them to the wider community that would be greatly appreciated

[2019-06-11 15:25] michael-schnell commented on #125
It was not the name, but using `DotName.createSimple(..)`. Only the componentized variant of the name works fine.

[2019-06-11 15:35] michael-schnell commented on #128
The idea of having a separate "smallrye-code-rules" project as mentioned in the discussion group sounds good. Can someone create such a project? I would take the task over to start with it after that.

[2019-06-11 15:50] MikeEdgar commented on #125
Ah, ok. Either approach should work. Did using the name still result in the fully qualified name?

[2019-06-11 15:56] michael-schnell commented on #125
Yes, using the "setName(..)" without "DotName.createComponentized(..)" didn't work. The name was not considered. It's because TypeKey simply uses "type.name().local()":
[code]

[2019-06-11 15:57] michael-schnell commented on #125
What should be fixed here?

[2019-06-11 16:13] michael-schnell opened #131 "@NotNull should lead to "required" in a data structure"
Using a @NotNull annotation in a data structure should create a "required" entry in the open api structure, but it currently does not.

Example
[code]
Should have "required" array entry:
[code]
But currently is:
[code]

[2019-06-11 17:18] MikeEdgar commented on #131
I stayed away from implementing `@NotNull` as equal to `required` in the OpenAPI scanner due to the distinction between `nullable` and `required` in the Schema interface. My reasoning was that since the MP API makes a distinction, it might be going too far to interpret `@NotNull` as both `"nullable": false` and `required`. In bean validation there is a single concept (not nullable == required), bu

[2019-06-11 17:20] MikeEdgar commented on #131
This is from OAI data types: https://swagger.io/docs/specification/data-models/data-types/#null

[2019-06-11 17:37] michael-schnell commented on #131
OK, was just looking at it from a Java perspective. As you said there @NotNull means actually the same as "required". Maybe it could be done using a new configuration property? I use @NotNull and @Nullable for almost all public API and it would be nice to avoid additional @Schema annotations at parameters and on objects.

[2019-06-11 18:15] msavy commented on #128
Agree with Michael. There's no point in causing a headache with the git
history by unnecessary cosmetic and formatting changes, or nits like import
order.

But having an overall standard format, especially for new stuff, is good.
As long as it's not too nagging.

On Tue, 11 Jun 2019, 13:00 Michael Edgar, <notifications@github.com> wrote:

[2019-06-11 18:46] EricWittmann commented on #130
See - I told you it would be a quick fix!  :)

Hey @kenfinnigan and @msavy - any objection to doing a release of this library?

[2019-06-11 18:47] EricWittmann commented on #130
We've got one more PR that needs to be reviewed first, I think.

[2019-06-11 18:51] kenfinnigan commented on #130
Was planning a release with config update, so we can wait for another PR

[2019-06-11 18:51] EricWittmann commented on #125
I'm holding off on merging the PR that addresses this until this discussion finishes up.

[2019-06-11 18:55] EricWittmann commented on #131
It seems to me that the JAX-RS annotation scanner should try to produce an OpenAPI document that captures the behavior of the JAX-RS app as best it can.  If `@NotNull` in JAX-RS means both `nullable: false` **and** `required: true` then it might be reasonable to generate that in OpenAPI.  Thoughts?

[2019-06-11 18:57] EricWittmann commented on #128
Yes I agree in general (it's just not something that really keeps me up at night).  So I'm fine with having it, just not willing to put any work into making it happen.  Fortunately @michael-schnell has volunteered to start something, if @kenfinnigan creates the repo.  :)

[2019-06-11 19:02] EricWittmann commented on #130
OK I'm just waiting on the completion of the discussion happening in https://github.com/smallrye/smallrye-open-api/issues/125 before I merge.

[2019-06-11 19:02] kenfinnigan commented on #128
I've created https://github.com/smallrye/smallrye-code-rules

I know @sberyozkin was looking to do something similar to https://github.com/quarkusio/quarkus whereby the formatting rules are implemented during the build so no formatting is needed to be made directly. Not sure if that needs a separate repo or not, we can always delete it if we find it isn't needed

[2019-06-11 19:24] MikeEdgar commented on #125
Ok, I was thinking about the case where `@Schema` is present on the type being used for the field. In this case `ZonedDateTime` would have needed the annotation, which obviously isn't the case :-)

[2019-06-11 19:26] MikeEdgar commented on #131
I agree, and I think that should be the default, but something that can be overridden using `@Schema`.

[2019-06-11 19:32] EricWittmann commented on #125
If a fully qualified name is being used instead of a short name, is everyone OK with addressing that after @michael-schnell's PR is merged (as a separate task)?

[2019-06-11 19:34] msavy commented on #131
Sounds a reasonable approach to me

On Tue, 11 Jun 2019, 20:26 Michael Edgar, <notifications@github.com> wrote:

[2019-06-11 19:57] MikeEdgar commented on #125
Good with me. I need to look back at the code that scans the field schemas before answering for certain regarding the generated `type` and `$ref` attributes. Either way, that's a different issue. The fully qualified schema name is something that custom registries do have control over by creating "componentized" `DotName`s.

[2019-06-11 20:09] michael-schnell commented on #125
Yes, should be separated as it's not caused by the code changes.

[2019-06-11 20:09] EricWittmann commented on #130
@kenfinnigan OK we're good to go for a new release. :)  At your convenience.

[2019-06-11 20:10] #130 closed

[2019-06-11 20:11] michael-schnell commented on #128
Yes, I will use quarkus as a starting point.

[2019-06-12 02:13] MikeEdgar commented on #106
Is there any case where the fields _should_ be picked up from the enum?

[2019-06-12 02:16] MikeEdgar commented on #90
Fixed by #98

[2019-06-12 07:17] jannispl commented on #106
Personally I think there should at least be a way to have the documentation represent the actual (de-)serialization logic, as implemented by (for example) Jackson.

I am not aware of any case where enum fields are included in the serialized form by any JSON object mapper.

*If anything*, then a use case would probably be aliases defined as `static`, referring to the same enum type:
[code]
However

[2019-06-12 11:02] #131 closed

[2019-06-12 11:04] #124 closed

[2019-06-12 11:04] #90 closed

[2019-06-12 13:32] michael-schnell commented on #128
OK, I did the initial commit for the formatter:
https://github.com/smallrye/smallrye-code-rules/pull/1

It's a jar file that can be added as a dependency.

The SmallRye parent pom must be enhanced in the "pluginManagement" section:
[code]
The projects can then add the dependency in their parent pom:
[code]
This allows a smooth integration in all projects.

I also added a README.md that is an adapt

[2019-06-12 13:42] michael-schnell commented on #128
OK, I moved some of the tasks to the new project:
https://github.com/smallrye/smallrye-code-rules/issues/2
https://github.com/smallrye/smallrye-code-rules/issues/3

[2019-06-12 18:13] kenfinnigan commented on #128
Thanks for starting this @michael-schnell!

Once we've done a release of the code rules, would you be able to submit a PR to `smallrye-parent` to add the plugin configuration and the two profiles we need for format and validate?

[2019-06-12 20:24] michael-schnell commented on #128
No problem. How will the first release for the code rules project be done?

[2019-06-12 20:41] michael-schnell commented on #128
How is able to add a token secret to the build server for Sonar Cloud? I can add the necessary Maven build plugins after that, but I will need the variable name for that secret.

See https://github.com/smallrye/smallrye-code-rules/issues/3

[2019-06-13 13:32] gsmet opened #135 "@BeanParam parameters are apparently ignored"
We just had this report in the Quarkus bugtracker:

**Describe the bug**
The openapi does not support @BeanParam.
If the rest service method uses the @BeanParam this attribute is ignored in the generated openapi.yaml file.

**Expected behavior**
The openapi.yaml contains also the information from the @BeanParam parameter object.

**Actual behavior**
The @BeanParam is ignored and not generated in t

[2019-06-13 13:33] MikeEdgar commented on #135
@gsmet - this should be covered with the fix for #129

[2019-06-13 19:21] kenfinnigan commented on #128
I've done a release of the code rules project, `1`.

I've created https://github.com/smallrye/smallrye-parent/issues/15 for adding it into the parent.

I also moved the sonarcloud issue to the parent repo as well.

We don't have a settings.xml or regularly deploy Maven SNAPSHOTs at present. Currently all builds are done on Semaphore, but am looking at alternatives

[2019-06-13 19:27] kenfinnigan commented on #128
Setup SonarCloud for this project and running a build of master, so will see what happens

[2019-06-13 19:31] michael-schnell commented on #128
OK, will do the parent plugin stuff tomtorrow.

As far as I understood the docs at Semaphore, it should be possible to configure it as with above maven build example. If Maven is configured correctly, the snapshot could easily be deployed to OSS Sonatype.

[2019-06-14 11:22] MikeEdgar commented on #123
@michael-schnell - in your example with the annotated `application/json` method, you have specified `required = true`. When the two content types are merged beneath the same path, the `required` flag will apply to BOTH content types, since it lives at a higher level in the OAI document (as a child of `requestBody`). I just want to mention that since it may be an unexpected side effect.

[2019-06-14 11:58] michael-schnell commented on #123
OK, thank's for the hint. I think it's not correct in the Java code and has to be removed. The open api YAMl is the correct definition.

[2019-06-14 16:08] michael-schnell commented on #128
Ok, now we have:
- New SmallRye [parent pom](https://github.com/smallrye/smallrye-parent) with formatter & organize import plugins
- SonarCloud [project](https://sonarcloud.io/dashboard?id=smallrye_smallrye-open-api) for this project

To do when the parent pom is released:
- Add new parent pom to this project's parent pom (will clean the code automatically with next local build)
- Add JaCoCo Maven

[2019-06-14 18:02] kenfinnigan commented on #128
Parent has been released, should start getting Dependabot notifications for updates over next day or so

[2019-06-14 19:57] michael-schnell commented on #125
I think we can close this. If something new comes up we can open a new task.

[2019-06-14 19:57] #125 closed

[2019-06-14 20:00] michael-schnell opened #136 "docs link on front mage leads to 404"
Somehow the "docs" link in the README.adoc is dead and leads to 404.

[2019-06-14 20:04] kenfinnigan commented on #136
That's my fault. I removed the Maven module the other day as there was nothing in it and it was causing an issue doing a release.

PR to remove from README would be appreciated

[2019-06-16 09:51] MikeEdgar commented on #129
Relates to eclipse/microprofile-open-api#357.

[2019-06-20 11:28] MikeEdgar commented on #128
An additional item needed for this is to enable the tests in the surefire plugin configuration of the implementation project. It's current missing *Test.java and *Tests.java.

[code]

[2019-06-20 12:53] kenfinnigan commented on #128
Should this be in parent plugin config for Surefire?

If so, care to open an issue there and maybe a PR?

[2019-06-20 12:55] MikeEdgar commented on #128
Possibly, but I believe each project would need to be updated to remove their own overriding configurations. I'll open that issue in the parent later today.

[2019-06-21 08:27] MikeEdgar commented on #128
@kenfinnigan, the changes I was proposing are actually the default for surefire: https://maven.apache.org/surefire/maven-surefire-plugin/examples/inclusion-exclusion.html.

Removing the overridden `includes` from this project's `implementation/pom.xml` should do the trick. I'll put in that a PR.

[2019-06-21 12:33] #123 closed

[2019-06-21 12:33] #129 closed

[2019-06-21 12:33] #135 closed

[2019-06-21 12:58] EricWittmann commented on #128
Now that the code formatting stuff is in, the maven build results in modified files.  I'm assuming we want to do a single commit with nothing but those formatting changes, yes?  @michael-schnell  @kenfinnigan is that the expectation here?

[2019-06-21 13:06] kenfinnigan commented on #128
That’s correct yes.

Best to avoid the dependabot parent update and do it manually with a pr

Sent from my iPhone

[2019-06-21 13:27] EricWittmann commented on #128
So basically this:  https://github.com/smallrye/smallrye-open-api/pull/140

[2019-06-22 05:30] michael-schnell commented on #128
Yes, single commit with only formatting code changes should be the right way to go.

[2019-06-25 18:37] michael-schnell opened #142 "Token for Sonar Cloud is visible for the public in the build"
There is a security problem with the build configuration: The private key for Sonar Cloud is visible in the build output. There should be some option in the build server to hide this information in the log output. And of course the password should be changed immediately.

`mvn clean verify sonar:sonar -Dsonar.projectKey=smallrye_smallrye-open-api -Dsonar.projectName="SmallRye Open API" -Dsonar.org

[2019-06-25 18:49] kenfinnigan commented on #142
It's the fact that the command is shown right, as opposed to the console output of the build?

[2019-06-25 19:16] kenfinnigan commented on #142
Should now be fixed

[2019-06-25 19:16] #142 closed

[2019-06-25 19:16] kenfinnigan commented on #142
Thanks for reporting it!

[2019-06-26 13:23] FroMage opened #144 "RESTEasy body extensions are not supported"
We've had reports from Quarkus users that RESTEasy body param types/annotations as declared in https://docs.jboss.org/resteasy/docs/1.1.GA/userguide/html/Multipart.html which SmallRye-OpenAPI did not properly read.

Would you be willing to consider them (like the RESTEasy param annotations), or provide extension points so that we can support them in Quarkus?

[2019-06-26 15:02] #136 closed

[2019-06-26 18:56] MikeEdgar commented on #144
It seems reasonable to me. I think there is a high likelihood that smallrye-open-api and Resteasy will be running together in most cases. Are there any issues open documenting the user expectations for the OpenAPI output?

[2019-06-26 20:15] EricWittmann commented on #144
There are no guidelines that I'm aware of. The specification is notably vague on this subject, which I think is mostly good.  I think we should support as many resteasy use cases as possible/reasonable. So +1 from me.

[2019-07-01 08:02] neon-dev opened #147 "Change Java Date type format to DATE_TIME"
java.util.Date is set to be a simple date without time:
https://github.com/smallrye/smallrye-open-api/blob/ca9c8b35c35d18fd119e4031ffa7033f66e78a91/implementation/src/main/java/io/smallrye/openapi/runtime/util/TypeUtil.java#L110

Any (de)serializer that I know maps them to dates with time, never only the date part. Because of the definition of type `date`, Swagger-UI for example generates bad exam

[2019-07-01 08:11] msavy commented on #147
I implemented it that way because of the spec requirements:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#dataTypeFormat

I *think* I interpreted it correctly, but would be very glad to double
check and hear your view.

Also open to discussing this at the spec level if necessary, as I'm
involved there also.

On Mon, 1 Jul 2019, 09:02 neon-dev, <notifications@github.co

[2019-07-01 10:53] neon-dev commented on #147
I'm not sure I understand the what requirements you mean. From what I've read it looks like there are no rules which internal data types are tied to what formats (which makes sense). Only how `date` and `date-time` formats should look like.
So I currently don't see a restriction that would prevent proposed change. And I think if a Java type contains info for both date and time, it should be handle

[2019-07-01 11:49] MikeEdgar commented on #147
I think the mapping for `java.sql.Date` is correct based on the semantics of that type but there may be room for debate around `java.util.Date`. In any case, providing a way for applications to specify a global override for types might make sense (without changing any current defaults).

Perhaps a configuration extension such as the following that would be used by `TypeUtil`?
`mp.openapi.extension

[2019-07-01 11:58] MikeEdgar commented on #144
@FroMage - please review PR #148 and let me know if the test case expectations cover the reports that you're aware of.

[2019-07-01 12:14] neon-dev commented on #147
You're totally right regarding java.sql.Date, @MikeEdgar. I removed it from the initial post of this issue.

[2019-07-01 15:53] msavy commented on #147
Was just discussing this with @EricWittmann

I think I was interpreting the spec incorrectly by mapping `date` in the OAI sense strictly to `Date` in Java.

My thinking is now: change `java.util.Date`,  and @MikeEdgar's idea to allow people to change it back and/or provide their own mappings.

WDYT?

I'll have a look at it and check it doesn't break anything.

[2019-07-01 20:01] #106 closed

[2019-07-01 20:01] #43 closed

[2019-07-02 11:31] MikeEdgar commented on #87
A few ideas on how to address this without only relying on the order from Jandex. These should all put the developer in control and not rely on an implementation detail.

1. Request a new `String[] propertyOrder` attribute in `@Schema`. Requires an MP-OAI change - long term solution.
2. Support for commonly-used annotations intended for ordering
    - `javax.json.bind.annotation.JsonbPropertyOrder

[2019-07-02 12:09] MikeEdgar commented on #128
Currently, PRs seem to apply to the main SonarCloud analysis, which doesn't represent the current state of the project. It looks like SonarCloud and the build command can be configured to support branches and pull requests: https://sonarcloud.io/documentation/analysis/pull-request/

[2019-07-02 18:02] EricWittmann commented on #87
These are all great suggestions.  My opinion is that (2) is the best in the short term.  We can discuss (1) in the MPOAI community.  I'm less enthusiastic about (3) only because I suspect it wouldn't be used often.  But it would solve the problem where the target code cannot be modified.  We can, of course, support all of these options eventually - we just need to decide on order of preference.  F

[2019-07-02 18:05] EricWittmann commented on #87
I do also think we should continue to try to get the change merged in jandex.  I'm guessing no one disagrees with that. :)

[2019-07-02 18:07] msavy commented on #87
Bringing this one up at the spec level seems the ideal solution to me. We should figure out the specific morphology over there (perhaps you can join us @MikeEdgar ?), but this isn't a bad suggestion.

Side node: I'm generally against adding options unless we figure we really need them; it's just going to become a maintenance and documentation pain in the long term (and eventual fun of conflicting

[2019-07-02 18:10] EricWittmann commented on #87
Normally I agree with you @msavy about config options.  But what do you think about my comment regarding code that cannot be easily modified to include another annotation?  Valid use-case?

[2019-07-02 19:02] kenfinnigan commented on #87
I'm all for pushing ideas up to the MP spec level to resolve, but let's not wait on that ceremony to include changes into the implementation

[2019-07-02 20:25] msavy commented on #87
@kenfinnigan Yes, I think option (2) can be done immediately.

@EricWittmann You make a good point on the unmodifiable source/transitive dependencies. Although, I do wonder how wise it is for users to go down that track; it could get fragile very quickly, as there would be the propensity for the config to drift from the source and there would be no easy way to spot that (especially for those libra

[2019-07-02 21:11] neon-dev commented on #87
If I might add one thing regarding unmodifiable sources. Since we are (hopefully always) talking about interfaces of which the developer has full control, it should be questioned why they would directly read or write 3rd party entities over which they may not have control (de-/serializing wise). In my opinion endpoints and their input/output should be well-defined.
I think the suggested solution f

[2019-07-03 10:16] MikeEdgar commented on #87
I'm happy to join in or open an issue at the spec level.

I've been thinking more about this one and think there needs to be a good definition around the behavior. Also, as you said @msavy , it should pre-align with any potential standard. The situation gets a little messy when inheritance is involved, in particular. I haven't done any experimentation to see how Jackson or Yasson output looks, but

[2019-07-03 10:20] MikeEdgar commented on #147
Is this another one that should be raised to the spec level? I.e. configurable support for global type mappings?

[2019-07-03 14:45] EricWittmann commented on #147
It can't hurt to have the discussion there!

[2019-07-03 14:48] msavy commented on #147
I think this is a great idea because at the moment it's a guessing game and
whack-a-mole.

We could even add add annotations and/or API registration points to allow
users and runtimes to say a particular type should be a primitive

On Wed, 3 Jul 2019, 15:45 Eric Wittmann, <notifications@github.com> wrote:

[2019-07-04 14:07] atzoum opened #149 "OpenApiDataObjectScanner doesn't handle methods"
There is already a relevant TODO in the source code, wondering if this is planned to be implemented at some point. I consider it to be a common use case to have to add OpenAPI schema annotation on a getter method (e.g. when dealing with interfaces) and swagger's scanner seems to support it as well.

https://github.com/smallrye/smallrye-open-api/blob/a87b278e7abe93eada7028a56c494c848f8496de/impleme

[2019-07-11 12:01] MikeEdgar commented on #149
This request dovetails nicely with the usage of annotations for sorting schema properties (#87). @atzoum, would you mind leaving an example model and expected output?

[2019-07-11 12:06] msavy commented on #149
One complication to keep on mind is that you generally don't know the name
of method arguments (without additional compiler flags). That was one of
the reasons I didn't do this on first pass.

I know some other frameworks use secondary annotations and similar to
provide this. It's always a bit messy though and I don't think there's a
standard for this in the spec.

On Thu, 11 Jul 2019, 13:01 Micha

[2019-07-11 12:16] MikeEdgar commented on #149
The way I'm thinking about this one is to use the methods based on the method name, in alignment with the bean property convention. E.g., all three of the elements below should be considered together.

[code]
Jsonb also requires that getters/setters without an associated field be serialized/de-serialized, so it seems none of the elements are required in all cases.

[2019-07-11 12:24] atzoum commented on #149
@msavy why are method argument names important in this context? Getters don't have arguments.

The following interface
[code]
Should produce something like
[code]

[2019-07-11 12:27] EricWittmann commented on #149
!! I was just reading @atzoum's comment and wondering where the description for `anotherField` came from when the comment was edited, GitHub auto-updated the content, and the description disappeared.  That was fantastic timing.

In any case, I agree about standard java bean methods - those should be handled as expected based on bean semantics.  That seems pretty straightforward.

[2019-07-11 12:31] msavy commented on #149
Okay, that sounds good! Was thinking of more complex cases that probably
aren't necessary if we just use that pattern.

On Thu, 11 Jul 2019, 13:27 Eric Wittmann, <notifications@github.com> wrote:

[2019-07-14 19:01] cghislai commented on #100
I hit this bug when trying to specify a response header for a resource returning a pojo array - see https://github.com/eclipse/microprofile-open-api/issues/362 for details.

I think a response schema should be generated if not explicitly overridden with the `@ApiResponse#content` parameter. For my use case, I only intended to add a specific header documentation, but then got stuck because there wa

[2019-07-14 19:24] MikeEdgar commented on #100
+1 to supporting a generated `content` if not specified in a method's `@ApiResponse`. However, I believe this issue is dealing with auto-generating additional status codes (`@ApiResponse(responseCode = "...")`

[2019-07-14 20:03] atzoum commented on #149
@MikeEdgar thanks for instantly picking this task up! Ι did some comments in your PR, its good to see that you are now taking into consideration both Jsonb and Jackson annotations.

[2019-07-14 20:28] neon-dev commented on #100
You are right @MikeEdgar, this issue was created because defining an additional response clears the auto generated one. But the issue @cghislai describes is closely related and the proposed override logic would greatly reduce the impact of this issue here. Because then adding a `@ApiResponse(responseCode = 200)` would in fact be enough to add back the missing default auto generated response. So @c

[2019-07-15 08:56] msavy commented on #147
I've sketched out an initial implementation of this and look forwards to discussing at the next meeting (today, I believe).

[2019-07-15 10:27] MikeEdgar commented on #100
I think generating `content` if missing from `@ApiResponse` is a great idea. I hesitate a bit regarding adding response codes if the application has already provided them - particularly because there is no way to remove them other than with a filter.
@cghislai , @neon-dev  - would you mind giving some example annotated methods and expected results for the cases you're thinking about?

[2019-07-15 20:46] cghislai commented on #100
For my use case, in this example:
<details>
  <summary>Pet resource</summary>
 <pre>

[code]
</pre>
</details>

I was expecting the same output for the /a, /b and /c endpoints:
<details>
  <summary>get /pet /c</summary>
 <pre>

[code]
</pre>
</details>

Just overriding the default response generated:
<details>
  <summary>get /pet/d</summary>
 <pre>

[code]
</pre>
</details>

As for how to differen

[2019-07-16 01:07] MikeEdgar commented on #100
Thank you for the examples, that really helps. Now for a few additional questions.
1. @neon-dev , what would you do to address your original problem where you're looking for both a `200` and `204` response? Would you use `@ApiResponse(responseCode = "204")` and then also use an empty `@ApiResponse` and expect the `default` entry to be generated with what was previously located in the default `200`

[2019-07-16 05:56] cghislai commented on #100
I understand that smallrye would generate a response in the absence of any
@ApiResponse, or for those with responseCode="default". With that in mind:

2. The description field is required in the yaml document. Maybe using
another description like "Default response" would be better to produce
valid output in the absence of any annotation.
3. I would restrict auto generation to the minimum required

[2019-07-16 10:54] neon-dev commented on #100
@MikeEdgar as for your first question:
I would actually write `@ApiResponse(responseCode = 200)`. This should work exactly like defining an empty `@ApiResponse` (just like in @cghislai's example for `get /pet/e`) but generate it as "200" instead of "default" in the openapi yaml file.
So I'd expect the underlying logic to always try to infer missing info from the method and complete it automaticall

[2019-07-16 11:34] MikeEdgar commented on #100
Based on a previous comment here and [the OpenAPI response spec](https://swagger.io/specification/#responsesObject), I think the `204` entries need at least a `description`.

Reading the description of the `default` response, I think using it in auto generation might be a misuse. My reading of that field's purpose is that it should be used to document responses that are out of the norm or otherwis

[2019-07-16 12:00] neon-dev commented on #100
This sounds very reasonable. I just omitted the `204` descriptions for the example. Regardless of the specification, it always makes sense to define a description when there is no self explanatory content.

Just one thing is unclear to me:
Will responseCode "200" with content become the new auto generated response info if no annotations are present? Because I agree that "default" should be the "if

[2019-07-16 12:06] MikeEdgar commented on #100
"200" would be used for non-void methods, and 201/204 would be used for void methods, depending on the HTTP method the Java method is annotated with. This part is unchanged from current behavior.

[2019-07-17 12:01] EricWittmann commented on #100
So I've been reading this and trying to wrap my head around everything.  I'll try to describe my understanding of the various issues (in no particular order) here.  :)

The easy one is missing descriptions on auto-generated responses (with no annotations present).  I agree that we should add some simple description so that the generated output is actually valid.

The hard part is how to combine an

[2019-07-17 15:15] neon-dev commented on #100
@EricWittmann by "method that is `null`" you mean `void` typed methods?

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html states some things about when to return which status codes.

From what I understand `201` actually means that a resource has been created which can be identified by an URI:

If a resource has been created on the origin server, the response SHOULD be 201 (Created) and cont

[2019-07-17 16:55] msavy commented on #147
@MikeEdgar -- Have created a topic/ticket regarding this. Not sure if GH will notify you about the reference, so just letting you know: https://github.com/eclipse/microprofile-open-api/issues/364

[2019-07-17 17:19] EricWittmann commented on #100
Yes I meant **void**.  I can't believe I made that mistake!  I had "null" on my brain from another task I was working on I think.  At least that's going to be my excuse.

I have updated the comment to reflect that intent.

[2019-07-17 18:04] EricWittmann commented on #100
Good information about the response codes.  It seems like we're splitting the conversation a bit here - but it's a good discussion.  Perhaps we should break off the "what response code to use when" into another isssue?

As for the auto-generation of response information part, I'm starting to be even more convinced that the current implementation might be the right one after all.  Essentially, we'l

[2019-07-17 19:33] neon-dev commented on #100
An `implementation` property would definitely be very useful for methods where the return type doesn't equal the payload type (`Response` for example). For most cases the whole `@Content` construct is unnecessarily large and complex and specifying an implementation class should suffice. But I think this should probably be a separate issue on the spec level.

The problem which we mainly discussed h

[2019-07-17 22:29] EricWittmann commented on #100
I'm not sure that adding a `implementation` is necessarily a separate issue.  My hope in suggesting it was to find a way to keep the rules simple while also making it reasonably easy to re-specify everything in annotations.  So your example could look like this:

[code]

I suppose lists/arrays would need to be handled in some way, but you get the idea.  That's pretty close to your desired state!

[2019-07-17 22:58] neon-dev commented on #100
Yup, it depends on what we all agree on. Didn't think about lists yet for the `implementation` property, good point. Also this property alone wouldn't suffice if your endpoint or the containing class is annotated with `@Produces` and a mediatype other than wildcard, which mine usually are (-> `application/json`).
So I'm still not sure if this property is ideal for cases like here. If I remember co

[2019-07-17 23:39] MikeEdgar commented on #100
This is what I am thinking also - how can the annotation model best complement the current auto-generated response?

The current implementation will auto-generate `200`, `201`, or `204`. As @neon-dev suggested, `201` _may_ be making an assumption that the app is designed according to REST best practices, etc. If we are OK with that current state of the statuses, the next question is how (and when)

[2019-07-18 19:49] EricWittmann commented on #100
I think I'm on board with this with one caveat - if I want to provide my own responses via annotations without anything be auto-generated (and merged), what do I do?  Based on your explanation I think I would do this:

[code]

Because that won't compile.  The `@APIResponse` annotation is repeatable, but the `@APIResponses` annotation (which is the container annotation for `@APIResponse`) is not.

[2019-07-18 22:49] MikeEdgar commented on #100
These are a few scenarios with descriptions for illustration.

[*Change in behavior from current*] Suppress all auto-generation. This would be used in the case where an app may be defining the responses entirely elsewhere, e.g. the static file.
[code]
[*Existing behavior*] Suppress the auto-generated `200` by providing **all three** elements that would otherwise be generated: `responseCode = "200"

[2019-07-19 07:47] cghislai commented on #100
Wouldn't it make sense to provide an implementation-specific annotation, like `@GenerateApiResponse`, that would allow to explicitely overwrite/amend the generated response?
My concern is that, as pointed by some people already, most mechanism discussed here for overriding are not intuitive at all and looks like some hidden feature most people would hit without any intent.
I was thinking the prese

[2019-07-19 11:00] MikeEdgar commented on #100
A custom annotation would be OK, but only if we knew that a standardized version is coming in the future (in my opinion). While it might not be the most intuitive approach, we could probably reduce confusion by having documentation prominently posted about how to use it.

Documentation in general would probably be a pretty big help for this library. There used to be a docs project that perhaps cou

[2019-07-19 11:38] EricWittmann commented on #100
Thanks for the examples, @MikeEdgar - you've answered my specific question about disabling auto-generation while **also** providing my own responses via annotations.  The answer is that you can't - so in that scenario you have to fully define/override all aspects of the response.  I suppose you could null out certain properties if that's really what you want (i.e. `content`).

I think the custom a

[2019-07-23 12:11] #144 closed

[2019-07-24 20:32] msavy commented on #147
@MikeEdgar @EricWittmann appreciate your opinion on this. Which of the following impls do you prefer (all are annoying as I need to add config state where stuff was fully static before)?

Solution 1: pass the config to static methods. https://github.com/msavy/smallrye-open-api/commit/4a15bf036e6d2979b3f116e8da0b45f13dbf3d68

Solution 2: add a callback mechanism that allows things statically intere

[2019-07-25 02:00] MikeEdgar commented on #147
To start, I think `java.time.LocalDate` is definitely a plain date (without time).

Solution 3 seems interesting, depending on how coupled the configuration is with the components that use it. It might be handy to add a couple of factory methods to `OpenApiConfig` - one with a `Config` argument (e.g. `newInstance(Config config)` for unit tests to initialize an instance), and one with no arguments

[2019-07-25 10:35] msavy commented on #147
Mike -- Solution 2 works with all unit tests (all green). It uses the same global initialiser as the main test-suite already does (i.e. OpenAPIDocument is initialised and passed in a config before the tests start) -- I just copied it over.

Good point you might want to re-initialise/change config: we can easily change that by using a list of callbacks instead of a stack, and calling them whenever

[2019-07-25 10:38] msavy commented on #147
Also great feedback on the other 2 items -- thanks. Will wait for other comments before weighing in myself.

[2019-07-26 15:37] EricWittmann commented on #147
I was prepared to prefer solution (1) as that is what Marc and I talked about and I didn't think it would be quite as impactful as it is.  After seeing the scope of the changes, I definitely think that either (2) or (3) are much better.  I don't have a strong opinion between the two, although I'm not sure I see the benefit of a callback mechanism vs. just having a static holder of some kind.  The

[2019-07-27 06:05] michael-schnell opened #157 "Snapshot repo & Release of "smallrye-open-api-1.1""
Is there any Maven snapshot repository available that has "smallrye-open-api-1.1" and when will this code officially be released?

[2019-07-28 08:51] msavy commented on #147
@EricWittmann The reason I went for the callback is that I found the platform statically sets the `OpenApiDocument.INSTANCE.config()` config at some arbitrary time after startup; so from the TypeUtil's static{} initialiser's perspective, the global config was still null at when it was run. So I inverted the call such that config is injected when it is finally injected.

However, your idea of havin

[2019-07-28 23:25] kenfinnigan commented on #157
1.0.2 of `smallrye-open-api-1.1` is already available in Central: https://mvnrepository.com/artifact/io.smallrye/smallrye-open-api-1.1

[2019-07-29 11:05] michael-schnell commented on #157
Cool. Didn't find it via the Maven Central Search...

[2019-07-29 11:05] #157 closed

[2019-07-29 13:19] EricWittmann commented on #147
Right - I get why the callback is needed to solve the static initializer issue - but yeah I was thinking it's probably even a little simpler to just have a single static instance of the config somewhere and just always reference that.

[2019-07-31 19:45] #149 closed

[2019-08-01 21:36] MikeEdgar commented on #117
I'm curious what the group's thoughts are on this one. Should there be a general approach to ordering top-level object keys (i.e. tags, sub-items in components) as is done with paths? Any considerations with how the scanned items are merged with the static file items? I would expect the ordering to apply across all sources if done at all. My personal thought is that ordered entries would be "nice

[2019-08-02 13:40] EricWittmann commented on #117
I think sorting/ordering for **certain** elements by default may be desirable.  Tags (in this use-case at least) seems to make sense.  I'm trying to work through whether ordering/sorting is always a good idea or not.  Hard to say without more use-cases documented.

I do think that if there is a static file defined, then any ordering in the static file should be maintained.

[2019-08-09 08:56] #100 closed

[2019-08-09 11:11] MikeEdgar commented on #117
I'm mainly thinking about only tags and the maps directly under components. Rethinking what I said about the static file, you're right that the order there should take precedence.

[2019-08-14 11:07] MikeEdgar commented on #15
I was thinking about this enhancement and I was wondering if anyone with MP JWT history knows why `groups` was chosen instead of `scope` as the claim to hold user "roles"? It seems out of alignment with the OpenAPI document  format. That is, the runtime requires (by default) that the roles be located in `groups`, but broadcasts in the OAI that they should be scopes.

@sberyozkin, any thoughts?

[2019-08-14 19:59] greyskyy opened #165 "OpenApiAnnotationScanner throws StringIndexOutOfBoundsException on primitive array types"
Given a JAX-RS response class that provides data as an array of primitives, an exception is always thrown.

[code]

Then a given a simple jax-rs service
[code]

This returns the following stacktrace
[code]

The exception appears to come from [FilteredIndexView line 70](https://github.com/smallrye/smallrye-open-api/blob/master/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/Filtere

[2019-08-15 11:49] MikeEdgar commented on #15
Regardless of the naming differences, this would be very useful. I think a reasonable approach to this is to only use the information from `@DeclaredRoles` and/or `@RolesAllowed` when a `@SecurityScheme` has been provided in the annotation model where the `type` is `OPENIDCONNECT` or `OAUTH2`. There may be too many required/context sensitive values in the security model to generate it without addi

[2019-08-15 12:17] EricWittmann commented on #15
I think that's a very good approach, and if anything is missing (I can't think of anything) then can be added later.

[2019-08-15 12:52] #165 closed

[2019-08-22 17:10] #15 closed

[2019-08-22 17:14] sberyozkin commented on #15
@MikeEdgar, I'm not aware why. But we can map pretty much any claims now to the `groups`claim in `smallrye-jwt`

[2019-08-24 01:17] soberich opened #168 "Merging enum schema with "YES" / "NO" literals gives "true" / "false" in resulting yaml."
Hi,

Leaving openapi.yaml in `wepapp/META-INF/` with
[code]

gives
[code]
THOUGH in `examples` are not affected and preserve "YES" / "NO" values for schemas' properties.

[2019-08-24 11:51] MikeEdgar commented on #168
@soberich , `YES` and `NO` are [reserved words to represent boolean values](https://yaml.org/type/bool.html) in YAML. Try to put quotes around them in your openapi.yaml file and they should be output as you expect.

[2019-08-24 12:19] soberich commented on #168
Cool, I didn't now! That one is also generated to that path. I have two rounds of OpenApi gen with completely different tools. I'll report there.

[2019-08-24 12:19] #168 closed

[2019-10-01 19:35] kenfinnigan opened #184 "Support traversing up the class hierarchy for JAX-RS resources"
Currently, if annotations are added to methods on a parent class or interface they are not picked up by the scanner.

It might be worth adding support for this as it seems a common pattern

[2019-10-01 21:04] MikeEdgar commented on #184
@kenfinnigan, do you mean on JaxRS resources or models? It SHOULD be supported for models in recent versions.

[2019-10-01 22:48] EricWittmann commented on #184
He's referring to the resource classes.

[2019-10-02 10:29] MikeEdgar commented on #184
I've started taking a look at this and it shouldn't be too complicated, except for the parameter processing.

Provided the following interface method
[code]

And the following implementation:
[code]
Which of the following would you expect?
1. The parameter information from the parent
2. The parameter information from the child
3. The parameter information from the parent, merged with the child's

[2019-10-02 12:01] EricWittmann commented on #184
(3)

[2019-10-02 12:25] MikeEdgar commented on #184
I was afraid that might be the answer :-)

[2019-10-02 15:32] EricWittmann commented on #184
Yeah. :)  You asked what I would expect, not what I think we should do.  If it's significantly easier to implement, I think (2) would be sufficient.

[2019-10-02 18:42] gastaldi opened #185 "java.lang.OutOfMemoryError: Java heap space when OpenAPI is enabled and enums are used in a JAX-RS endpoint"
As reported in https://github.com/quarkusio/quarkus/issues/4329, an OOME is thrown when the quarkus-smallrye-openapi extension is used and a JAX-RS endpoint has an enum as a query parameter. It works if smallrye-openapi 1.1.3 is used

[2019-10-03 07:30] gsmet commented on #185
@EricWittmann fwiw, we had reports from 2 different users on this just after our release.

Do you think we could get a fix for our next release (probably next Wednesday)? If not I’ll downgrade to the previous version, looks like this one was introduced in the very last release.

Thanks!

[2019-10-03 10:27] MikeEdgar commented on #185
@gsmet, I don't believe this to be specific to the most recent release. The cause seems more related to an excessive amount of scanning that occurs due to JDK classes being included in the Jandex index. A temporary work-around would be to exclude those classes from the OpenAPI scan:
[code]

I'd like to have that configuration be included in this library. The assumption is that ```java.lang``` will

[2019-10-03 11:10] EricWittmann commented on #185
@MikeEdgar Have you reproduced this locally and therefore had a chance to analyze it?  I dont' see enough information in https://github.com/quarkusio/quarkus/issues/4329 to reach that "java.lang" conclusion.  To be clear - I'm not doubting your assessment, I'm just interested in whether you have a more interesting stack trace to report than the one in https://github.com/quarkusio/quarkus/issues/43

[2019-10-03 11:35] MikeEdgar commented on #185
@EricWittmann - I was able to reproduce it locally, and with a slightly different stack trace:
[code]
I used the Quarkus ```getting-started``` project along with this resource:
[code]
Even being less heavy handed and excluding only ```java.lang.Object``` resolves this and significantly speeds up the scanning. Without being more familiar with how the index is originally built, it does appear from t

[2019-10-03 12:09] EricWittmann commented on #185
Yes this is probably similar to:  https://github.com/smallrye/smallrye-open-api/pull/169

The fact that all of the core java classes live in the index is probably more broadly problematic for us.  I think my fix in the PR above is probably just addressing one specific case.  I suspect we should exclude some standard java packages from the index.

We should probably also open a separate issue if th

[2019-10-03 12:16] MikeEdgar commented on #185
I've been running this through the debugger, and without any changes, the call to ```TypeResolver.getAllFields``` for the ```TestEnum``` enum in my example comes back with 79 (!) properties that each need to be scanned. It seems to be going way off into JDK land and pulling things from not only ```Object```, but other reflection classes as well. I agree that we should include some additional exclu

[2019-10-03 12:19] MikeEdgar opened #186 "Enum types as parameters and responses not correctly scanned"
When enums are used as resource parameters or responses, the generated schema is a plain object rather than the expected string with a list of the enum values.

[2019-10-03 12:21] EricWittmann commented on #185
Yeah I noticed the same thing when looking at #169 - does the `FilteredIndex` fix things?  If we exclude e.g. `java.*` for example.  Does that actually reduce what comes back from `TypeResolver.getAllFields`?

[2019-10-03 14:55] MikeEdgar opened #187 "Regression: exclusion of jackson-annotations breaks Quarkus"
Quarkus is relying on Maven dependency resolution to include jackson-annotations in the final jar file. The dependencyManagement entry added in #179 needs to be reverted before the next release.

[2019-10-04 01:29] MikeEdgar commented on #185
FilteredIndex does reduce that. It turns out that most of the fields were coming from the parent ```Enum``` class that all `enum`s extend.

One problem is that the index passed in from Quarkus is a ```CompositeIndex``` and the ```FilteredIndex``` is a few levels in from the top. To address that, I added a check to wrap the provided index before scanning starts to ensure the filtering works for the

[2019-10-04 14:02] EricWittmann commented on #185
So if we are getting a `CompositeIndex` with a `FilteredIndexView` inside it, then I guess we wrap everything in **another** `FilteredIndexView` and that results in us double-filtering?  Or perhaps the `OpenApiConfig` is different for the two...

[2019-10-04 14:09] MikeEdgar commented on #185
There will be two `FilteredIndexView`s in the index tree, but the filtering would be done at the top level - the index that is passed in, or wrapped, at the start of scanning. To avoid having the additional unneeded filters, Quarkus (and possibly others) should no longer create the filter itself.

[2019-10-04 14:21] #186 closed

[2019-10-04 14:21] #187 closed

[2019-10-04 14:24] MikeEdgar commented on #185
@kenfinnigan - I think we need a smallrye-open-api release with this fix for the Quarkus team to integrate/test before their release next week. This issue can stay open until confirmed fixed there.

[2019-10-04 14:25] kenfinnigan commented on #185
ok, will trigger a release

[2019-10-04 14:39] kenfinnigan commented on #185
Should be released, maybe a half hr to hit Central

[2019-10-04 18:19] gastaldi commented on #185
I can confirm that this fixes the issue

[2019-10-04 18:19] gsmet commented on #185
Thanks to everyone involved.

[2019-10-04 18:30] MikeEdgar commented on #185
Good to hear - thank you. Closing this issue.

[2019-10-04 18:30] #185 closed

[2019-10-05 11:02] MikeEdgar opened #189 "Add scanning of JAX-RS sub-resources"
The annotation scanner does not currently support scanning [sub-resources](https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest/jaxrs-resources.html#d0e2542). This has impacts on the main resource class/method scanning as well as parameter processing.

Quarkus: quarkusio/quarkus#3918

[2019-10-08 10:37] FroMage commented on #185
This causes a regression in Quarkus: https://github.com/quarkusio/quarkus/issues/4329#issuecomment-539454820

[2019-10-08 10:39] FroMage commented on #185
To explain why we had `Object`, `Map` and `Collection` in the index: it was to avoid use of reflection in `TypeUtil.hasSuper` which you use in `OpenApiDataObjectScanner.initialType()` and `OpenApiDataObjectScanner.isSpecialType()` for pretty much every class, which causes reflection for every quarkus class, which has very nasty side-effects at this stage during our build.

[2019-10-08 10:51] FroMage commented on #185
@MikeEdgar @EricWittmann I can't think of any idea for working around this bug in Quarkus, and the regression is about as bad as the original OOM, so do you have any idea how to fix this in smallrye-openapi?

[2019-10-08 10:54] FroMage commented on #185
Apparently, if we are able to pass you a `ClassLoader` instead of you using `Class.forName` (which will always use the CL of smallrye-openapi), we can make this work. Or you can use the TCCL.

I can make a PR for either solution if you want.

[2019-10-08 11:11] MikeEdgar opened #191 "Class loading for reflection breaks Quarkus ORM enhancement"
Original issue: quarkusio/quarkus#2961
Regression caused by fix for quarkusio/quarkus#4329 and #185

[2019-10-08 11:16] MikeEdgar commented on #191
@FroMage in #185 :

Using the TCCL in `TypeUtil.getClass(String name)` instead of `Class.forName` probably will be the easiest and quickest at this point. @EricWittmann, any concerns?

[2019-10-08 11:42] EricWittmann commented on #191
No concerns I can think of at the moment. :)

[2019-10-08 11:47] MikeEdgar commented on #191
I'm thinking it might be a good idea to have an internal index in `TypeUtil` with the JDK classes we are known to be looking for, specifically `java.lang.Enum` and the collection types. That should remove the need for reflection. It would be something like the small internal index that is used in `OpenApiDataObjectScanner` for the stand-in types. By doing that, we won't impact class field scanning

[2019-10-08 12:03] kenfinnigan commented on #191
@MikeEdgar is this something you're actively working on a fix for?

[2019-10-08 12:05] MikeEdgar commented on #191
@kenfinnigan - not yet. If @FroMage has not already started I can pick it up, but I won't be able to do that until this evening.

[2019-10-08 12:06] kenfinnigan commented on #191
Ok, I can take a look now.

[2019-10-08 12:22] FroMage commented on #191
Thanks @kenfinnigan

[2019-10-08 13:43] #191 closed

[2019-10-10 10:13] waggy55 opened #193 "UUID Support"
At present, it seems the UUID type is not recognised. For projects that define the API in yaml, this is not a problem, because the type can be defined in the yaml file. However, for projects where the API is created by parsing the code, the UUID type is represented as:
[code]
This is quite unusable (at least not quick to use). For microservices environments, the API often contains UUIDs, so suppor

[2019-10-10 11:20] MikeEdgar commented on #193
@waggy55 - are you using Quarkus?

[2019-10-10 11:26] waggy55 commented on #193
@MikeEdgar yes I am

[2019-10-10 11:32] MikeEdgar commented on #193
Thank you. I'm assuming you're expecting to see the UUID type represented as a string?

We are going to look at other ways to account for the fact that the class index being passed in contains JDK classes that the unit tests assume are not there.

[2019-10-10 12:37] waggy55 commented on #193
Yes, to see the UUID as a string would be great! Thank you for adding it to "To do".

[2019-10-11 11:23] MikeEdgar commented on #193
@EricWittmann , @msavy - can either of you think of a reason that `java.util.UUID` should not be added to the `TypeUtil` `TYPE_MAP` with a value of `STRING_FORMAT`? I think this is a pretty common type and it is supported by JAX-RS out of the box via its static `fromString` method for parsing.

[2019-10-11 13:03] EricWittmann commented on #193
I can't think of a reason.  The only thing I would say is that it might be nice to map UUID to a more interesting schema type that perhaps validates the format of a typical Java UUID.  In other words, rather than just map it to string, maybe we can do better and generate a re-usable type that is a string with a regex pattern or some such.

Not a big deal for me - just a thought.  I'm more than hap

[2019-10-16 11:45] MikeEdgar commented on #193
I really like this idea. This has been implemented in #195. I think there may be a number of classes that fall into this category and adjusting the approach for eclipse/microprofile-open-api#364 may be a good idea as well.

[2019-10-18 14:17] FroMage opened #197 "RESTEasy param annotations on fields or properties causing mayem"
I've added RESTEasy param annotations on fields and properties of my class:

[code]

And the generated documentation became a bit crazy:

[code]

Several issues here:

- It's using the setter property's parameter name instead of the property name: `p` should be `cookieProperty`
- If I put the annotation on the getter by mistake, I get an NPE:
[code]
- What's with the `testMatrix` name? Where did i

[2019-10-18 14:46] MikeEdgar commented on #197
@FroMage ,

1. I agree that the setter methods annotated with params should use the method name rather than the parameter (`cookieProperty` vs `p`). I'll look into a fix.
2. Needs research, but I think this scenario should be ignored by the run time. That is, nothing should be generated - assuming RESTEasy does nothing here also.
3. The `testMatrix` name is a generated parameter name for a Matrix

[2019-10-18 15:00] MikeEdgar commented on #197
After some additional review, I believe the matrix parameter processing was incorrectly implemented and my description in point 3 is not correct.

[2019-10-21 08:26] FroMage commented on #197
This is about the NPE, right? RESTEasy will ignore the annotation since it's on the wrong element. But it should not crash ;)

Additional note about matrix, when I have a matrix param as method parameter I don't think it ends up in the path, which is also why I was confused by those suddenly popping up.

[2019-10-23 17:15] #193 closed

[2019-10-24 12:44] #197 closed

[2019-10-24 15:21] waggy55 opened #199 "@PathParam being wrongly added to other methods"
Using Quarkus 0.26.1, and given the following 2 end-points, one of which has the @PathParam, `productId`:

[code]

I get the following open api - as expected because only `/products/{productId}` has the parameter `productId`
[code]

However, if I remove the second method and add the following method (if I leave the second method there and add the following method, the result is the same):
[code]

[2019-10-24 16:42] MikeEdgar commented on #199
@waggy55 , when you removed the second method, did you fully remove the code or only comment out the JAX-RS annotations like `@GET` and `@Path` ?

[2019-10-25 07:54] waggy55 commented on #199
Hi @MikeEdgar, I removed the code fully (method and annotations)

[2019-10-25 09:49] MikeEdgar commented on #199
With the following code, I am able to reproduce your issue - hence my earlier question. However, if the entire middle method is removed, I am not able to reproduce it. Are there any other methods or fields in your resource?

[code]

[2019-10-25 11:15] waggy55 commented on #199
There were, but I commented them out.

Here's the full class:

[code]

Interestingly, when I replace all methods' code with `return null`, the @PathParams are as expected, i.e. `/products` does not require `productId`

However, if I add dummy code to any method (`getProduct(...)`, `reserveProduct(...)`, `getAllReservations(...)`) that uses `@PathParam("productId") String productId`, `/products` th

[2019-10-25 12:34] FroMage commented on #197
Thanks.

[2019-10-25 22:56] MikeEdgar commented on #189
Fixed by #190

[2019-10-25 22:56] #189 closed

[2019-10-26 10:23] MikeEdgar commented on #199
@waggy55 - I have not been able to reproduce this. If you have some time to put a "broken" version in a Github repository, that would be helpful.

[2019-10-28 12:01] #184 closed

[2019-10-28 13:36] waggy55 commented on #199
@MikeEdgar - I've uploaded a slim-downed version of the project: https://github.com/waggy55/quarkus-broken-pathparams

I'm running with the command `mvn compile quarkus:dev`

Sure enough, PathParam `productId` is applied to both end points
[code]

Many thanks,
Dan

[2019-10-28 23:08] MikeEdgar opened #201 "Is it possible to flatten nested POJOs"
See eclipse/microprofile-open-api#380 for original discussion.

[2019-10-29 09:18] MikeEdgar commented on #199
@waggy55 , believe it or not, it's still not happening on my machine with that project. Would you mind removing any locally downloaded smallrye-open-api artifacts from your Maven repository and retrying the `mvn` command? That is, anything here: `~/.m2/repository/io/smallrye/smallrye-open-api*`. Also, please reply with which JDK version you're using, in case that ends up making some difference.

T

[2019-10-29 09:53] waggy55 commented on #199
So, GIVEN JDK 1.8.0_111
AND I've deleted my project folder and everything in `/.m2/repository/io/smallrye/`,
WHEN I cloned https://github.com/waggy55/quarkus-broken-pathparams,
AND then I ran the project using, `mvn clean compile quarkus:dev`
THEN the problem remained

However, if I use JDK jdk1.8.0_231, the problem goes away!

Apologies if I've missed something that said I shouldn't be using 1.8.

[2019-10-29 10:07] MikeEdgar commented on #199
This is definitely unexpected behavior (for me). I confirmed also with that version of the JDK (1.8.0_111). Note that it did not occur by simply running the application, I had to compile the application for it to happen (`mvn clean`). Compiling with 1.8.0_111 and running with a new JRE also causes the problem. This sounds like the older JDK had a bug with how it was generating bytecode, which is w

[2019-10-29 10:14] MikeEdgar commented on #201
@norrman - if you have added the following to your pom:
[code]

Please also be sure to **exclude** the following from the io.thorntail openapi dependency:
[code]

I would also suggest that you add a TODO comment to remove the include/exclude next time Thorntail is updated :-)

[2019-10-29 10:16] waggy55 commented on #199
That is interesting. I agree - I can still use Java8 (should I have to) and it doesn't seem like a SmallRye problem. Thanks again for your help in getting to the bottom of this.

[2019-10-29 10:16] #199 closed

[2019-10-29 21:13] norrman commented on #201
Hi,
Sorry, I should've pointed out that we use smallrye-openapi directly in a maven plugin to generate openapi document during build time, so there is no  thorntail interference; we just used the version pointed to from thorntail.
Maybe this maven plugin could be contributed if there is interest, if nothing else is available?
Coming back to the issue, can you point to a test in smallrye-openapi th

[2019-10-30 09:53] MikeEdgar commented on #201
Using your original example, it should work due to the annotation on `getMessages` in `GreetingMessage`. Did you update the version of smallrye-open-api being used in the Maven plugin? Also, what happens if you move the `@Schema` annotation to `SimpleString` itself?

[code]

[2019-10-30 10:38] norrman commented on #201
I tried several variations, including putting @Schema on SimpleString.

[2019-10-30 10:43] MikeEdgar commented on #201
Just to summarize for my own understanding - you are generating an `openapi.yml` static file at build time using a custom plugin that is using version 1.1.19 and the output of that static file is incorrect, even before running the application?

[2019-10-30 11:55] norrman commented on #201
Almost. I'm not saying that the output is incorrect, just that I cannot achieve what I want, i.e. treat an object as a string property.

[2019-10-31 11:40] MikeEdgar commented on #201
Well, if you're using 1.1.19 with those annotations, it's not correct :-) If there is any way to share some trimmed-down version of your project on Github, I would be happy to take a look. Is the plugin that you are using public or something homegrown that you can not publish?

[2019-10-31 14:55] norrman commented on #201
[issue-201.zip](https://github.com/smallrye/smallrye-open-api/files/3794401/issue-201.zip)
Attached a zip file containing two maven projects: the plugin and a test project

[2019-11-01 10:51] MikeEdgar commented on #201
@norrman , please annotate your classes like below (note `implementation` is not used here). This issue can remain open since it _should_ have worked when using `implementation` and that will need some additional research.

[code]

[2019-11-04 20:28] norrman commented on #201
Hi,
I will try to confirm this tomorrow (Nov 5th).

[2019-11-05 16:27] user667 opened #205 "ArchiveUtil doesn't correctly include and exclude classes and packages"
According to the documentation [MicroProfile OpenAPI Specification > 3.1.1. Core configurations](https://download.eclipse.org/microprofile/microprofile-open-api-1.0/microprofile-openapi-spec.html#_core_configurations) inclusion and exclusion of packages and classes follows the dot-notation, e.g. ```mp.openapi.scan.exclude.classes=com.xyz.MyClassC,com.xyz.MyClassD```.

However, ArchiveUtil's ```#ac

[2019-11-11 16:14] EricWittmann opened #210 "Not properly handling Optional param in JAX-RS method"
First reported here:  https://github.com/quarkusio/quarkus/issues/5376

When processing the JAX-RS arguments, we should handle `java.util.Optional` appropriately.

[2019-11-11 16:15] EricWittmann commented on #210
I'm labeling this as both a bug (the report in quarkus is that the build fails) and also an enhancement, because we should mark the query parameter as **not required** in this case.  And perhaps mark any method arguments that are query parameters as `required` if not using `java.util.Optional`.

Thoughts on the latter point, @MikeEdgar and @msavy ?

[2019-11-11 16:21] machi1990 commented on #210
@EricWittmann thanks for opening this. Also, the build fails when Optional is a return type.

[2019-11-11 17:00] MikeEdgar commented on #210
I would stay away from marking it required when `Optional` is not used. There are other scenarios where non-mandatory parameters are expressed in JAX-RS without `Optional` (e.g. `@DefaultValue`). It might be safer to use `@Optional` as a hint to set `"required": false` if no other implicit/explicit value has been set using OAI annotations or bean validation annotations like `@NotBlank`.

Aside fro

[2019-11-11 17:20] machi1990 commented on #210
Exactly, and the class here is `Optional`, the method causing this is `Optional#get()`.

[2019-11-11 17:29] MikeEdgar commented on #210
Ahh, right. I forgot about these classes being in the index. So it is the same issue.

[2019-11-12 00:26] MikeEdgar commented on #201
@norrman - did you get an opportunity to try the configuration suggested earlier?

[2019-11-12 15:59] EricWittmann commented on #147
@msavy @MikeEdgar We can probably finish this up, right?

[2019-11-12 16:10] msavy commented on #147
I was going to alter my solution to use the pattern that Mike recommend,
unless my solution is now redundant?

On Tue, 12 Nov 2019, 16:00 Eric Wittmann, <notifications@github.com> wrote:

[2019-11-12 16:15] EricWittmann commented on #147
Nope - I was just verifying that we had reached a consensus and the work could be completed.  I think that's true, yes?

[2019-11-12 16:22] MikeEdgar commented on #147
Depending on the direction in eclipse/microprofile-open-api#364 I think the content of the property would be impacted here too - unless there are two properties. My reasoning for bringing up the JSON concept in the MP issue is to not limit things to just these two schema attributes.

[2019-11-15 11:39] #205 closed

[2019-11-15 11:52] MikeEdgar commented on #46
@FroMage - are there any other cases not being covered or can this be closed?

[2019-11-15 14:13] MikeEdgar commented on #210
@EricWittmann, @msavy - a few additional cases this should probably cover. What are your thoughts?

1. When optional type is a `@FormParam` or `@MatrixParam`, the generated property should be `"nullable": true` and should not be in the form/matrix parameter schema's array of `required` properties unless otherwise specified.
2. When optional type is a `@RequestBody`, the generated `requestBody` sho

[2019-11-15 14:16] #201 closed

[2019-11-15 17:39] EricWittmann commented on #210
This all sounds good to me.  I was going to add that for (4) the property should be excluded from the `required` list, but it occurred to me that I'm not sure if we ever include anything in the `required` list when generating a schema from beans (unless annotated explicitly).

[2019-11-15 17:56] MikeEdgar commented on #210
The only time the `required` list is modified during the scan is when a `@NotNull` annotation is encountered. In the case where a `@NotNull` on an `Optional` is scanned, I think `@NotNull` is more indicative of the intent, even if using those two together won't really function as expected at run time.

[2019-11-16 13:34] MikeEdgar opened #215 "Scan OpenAPIDefinition annotations at the package level"
There is a "TODO" in the source of `OpenApiAnnotationScanner` for this one. The scanner should look for `@OpenAPIDefinition` on `package-info` classes.

[2019-11-17 18:06] gsmet commented on #210
FTR, we just had a second report of this very issue in the Quarkus bugtracker.

[2019-11-18 12:12] MikeEdgar opened #216 "Use Path Template Pattern as Parameter Pattern"
Path parameters that declare a regular expression are not currently handled. For example:

[code]
will produce a path key of `"/example/{name:[A-Z]+}"`. The pattern part of the path should be extracted and applied to the associated `name` parameter's schema `pattern` attribute if no value has been explicitly given in another annotation.

[2019-11-18 13:41] EricWittmann commented on #216
So many edge cases to cover!

[2019-11-18 13:43] EricWittmann commented on #216
Hey @lamtrhieu - if you are interested in contributing to an implementation of microprofile-open-api, this might be a good one to look at. Let us know if you're interested!

[2019-11-18 13:44] EricWittmann commented on #210
@MikeEdgar has a PR addressing the issue.  I'll review it today and hopefully we can get it merged asap.

[2019-11-18 14:24] MikeEdgar commented on #216
@EricWittmann , @lamtrhieu - I actually have this one just about done, but there are definitely lots of other things to do. There are a number of issues identified in the project's [Sonar report](https://sonarcloud.io/project/issues?id=smallrye_smallrye-open-api&resolved=false) that may be good starting points for getting familiar with the code and getting ideas for fixes/enhancements. I can spend

[2019-11-18 14:40] lamtrhieu commented on #216
Hi @EricWittmann
I am interested :). I also have a question regarding open-api and implementations.
I think smallrye-open-api is an implementation of microprofile-open-api. And server like openliberty and thorntail will use smallrye implementation in their code?

I have checked out both the projects and read some code. I see lots of tests for the resources class with open-api annotations.
So I thi

[2019-11-18 14:49] EricWittmann commented on #216
You are right - `smallrye-open-api` is an implementation of the `microprofile-open-api` specification.  SmallRye is used in various project to provide MP-OpenAPI functionality, including (but not limited to):

* Quarkus
* Thorntail
* Wildfly
* JBoss EAP

Currently I believe that Open Liberty uses their own separate implementation, but I would not be surprised if they switched to using the SmallRye

[2019-11-18 14:59] #210 closed

[2019-11-18 15:03] gsmet commented on #210
@EricWittmann do you think it's worth releasing something now to have it fixed in Quarkus 1.0 Final?

Code freeze is this evening so we don't have much time.

Not sure how risky the fix is though compared to fixing an issue for 2 users who reported it. And how much work it is.

[2019-11-18 15:04] lamtrhieu commented on #216
Thanks @EricWittmann. I can import maven project into IntelliJ and after looking closely at the tests I think most of them just
1. Setup test model and resource
2. Generate json from the model and resource and do assertion
So I think I am good now. Really straight forward, just import maven project and run junit tests.

@MikeEdgar I am waiting for your enhancement issues ? Can I have a look at you

[2019-11-18 15:53] MikeEdgar commented on #216
@lamtrhieu - I likely won't be able to open the issues until tomorrow morning (US Eastern time). I'll also push the changes and open the PR then. I will mention you in the PR.

[2019-11-18 16:02] EricWittmann commented on #210
I think the change is pretty low risk, and the test coverage is quite good in this project.  I'm pretty comfortable if a new release were done.   What do you think @MikeEdgar ?

[2019-11-18 16:03] EricWittmann commented on #210
Also it's a good question for @kenfinnigan - since I think he would need to do the release.

[2019-11-18 16:07] kenfinnigan commented on #210
I have no opinion, I just click a button

[2019-11-18 16:30] MikeEdgar commented on #210
I think it's a good time for a release. There are quite a few bug fixes and improvements since 1.1.19 and the schema reference option is now enabled by default.

[2019-11-18 16:32] EricWittmann commented on #210
@MikeEdgar Anything loose you want to toss in there before Ken clicks the button?  :)

[2019-11-18 16:34] MikeEdgar commented on #210
I do have #215 and #216 basically done, but I won't be able to get them up to Github and open the PRs before the Quarkus code freeze, unfortunately.

[2019-11-18 16:48] EricWittmann commented on #210
OK then, @gsmet if you are comfortable accepting a new release of this into Quarkus then I think @kenfinnigan can go ahead with the release!  Or I guess go ahead with it anyway, and @gsmet can pull it into Quarkus or not, at his discretion. :)

[2019-11-18 16:50] kenfinnigan commented on #210
release triggered

[2019-11-18 17:01] gsmet commented on #210
Cool, thanks everyone!

[2019-11-18 17:01] gsmet commented on #210
@kenfinnigan can you create a PR when the release is done?

[2019-11-18 17:02] machi1990 commented on #210
Thanks for the fix @EricWittmann @MikeEdgar :-)

[2019-11-18 20:59] ebullient opened #217 "Allow spring-web extension REST endpoints to be published in openapi"
Reported in quarkusio/quarkus#4693

Quarkus uses SmallRye OpenAPI to render API endpoints. As reported, if you create a Spring Web REST endpoint and add openapi, the Spring endpoint does not show up.

The OpenApiAnnotationScanner (or an extension) will need to discover Spring Rest endpoints.

[2019-11-18 20:59] ebullient commented on #217
I am willing to work on this (per discussion with @kenfinnigan and @geoand)

[2019-11-18 21:01] geoand commented on #217
Cool! Anything I can do to help, just let me know

[2019-11-18 22:03] MikeEdgar commented on #217
It might make sense to split the JAX-RS and Spring scanning out from `OpenApiAnnotationScanner` into subclasses and keep the common logic in the super class. I assume the Spring endpoints should be able to utilize the Microprofile annotations also.

[2019-11-19 12:49] MikeEdgar opened #220 "Explore scanning of annotated ExceptionMapper instances"
@lamtrhieu, @EricWittmann - idea for consideration.

Suppose an application defines the following classes. It might be interesting for the scanner to find instances of `ExceptionMapper` that map declared checked exceptions or (undeclared?) runtime exceptions, adding any discovered `@APIResponse` annotations from the mapper to the path/method being scanned. This would be a convenient way to have al

[2019-11-19 14:26] MikeEdgar commented on #216
@lamtrhieu - the PR for this is #219

[2019-11-19 16:00] #215 closed

[2019-11-19 16:04] #216 closed

[2019-11-19 16:11] EricWittmann commented on #220
Yes for sure.  It's a great way to generate re-usable Responses in the OpenAPI document (from ExceptionMappers) and then link them appropriately in each generated operation based on the declared/checked exceptions on the jax-rs methods.

I'm not so sure about unchecked exceptions though.  I suppose we could assume that if there is a `500` mapper for an unchecked exception, then add it for every ge

[2019-11-19 17:10] ebullient commented on #217
I was thinking along those lines, yes.

[2019-11-19 17:48] MikeEdgar commented on #220
You may be right about being aggressive. Maybe if it is limited to unchecked exceptions that extend from `javax.ws.rs.WebApplicationException` (and derive the correct `responseCode` based on that if no `@APIResponse` is present in the exception mapper) it would be feasible. In any case there should be a way to disable it. I don't think it would be too bad to require that apps declare unchecked exc

[2019-11-20 13:12] EricWittmann commented on #220
Either way I love the idea of generating reusable responses from the exception mappers.

[2019-11-20 14:21] AlexanderHofmeister opened #221 "Override type of property Schema Annotation"
I got the following property of my class

[code]
This ends up in the following OpenAPI UI definition

[code]

This seems correct, but I want to change the type from `Instant` to `String` for all parameters, because I have the adapter converting from `String` to `Instant` and vice versa.

I added `@Schema(implementation = String.class, type = SchemaType.STRING)` to the property, but the OpenAPI def

[2019-11-20 15:52] EricWittmann commented on #221
There is some discussion happening in the upstream specification to provide a way to provide custom mappings between java types and developer-provided schema type definition.  However, that's not available yet (I just wanted to mention it).

That said, adding `@Schema` to the property is exactly what I would have tried as well.  And it clearly did *something* but not quite what you wanted (or what

[2019-11-20 16:08] MikeEdgar commented on #221
@AlexanderHofmeister , which version are you using? This may have been fixed with the version that was just released this week and is not yet included in any downstream runtimes.

[2019-11-20 17:07] gsmet commented on #221
Tss tss tss, it's already included in Quarkus 1.0.0.CR2 released today :).

@AlexanderHofmeister can you try the upgrade to 1.0.0.CR2 if not already done?

[2019-11-21 12:05] MikeEdgar opened #222 "Matrix Parameter Names - Spec Alignment"
The `ParameterProcessor` allows for arbitrary naming of parameter matrix objects in the path using the `name` attribute of `@Parameter`. According to the MP OAI JavaDoc for `@Parameter`, the `name` for parameters in the path "MUST correspond to the associated path segment from the path field in the Paths Object".

This is also in alignment with the use of `javax.ws.rs.core.PathSegment` objects ann

[2019-11-22 08:29] AlexanderHofmeister commented on #221
These Quarkus guys are so damn quick! I updated to  Quarkus 1.0.0.CR2 and the output is:

[code]

Thanks to you all!

[2019-11-24 02:05] lamtrhieu commented on #220
@EricWittmann @MikeEdgar
Do we come to a decision here ? Can I help with a small pr for this one?

[2019-11-25 14:51] EricWittmann commented on #220
@lamtrhieu Yes I think we should start by scanning for Exception Mappers and generating reponse definitions for them.  Do you agree @MikeEdgar ?

[2019-11-27 11:03] MikeEdgar commented on #220
@EricWittmann , @lamtrhieu

+1

I agree. Consider doing it by looking for the `@Provider` annotation and then filtering by those that implement `ExceptionMapper<T>`. You can then match up response annotations found on the mapper's single method by comparing with the `throws` clause of the methods scanned in the `OpenApiAnnotationScanner`.

It can be possibly expanded from that point to handle scen

[2019-11-27 11:39] lamtrhieu commented on #220
@EricWittmann @MikeEdgar
Ok. Let me try with a PR. This is really a good chance to get familiar with the code. Thanks

[2019-12-04 12:56] #222 closed

[2019-12-05 08:02] XciD opened #226 "Handle `JsonUnwrapped`jackson annotation"
Hello,

I don't know if it's here but the `@JsonUnwrapped` annotation is not handle.

Any way to help you to implement it ?

Thanks

[2019-12-05 10:25] msavy commented on #226
Thanks for opening this

Can you link to some docs so we can understand what it does.

 And any of your thoughts with respect to how it should be handled.

On Thu, 5 Dec 2019, 08:02 Adrien Carreira, <notifications@github.com> wrote:

[2019-12-09 10:47] MikeEdgar opened #228 "TCK module is not testing YAML"
It looks like the TCK module is not testing YAML generation due to the following -

1. `BaseTckTest` always generates JSON
2. `TckTestRunner` does not call the test methods multiple times based on the TCK `@Test` annotation's `dataProvider` property

I think all of the TCK's tests that have `@Test(dataProvider = "formatProvider")` are supposed to be called twice, once for YAML and once for JSON.

[2019-12-09 12:25] EricWittmann commented on #228
This is all true.  It never really seemed like a priority.

[2019-12-09 12:55] MikeEdgar commented on #228
@EricWittmann, I think you're right and serving the YAML response wouldn't actually be testing any of the code in the implementation any differently. However, it might be important to some degree due to eclipse/microprofile-open-api#307. What are your thoughts? I did some work on that issue and ran into this. In any case, probably low priority until the 2.0 TCK needs to be passed (assuming the cha

[2019-12-10 13:14] msavy commented on #226
I had a quick look at the docs for this, and it essentially seems to merge/flatten the annotated entity's properties into its parent's properties.

For example:

[code]

Normally this would be (pseudo code):

[code]

When annotated, this becomes (note, `thing` is now elided):

[code]

So, in the JSON Schema you would want that field skipped and its properties merged into the parent.

@XciD Can you

[2019-12-10 13:32] XciD commented on #226
Hello,

Sorry for the delay.
You are right about the definition.

If the `unwrap` is ignored and you did not mark unknow fields are ignored, you will have an jackson exception.

[2019-12-11 21:28] ivangfr opened #230 "Exception when return type is Iterable"
Hi, I have a **Quarkus** application that has **smallrye-open-api** as a dependency.

The application has a resource that contains an endpoint with `Iterable` as return type.
[code]

It seems that **smallrye-open-api** doesn't handle `Iterable` response since because, when I start the application, I get the error below.

Thanks!

[code]

[2019-12-12 11:30] EricWittmann commented on #230
Thanks for the bug report.  I'll take a look at this asap.

[2019-12-12 16:58] EricWittmann commented on #230
I have a fix for this - will get a PR opened for it soon.

[2019-12-12 23:21] #230 closed

[2019-12-13 23:33] zakhdar opened #233 "Add LocalTime format as a String (JDK8)"
It's possible to add format to LocalTime as String , related to  [https://github.com/quarkusio/quarkus/issues/6065#issuecomment-564578870](https://github.com/quarkusio/quarkus/issues/6065#issuecomment-564578870)

[2019-12-14 00:14] MikeEdgar commented on #233
Thanks for opening this. I'll take some time this weekend to put together an enhancement.

[2019-12-14 11:25] MikeEdgar commented on #233
Looking at the [ABNF table in RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14), it seems like it would make sense to use `partial-time` for a `LocalTime`, and `full-time` for an `OffsetTime`. I'm wondering if those terms are enough to convey format of [`LocalTime`](https://docs.oracle.com/javase/8/docs/api/java/time/LocalTime.html#toString--) or [`OffsetTime`](https:/

[2019-12-16 12:14] MikeEdgar commented on #24
I think the functionality requested here was effectively implemented in #152, as discussed in #100  (i.e. suppress generating defaults when empty `@APIResponses()` is present). If there are no objections, I'd like to close this issue.

[2019-12-16 12:24] EricWittmann commented on #233
Those are all good suggestions.  I think `externalDocs` and `example` are definitely a +1 for me.  I'm less sure about adding a description, but am not opposed.  Thoughts @msavy?

[2019-12-16 12:29] msavy commented on #233
I don't think the description is a bad idea, as long as others think it doesn't violate the principle of least surprise.

The whole time thing is a bit of a morass in my experience, so anything we can do to clarify things is good.

p.s. Should your description example not say **WITHOUT** a zone offset?

[2019-12-16 14:40] MikeEdgar commented on #233
@msavy - for the `LocalTime`, you're right. I am planning on handling both that and the `OffsetTime` with this issue.

[2019-12-17 11:08] MikeEdgar commented on #24
Closing issue. This can be reopened in the future or a new issue opened if new concerns arise.

[2019-12-17 11:08] #24 closed

[2019-12-17 11:25] MikeEdgar commented on #46
Closing - please re-open or open a new issue if anything else needs to be covered.

[2019-12-17 11:25] #46 closed

[2019-12-17 11:26] MikeEdgar commented on #76
This is pending a spec change [eclipse/microprofile-open-api#363] which is a MP OpenAPI 2.0 candidate.

[2019-12-17 11:30] MikeEdgar commented on #128
I think this issue can probably be closed as well. The only other thing that might be useful that doesn't require a code change would be to figure out SonarCloud branching/PR analysis. Currently, PRs overwrite the "master" analysis report. Thoughts @kenfinnigan ?

[2019-12-17 11:31] michael-schnell commented on #128
+1

[2019-12-17 11:35] MikeEdgar commented on #87
This issue is pending a Jandex change [wildfly/jandex#61] to support "remembering" the original order of field and method declaration in the class files used to generate the index. It may become a bigger issue at some point depending on the direction of eclipse/microprofile-open-api#359.

[2019-12-17 18:29] ahofmeister opened #235 "How do I describe a multi value parameter?"
Hello!

Leaving the question as it is.

`@QueryParam("name") List<String> names` This works perfect with JAX-RS, but how do I describe this parameter with `@Parameter`, that it is clear, that the param is a multi-value?

I found something like `collectionFormat` on the internet (Swagger/OpenAPI), but can not find it in this project. :/

Alexander

[2019-12-18 00:12] MikeEdgar commented on #235
Hi @AlexanderHofmeister, I believe what you're looking for is an array schema type with `explode` set to true. For example:

[code]

You should be able to omit specifying the `schema` property of the `@Parameter`, as that should automatically be scanned by the annotation scanner.

Thinking about this example, it seems as though the annotation scanner should be generating the `explode = Explode.TRU

[2019-12-18 01:18] MikeEdgar commented on #235
Looking at the OAI spec further, `explode` of true is the default serialization for query parameters. See https://swagger.io/docs/specification/serialization/#query. Specifying it in your OpenAPI output would be redundant, although still correct for JAX-RS.

What is the output you are getting that seems incorrect?

[2019-12-18 05:51] AlexanderHofmeister commented on #235
I must say, I have enums ninstead of Strings, dont know if it make a difference.  Well, I am not sure how it should look in the OpenAPI UI.

I got following visual output with type `array` or no type at all.

`pointTypesarray[string](query) | description.`

`pointTypes(query) | description.`

I am missing the hint, that the parameter can be append multiple times, but maybe I am just on the wrong f

[2019-12-19 14:07] #233 closed

[2019-12-20 12:28] MikeEdgar commented on #235
@AlexanderHofmeister - can you post the following:
1. the section of the output OpenAPI document (either JSON or YAML) that corresponds to the operation with the `@QueryParam("name") List<String> names` parameter
2. the full method signature (including annotations) of the JAX-RS operation

[2019-12-20 13:14] AlexanderHofmeister commented on #235
[code]

`@Parameter(description = "description.", in = ParameterIn.QUERY, explode = Explode.TRUE) @QueryParam("myEnum") List<MyEnum> enumValues) {`

[2019-12-20 19:43] MikeEdgar commented on #235
@AlexanderHofmeister - what run time environment (and which version) are you using? Using the annotations you provided, the current version of SmallRye OpenAPI produces a different result (JSON shown):

[code]

Where `MyEnum` is:
[code]

[2019-12-20 20:25] nirodg opened #237 "Quarkus & SmallRyeOpenApiProcessor with NPE"
**Describe the bug**
I have an interface which defines basic CRUD operations for APIs (custom library).
Additionally I have defined a `List<Object> getAll` which is making the Quarkus to crash
[Link to the interface (github)](https://github.com/nirodg/dodo/blob/develop/runtime/src/main/java/ro/brage/dodo/http/rs/RestApi.java)

**Expected behavior**
Application deployed and being able to call the e

[2019-12-21 01:47] MikeEdgar commented on #237
@nirodg - can you post the stack trace?

[2019-12-21 09:03] nirodg commented on #237
Right, I totally forgot about the stack trace

[code]

[2019-12-21 11:49] MikeEdgar commented on #237
@nirodg - thanks. It appears that the problem is related to the use of a generic collection where the scanner is unable to determine the type of the collection type parameter (e.g. `ENTITY` in `List<ENTITY>` and it is not falling back to `object`. Would you mind to push a simple project to Github that demonstrates the class hierarchy being used?

[2019-12-21 15:19] nirodg commented on #237
I see. I do have an example project where its shown how to use the library - I will soon update it due to the changes I've done in the lib, but it does give a clear idea.

Here is the definition of the API endpoint https://github.com/nirodg/dodo-example/blob/develop/src/main/java/com/brage/dodo/example/rs/api/CarRestService.java

Here the implementation and where all injections occurs
https://gith

[2019-12-21 15:37] MikeEdgar commented on #237
The stack trace you posted is certainly a problem with the annotation scanner.

That would definitely help in debugging this.

[2019-12-21 19:27] nirodg commented on #237
@MikeEdgar Okay, so please follow the following steps in order to reproduce it

1. `git clone git@github.com:nirodg/dodo.git && git checkout open-api && mvn clean install`
2. `git clone git@github.com:nirodg/code-with-quarkus-dodo.git`
3. `./mvnw clean compile quarkus:dev`

Notes:

- `DummyRestEndpoint` defines the endpoint and extends basic CRUD operations
- Removing the `quarkus-smallrye-openapi

[2019-12-24 12:55] SetoKaiba opened #239 "Support inheritance for BeanParam and MultipartForm"
I have forms for resteasy. The token and os is missing in the openapi and swagger-ui.
The json schema is without problem. But the forms isn't.
What should I do to make it correct in the openapi?

[code]

[2019-12-24 15:42] MikeEdgar commented on #239
Hi @SetoKaiba - please post the JAX-RS method where the `Verify` or `UploadIconForm` is used. Please also post the resulting OpenAPI JSON that is incorrect.

[2019-12-24 17:50] SetoKaiba commented on #239
I found out the problem. When I use @Form, the params from the parent is there.  When I use @MultipartForm from, the params from the parent is missing.

[2019-12-24 19:54] SetoKaiba commented on #239
Change the @MultipartForm to @Form, it will contain the token and os from Verify.
[code]
[code]

[2019-12-27 11:18] MikeEdgar commented on #239
@SetoKaiba - the OpenAPI parameter scanner currently does not support inheritance on types annotated with `@BeanParam` or `@MultipartForm`. Please try to annotate your JAX-RS method with `@RequestBody(content = @Content(schema = @Schema(implementation = UploadIconForm.class)))` to get the desired output.

We can leave this issue open as a task to enhance the scanner to support inheritance on those

[2019-12-28 15:54] SetoKaiba commented on #239
Thank you. It does help. At least, it's correctly show the openapi and swagger-ui now,

[2019-12-30 02:44] zyc commented on #237
I'm facing the same problem exactly when using generic types. Take a look at my JSON data structure:

[code]

[code]

[code]

[code]

[code]

[2019-12-30 11:43] MikeEdgar commented on #237
Hi @zyc - can you also share your endpoint class which has the `@Path` annotations? That should help confirm whether your issue is caused by the same thing.

[2019-12-31 13:29] gintsgints opened #240 "OPENIDCONNECT is not recognised as security scheme"
When I specify two security schemes:
[code]
Only api_key scheme is recognised.
If I leave openidconnect scheme alone, I get stack trace:
[code]

[2019-12-31 15:32] MikeEdgar commented on #240
@gintsgints - thanks for opening this. I see why the `NullPointerException` is thrown, but can you provide some more details around your configuration where having two `@SecurityScheme`s results in the `APIKEY` scheme missing in the output? I tried to reproduce that behavior by placing the `@SecuritySchemes` on the JAX-RS `Application` class, but both schemes are in the output. Where are you placi

[2020-01-01 07:09] gintsgints commented on #240
I create it in quarkus App. - https://github.com/gintsgints/quarkus-ws
It is said, that quarkus do not need Application class, but for purpose of annotations it shoud be created.

[2020-01-01 07:31] gintsgints commented on #240
Interesting, but this happens over another implementation - https://github.com/gintsgints/spring-kotlin-ws

[2020-01-01 14:24] MikeEdgar commented on #240
@gintsgints , using the quarkus-ws app you linked I see both schemes in the output. This is not what you see yourself?

[code]

Note that the `securitySchemeName` of `openIdConnectUrl` does not align with `@SecurityRequirement(name = "openId")` in `UsersResource`. You probably also intend for `UsersResource$User` to be a `static` class to avoid the `this$0` property in the output.

[2020-01-01 14:59] gintsgints commented on #240
Ohhh. I see both in generated document. But only one is available at swagger-ui.

Seems like this is a problem of swagger-ui.

[2020-01-01 14:59] #240 closed

[2020-01-01 15:04] gintsgints commented on #240
https://swagger.io/docs/specification/authentication/openid-connect-discovery/

[code]

[2020-01-02 16:53] kenfinnigan commented on #128
Agree it needs to be figured out, as it's not ideal

[2020-01-06 15:09] #237 closed

[2020-01-10 13:00] MikeEdgar commented on #235
@ahofmeister - were you able to resolve your issue with the current version?

[2020-01-13 07:42] ahofmeister commented on #235
@MikeEdgar  Sorry for not responding. Let me try to recap and I will come back to you the next days. :)

[2020-01-13 08:12] ahofmeister commented on #235
@MikeEdgar It does work in an sample project. I will let you know if I managed to implement it in the actual project. :) Thank you so far!

[2020-01-13 08:31] ahofmeister commented on #235
@MikeEdgar It worked. The part that was missing: ` schema = @Schema(type = SchemaType.ARRAY, implementation = String.class)` Thanks for your help, I will close this issue.

[2020-01-13 08:31] #235 closed

[2020-01-13 08:33] ahofmeister commented on #235
[code]

[2020-01-24 00:25] #220 closed

[2020-01-24 14:56] kenfinnigan opened #244 "Generation of OpenAPI document from a "metamodel""
For Quarkus there is work being investigated around generation of endpoints into bytecode during the build, but as the implementation relies on Jandex at present, any endpoints from bytecode wouldn't be present.

We want to extract the Jandex input to a fallback of some kind, and define a "metamodel" that runtimes can pass to the implementation to generate the OpenAPI definition from.

This would

[2020-01-25 22:15] EricWittmann commented on #244
Just to be clear - the task is to put an abstraction layer in between Jandex and the annotation scanner?  That way openapi can be generated from sources other than .class files?

For this use-case, how are the endpoints generated into bytecode?  Where are these endpoints defined?

[2020-01-27 18:43] kenfinnigan commented on #244
Yes. The project can still have a way to use a Jandex parser to create the metamodel, as it does today, but there's an intermediary step so we can decouple them.

Quarkus wants to introduce the build-time generation of endpoints, but they can't be re-indexed by Jandex to then feed into the OpenAPI process

[2020-01-27 19:17] EricWittmann commented on #244
Yeah - but build time generation of endpoints based on what?

[2020-01-27 19:26] kenfinnigan commented on #244
Sorry, generating endpoints at boot time based on other annotations present within the code.

An example would be creating a new Resource with CRUD endpoints on it based on an `Entity` having `@CRUD` present on it. That's just a poor example, but the idea is creating endpoints based on annotations in the code

[2020-01-28 10:27] MikeEdgar commented on #244
Is the work to define an programming interface for the meta-model part of this issue or is that being done in Quarkus? Are the generated endpoints not ultimately being saved as class files?

[2020-01-28 14:45] kenfinnigan commented on #244
The metamodel would need to be developed here, but then "created" by Quarkus to feed into the OpenAPI generation process.

The generated endpoints are saved as class files, I believe, but it occurs at a point in the process that would mean it's expensive to re-index all the code to create an up to date Jandex index for processing

[2020-01-28 15:46] MikeEdgar commented on #244
If the newly generated classes will be on the class path or in known location(s) at the point SRye OpenAPI is invoked, it might be worthwhile to look at going with an implementation of `org.jboss.jandex.IndexView` that lazily indexes the list of classes that were generated. That `IndexView` could be added to the `org.jboss.jandex.CompositeIndex` already being passed and things just work without to

[2020-01-28 15:53] kenfinnigan commented on #244
@FroMage can you recall if the generated classes would be on the classpath and this approach could work?

I can't recall all the details of how the endpoint generation was going to work

[2020-01-28 18:43] tjquinno opened #245 "Decouple OpenApiAnnotationScanner from Jackson"
We are layering on SmallRye's OpenAPI implementation as much as we can but want to use a parser _other than_ Jackson.

We do our own parsing of any static file to create an `OpenAPI` instance, rather than using `OpenApiProcessor#modelFromStaticFile`, and we do our own serializing.

But `OpenApiAnnotationScanner` depends on Jackson's `ObjectMapper`...I think in two places inside `#parseExtension`.

[2020-01-28 19:45] EricWittmann commented on #245
I think that seems like a pretty reasonable ask.

[2020-01-28 20:01] MikeEdgar commented on #245
Hi @tjquinno - which parser are you looking at? I'm wondering if it might be a better approach to have `#parseExtension` return a `javax.json.JsonValue` to stick with standard APIs. If it needs to remain an `Object`, we could go with a configurable interface. Is that what you're thinking @EricWittmann ?

[2020-01-28 21:07] tjquinno commented on #245
We happen to be using SnakeYAML, but that shouldn't matter.

[2020-01-29 11:28] MikeEdgar commented on #245
As this seems like more of a feature to be used only by a vendor rather than an application, I'm considering adding a method to `AnnotationScannerExtension` with Jackson being the default implementation. @tjquinno , there is an existing `OpenApiAnnotationScanner` constructor for you to pass in a list of scanner extensions which would include an implementation with your parser.

I think the default

[2020-01-29 12:55] EricWittmann commented on #245
Good thinking about the filter - although I wonder how many users are filtering at all, let alone filtering on extensions. :)  Still, you're right that a change there could break filtering.

[2020-01-29 13:38] EricWittmann opened #246 "Move ArchiveUtils class out of src/main and move to src/test"
The `ArchiveUtil` class is found here:

https://github.com/smallrye/smallrye-open-api/blob/master/implementation/src/main/java/io/smallrye/openapi/api/util/ArchiveUtil.java

This class lives in `src/main/java` but is only used by test classes.  We should move it to `src/main/test` so that we no longer have a non-test dependency on ShrinkWrap.  It's possible/likely it should be removed from **imple

[2020-01-29 14:24] MikeEdgar commented on #246
Does Thorntail use this?

[2020-01-29 14:35] MikeEdgar commented on #245
I'm leaning toward just changing it. The likelihood of a developer specifying extensions via annotations that need to be filtered in the same application seems extremely low :)

[2020-01-29 14:35] Ladicek commented on #246
It does, see https://github.com/thorntail/thorntail/blob/master/fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java

[2020-01-29 14:47] tjquinno commented on #245
Mike, I am aware of the extensions mechanism and that seems like a reasonable way to expose the behavior we're talking about.

We'd just want to be sure that the default implementation you referred to that would use Jackson would not require Jackson to be present at runtime if, in fact, that default implementation were never used.

[2020-01-29 15:23] MikeEdgar commented on #245
@tjquinno - we're on the same page. We'll need to have a unit test or tests for this that ensure Jackson is not on the class path.

[2020-01-29 15:39] EricWittmann commented on #246
Well at least that explains why the class remains there.  So either we can leave it there or perhaps move it to a separate jar?  Or maybe @michalszynkiewicz can just continue excluding ShrinkWrap when doing Quarkus builds.  That's what prompted this issue, btw - the shrinkwrap dependency when doing Quarkus release builds.

[2020-01-29 15:45] MikeEdgar commented on #246
It's simple enough that maybe it could just be copied to Thorntail and moved into the TCK module here.

[2020-01-29 15:56] Ladicek commented on #246
I confess I don't like the idea that I'd have to track changes in that class and copy them over to Thorntail, if that perhaps happens. One possible option: could that class be put into a separate artifact that Thorntail and the test suite could depend on?

[2020-01-29 21:46] tjquinno commented on #245
@MikeEdgar Just for planning purposes on my end... Are you thinking of introducing this change in a few days, a few weeks, a few months...?

Thanks.

[2020-01-30 04:28] pilhuhn opened #247 "Allow to override base path from @ApplicationPath"
In our application we are using `@ApplicationPath("/api/custom-policies/v1.0")` to set a base path for the individual rest-endpoints.
This results in

    paths :
        /api/custom-policies/v1.0/policies
          ...
        /api/custom-policies/v1.0/facts
          ...

The base path of `/api/custom-policies/v1.0` is already represented in the servers section of the openapi document

The desir

[2020-01-30 09:38] radcortez commented on #247
If I understood correctly, you also set the base path with `@Server.url`? Any particular reason for it? I usually only set the hostname and leave the path in the endpoints. Is this a possibility for you?

[2020-01-30 11:36] MikeEdgar commented on #245
It should not be more than a few days. The challenge I'm facing now is having multiple executions of the unit tests (one with Jackson and one without) that works with both the Maven command line as well as with the IDE tooling.

[2020-01-30 11:59] pilhuhn commented on #247
Well, the basePath in @server.url goes into the servers section. When I set the application path as shown above, it gets prepended for each individual path item (which is coming out of `@Path` annotations on the individual classes/methods.
But then I may be missing something.

[2020-01-30 12:19] radcortez commented on #247
Do you have something like this:

[code]

?

[2020-01-30 14:14] MikeEdgar commented on #246
@EricWittmann  - would making Shrinkwrap an `optional` dependency solve this?

[2020-01-30 14:22] Ladicek commented on #246
That would also work, I guess? Add a comment to that class that you need to bring ShrinkWrap yourself (which we do in Thorntail) and be done with it? :-)

[2020-01-30 16:23] EricWittmann commented on #246
That's sounding like it is probably the best option, yes.

[2020-01-30 18:20] Ladicek opened #248 "NPE in OpenApiAnnotationScanner.createResponseFromJaxRsMethod"
Using a very simple JAX-RS resource that returns a JSON-P object, SmallRye OpenAPI throws a NPE:

[code]

[code]

As you can see in the stacktrace, this is using Thorntail. Specifically, Thorntail 2.6.0.Final, which uses SmallRye OpenAPI 1.1.20. I've tried to rebuild Thorntail with SmallRye OpenAPI 1.1.10, that works well. I've also tried to build SmallRye OpenAPI `master` branch and integrate tha

[2020-01-30 21:56] gastaldi commented on #246
I think it's easier to copy that class over to Thorntail and merge the PR?

[2020-01-30 23:55] MikeEdgar commented on #248
@Ladicek , I wasn't able to reproduce this. Are there any other variables besides what is listed below? The following steps:
[code]
Produce this output:
[code]

[2020-01-30 23:58] MikeEdgar commented on #247
@pilhuhn - I think to accomplish what you're looking for, you need to set your application's _context path_ to `/api/custom-policies/v1.0` and then set the `@ApplicationPath` value to `"/"`.

[2020-01-31 02:07] MikeEdgar commented on #128
@kenfinnigan - take a look at the [option for `sonar.branch.name`](https://sonarcloud.io/documentation/branches/overview/#analysis) in Sonar and the [BRANCH_NAME environement variable](https://semaphoreci.com/docs/available-environment-variables.html#variables-exported-in-builds-and-deploys) in Semphore.

I think adding this to the Semaphore builds should give us what we're looking for: `-Dsonar.b

[2020-01-31 10:24] EricWittmann commented on #247
I agree that there are workarounds for this, I think it still might be reasonable to have an option to suppress the `@ApplicationPath`.  It would be trivial to implement (I'm happy to do it if there are no objections).

[2020-01-31 10:51] Ladicek commented on #248
Aaah, sorry about that, totally forgot to include instructions for reproducing. If you do `mvn thorntail:run -Dthorntail.useUberJar` (or `mvn clean package && java -jar target/openapi-reproducer-thorntail.jar`), you will see the error.

But that suggests there's probably something wrong on Thorntail side, of course...

But then, NPE is always a bug :-)

I will look more into it on our side.

[2020-01-31 11:38] MikeEdgar commented on #247
That sounds good to me. This seems like the correct approach for what we talked about in #21

[2020-01-31 11:56] MikeEdgar commented on #248
@Ladicek - it looks like `JsonObject` is not on the class path at scan time. I agree the NPE is a problem.

[2020-01-31 12:49] pilhuhn commented on #247
@MikeEdgar Setting the context may or may not be possible depending on other factors.
I have played with a few options and the result was not satisfactory. So seeing @EricWittmann being happy to do it is great :)

[2020-01-31 13:29] kenfinnigan commented on #128
That's an option I wasn't aware of.

It could be looked at as part of https://github.com/smallrye/smallrye-parent/issues/79, as that will likely result in a different CI environment

[2020-01-31 15:35] #245 closed

[2020-01-31 15:42] kenfinnigan commented on #244
Another reason for a separate metamodel could be aligning with CDI in the sense that CDI Extensions, granted outside the realm of Quarkus, can modify JAX-RS Resources if they're CDI Beans, so it would also be good to be able to create an OpenAPI model of post CDI Extension changes, which would also be post Jandex indexing.

[2020-01-31 17:08] MikeEdgar commented on #128
That sounds good. It's even low-hanging fruit currently to stop the overlay of `master` branch analysis reports by PRs. Pull requests create a separate page highlighting the analysis on changes, which is nice.

[2020-02-03 01:07] MikeEdgar commented on #244
There are a couple of scenarios where we generate internal Jandex indexes mainly to support known (and very common) JDK types. If we take the route of implementing a custom `IndexView` then the additional classes generated/modified after the primary Jandex indexing phase in Quarkus could still be indexed on the fly by the OpenAPI scanner. As mentioned earlier, the classes would either need to be o

[2020-02-03 11:57] #248 closed

[2020-02-03 12:03] EricWittmann commented on #244
Certainly if the classes can be indexed that would be ideal - perhaps one of the dynamic class generating projects can produce something that can be indexed by jandex?  Byteman or asm?

That said, a meta-model is certainly possible to implement, just requires quite a lot of reworking.

[2020-02-03 18:50] kenfinnigan commented on #244
@FroMage are you able to comment as to whether any Quarkus generated bytecode that adds new endpoints would be on the classpath at the point the OpenAPI document is created?

From recollection, the document is created at build time, but I suspect the generated classes wouldn't be on the build time classpath. But I could be wrong

[2020-02-03 18:53] EricWittmann commented on #244
This is a really good point, and something I just learned recently - currently in Quarkus the OpenAPI doc is created at build time, not at runtime.  These classes are not generated at build time?

[2020-02-03 18:55] kenfinnigan commented on #244
The endpoint classes will be generated during the build process, but I'm not certain they'd be added to the build time classpath in the same build process.

[2020-02-03 20:43] MikeEdgar commented on #244
If they're on the class path, that would be good. But if they are not, are they available as class files that are accessible?

[2020-02-04 10:16] #247 closed

[2020-02-04 13:15] EricWittmann commented on #247
@pilhuhn Check out the PR that addresses this issue.  You'll need to just set an option in your MP config properties file.

[2020-02-12 10:30] MikeEdgar opened #257 "Plan for Version 2.0"
With MP OpenAPI 2.0 on the horizon, it probably makes sense to start thinking about how to move forward with the repository. Looking over the issue list, it seems that none are "must haves" for version 1.x and several are actually addressed by 2.0. What are everyone's thoughts on the following?

- Create a `1.x` maintenance branch for bug fixes
- Re-base the existing `2.x` branch and merge into `m

[2020-02-12 14:40] EricWittmann commented on #257
My preference is always to have `master` be where new development takes place.  So my vote would be to create the `1.x` branch (as you suggest) for maintenance of the current stable version.  And then merge the outstanding 2.0 work onto `master` and run with it.

[2020-02-12 14:49] phillip-kruger commented on #257
+1

[2020-02-12 15:43] kenfinnigan commented on #257
Once a milestone is created here, can it be added to https://github.com/smallrye/smallrye-parent/issues/99 so it's easy to link through. Thanks

[2020-02-14 10:32] agentgonzo opened #258 "Using a Custom String Converter that does nothing makes startup fail"
By adding a custom `Converter<String>` that does nothing (see https://github.com/agentgonzo/quarkus-quickstarts/commit/38d838cae650ad4014a3da5f35694539040b8c12) will cause startup to fail.

This is caused by the call here https://github.com/smallrye/smallrye-open-api/blob/359b8e3493ebff4662bafe7a54decc3730f3ecb4/implementation/src/main/java/io/smallrye/openapi/api/OpenApiConfigImpl.java#L217  whic

[2020-02-14 13:23] MikeEdgar commented on #257
Thanks everyone for the feedback. I'll look at putting together a PR to get `master` aligned with MP OpenAPI 2.0-SNAPSHOT over the next few days.

[2020-02-17 14:49] phillip-kruger commented on #217
Hi @geoand and @ebullient .
Has work on this started ? I had a quick look at what the options are, I just want to double check that someone else is not already busy on this ?

I also want to check the Quarkus requirement. If we enhance SmallRye to take Spring annotation into account while scanning, would that solve the Quarkus case ? Or is Quarkus converting the annotations to JaxRS/OpenApi alread

[2020-02-17 14:54] geoand commented on #217
Hey @phillip-kruger

AFAIK, no one has started working on this

I am also ccing @FroMage @gytis because they also have a use case requires generating the OpenAPI specs when no JAX-RS annotations are present on a class.

Yes, that would be my prefered approach, because Quarkus does **not** convert Spring Web annotations into JAX-RS ones.

I really really like this approach since it would allow both

[2020-02-17 15:03] phillip-kruger commented on #217
Thanks @geoand . Waiting on the other's response. I'll start looking at separating the OpenAPI and JAX-RS so long.

[2020-02-17 19:57] ebullient commented on #217
I tried... and it just felt very hacky to me!! Splitting JAX-RS and OpenAPI would be a great first step. I am happy to help adding Spring support.. but my attempts at splitting the JAX-RS stuff out were just.. messy.

[2020-02-18 06:44] phillip-kruger commented on #217
Hi @ebullient - thanks for the feedback. Yes seems like it's going to be quit an effort to split them. I am still playing around, but it might be a big piece of rewrite to get this done cleanly.

[2020-02-18 11:54] ehora opened #260 "Swagger-UI/Openapi-Link provides faulty schema-components for List/Set"
This issue belongs to https://github.com/quarkusio/quarkus/issues/7238. @EricWittmann asked me to create an issue here https://stackoverflow.com/a/60268508/12912411.

I'm evaluating Quarkus as backend, accessed by an angular frontend. I wanted to use the openapi data provided by Quarkus via http://localhost:8080/openapi, and generate via openapi-generator tools an typescript-angular client stub.

[2020-02-18 12:37] EricWittmann commented on #260
Thanks for opening this, @ehora

[2020-02-18 14:00] EricWittmann commented on #217
I can confirm - it will be non-trivial.  The original implementation pretty much directly uses the jandex index as the source of annotation information for generating the OAI.  We have some options, including:

1) Create an interface that abstracts away the jandex index
2) Add another processing phase

Maybe both things are needed?  Right now there are several existing phases, including the phase

[2020-02-18 14:46] gsmet commented on #260
Just FYI, it would be nice if we could get the fix in Quarkus before the end of the week so that we can safely include it in 1.3.0.CR1.

Thanks!

[2020-02-18 15:28] phillip-kruger commented on #217
Hi @EricWittmann, thanks for the feedback. If we add another Processing phase for Spring, that would still be Spring+OpenAPI right ? Can we discuss this Thursday ?

[2020-02-18 16:37] EricWittmann commented on #217
Yes - for Spring+OpenAPI.  I was imagining this extra phase to be a SmallRye (impl) specific feature, but maybe it's something that should be added to the spec.  So yeah, let's chat about it during Thursday's spec meeting.

[2020-02-18 16:52] #260 closed

[2020-02-18 16:52] MikeEdgar commented on #258
Fixed by #259

[2020-02-18 16:52] #258 closed

[2020-02-18 17:07] phillip-kruger commented on #217
Ok yes I guess that will be SmallRye specific, so maybe can can chat after the meeting. So we still need to refactor the OpenApi out of JaxRs so it can be reused in Spring ?

[2020-02-21 11:10] gsmet commented on #260
@MikeEdgar @EricWittmann can you tell me when you plan to release this fix? Just to know when we will get it in Quarkus.

Thanks!

[2020-02-21 11:12] MikeEdgar commented on #260
@gsmet - sorry, lost track of this. @kenfinnigan - please go ahead with a release of 1.2.1.

[2020-02-21 11:14] gsmet commented on #260
Thanks @MikeEdgar and @kenfinnigan !

[2020-02-21 12:47] kenfinnigan commented on #260
Release build running

[2020-02-21 13:01] kenfinnigan commented on #260
It's released, maybe a half hour or so to propagate to Central

[2020-02-24 11:20] #147 closed

[2020-02-24 11:20] #228 closed

[2020-02-24 12:19] pilhuhn commented on #247
@EricWittmann Sorry, i missed that - which PR is/was that?

[2020-02-24 12:28] pilhuhn opened #265 "Allow autogeneration of operation id"
Operation-ID is optional in the spec (https://swagger.io/docs/specification/paths-and-operations/ )

It would be good according to the 2nd last line to have an option to generate the auto-operation id from e.g. the fully qualified class + method name. The class name-part could perhaps also be specified, so that users can use a shorter one in case the fqn is very long.

[2020-02-24 12:51] EricWittmann commented on #247
https://github.com/smallrye/smallrye-open-api/pull/252

[2020-02-25 09:51] petrenyi-mark opened #267 "@Extension annotations are not processed when declared on fields."
Hi,

It seems that the microprofile-openapi `@Extension` annotation is only processed if its on the Resource class or on a jax-rs method, but skipped if its on an object (placed on the class or on a field), so in these cases the defined extension is not present in the openapi.yml model.

I created an example in the tck project (in ExtensionsTest: https://github.com/petrenyi-mark/smallrye-open-api/

[2020-02-26 12:48] MikeEdgar commented on #267
The fix here depends on whether eclipse/microprofile-open-api#387 is completed for 2.0 I think. If it is part of 2.0, `@Extension` would only be usable as a nested annotation of another extensible annotation - e.g. `@Schema`. If we want to support `@Extension` being placed on additional fields/methods, that should probably go into the `1.x` branch. @EricWittmann, is that your thinking as well?

[2020-02-26 13:23] EricWittmann commented on #267
Yeah I think this is something to address after https://github.com/eclipse/microprofile-open-api/issues/387 is done.

@petrenyi-mark to summarize this, we're planning on changing `@Extension` so that it can only be added as a child of some other OpenAPI annotation (e.g. `@Schema`).  The reason is that `@Extension` can be ambiguous when applied to certain fields/methods.  Ambiguity is removed if it

[2020-02-26 13:42] phillip-kruger commented on #267
Yea I am not sure yet. I am hoping the POC will give us more clarity. I'll keep that in mind when doing the POC. We need users to be able to provide their own annotation set & we need to test run the POC with Quarkus.

[2020-02-28 13:24] petrenyi-mark commented on #267
Thanks for the answers we're looking forward to the change :)

[2020-03-05 06:37] phillip-kruger commented on #246
Hi @EricWittmann @MikeEdgar @Ladicek @gastaldi @jmesnil

I want to reopen this issue and ask if we can re-consider removing ArchiveUtil from SmallRye Implementation. It's not used in the implementation at all and it's pulling in the shrinkwrap dependency. We only use it in the TCK.

I know Thorntail also use it, but I would suggest that we either have a copy in Thorntail or we create a new module

[2020-03-05 12:14] EricWittmann commented on #246
I've never had a strong opinion on this - so would be happy moving this class within smallrye-open-api and also copying it to thorntail.  (I'm also typically more amenable to copy/paste of code than others)  :)

[2020-03-11 11:34] MikeEdgar commented on #76
I'm working on this along with eclipse/microprofile-open-api#363.

[2020-03-11 20:30] phillip-kruger commented on #76
Hi @MikeEdgar - I am busy with a (fairly big) code structure change. Would you be able to wait until my change is in ?

[2020-03-11 20:32] phillip-kruger commented on #217
For those who did not see the post, we discussed this in the last meeting, and I am busy with a restructure of the code to allow for this feature. see https://groups.google.com/forum/#!topic/smallrye/OC-_oOHtVIM.

[2020-03-11 21:15] ebullient commented on #217
Jandex didn't bother me.. It just scans for annotations, it doesn't care what they are.

What I couldn't do was indicate "here is the top of the tree, look for _this set_ of annotations.. " because so much was oriented around the assumption of JAX-RS.

[2020-03-11 21:31] phillip-kruger commented on #217
Thanks @ebullient .
Yes Jandex was more discussed in terms of decoupling the annotation scanner from the code, so that other implementations can use their own annotation scanner. This is on ice at the moment.

At the moment the effort is in changing the structure as in the sketch, so that we can decouple OpenAPI from JAX-RS and then we should be able to plug in Spring. I should be done with this s

[2020-03-11 22:37] phillip-kruger commented on #246
OK Seems like most people are OK with this. I am adding this to my TODO list.

[2020-03-12 00:14] MikeEdgar commented on #76
@phillip-kruger - yes, no problem at all to wait.

[2020-03-12 05:26] phillip-kruger commented on #76
Thanks :)

[2020-03-12 13:41] ebullient commented on #217
I am happy to help with the "adding Spring" part. ;)

[2020-03-16 22:22] michaeljmcd opened #274 "Additional properties generated in a header ref"
When I include a ref in a header, like the one below:

      headers = { @Header(ref = "my-header"), },

The resulting YAML generation looks like:

            my-header:
              $ref: my-header
              style: simple

The extra `style: simple` property then causes validation with Spectral to fail, with the error:

           error  no-$ref-siblings             $ref cannot be placed nex

[2020-03-16 23:35] MikeEdgar commented on #274
+1

The JavaDoc for the `@Header` annotation's `ref` property states that if it is used in addition to other properties, the result is undefined. My opinion is that if the serializer encounters a `ref` as well as other properties, only the `ref` should be serialized. I think that works within the bounds of the specification.

There are TCK tests that check for the default `simple` value, so I thin

[2020-03-17 17:15] EricWittmann opened #276 "Explore leveraging OpenAPI core data model functionality of apicurio-data-models"
As initially suggested in this comment:  https://github.com/smallrye/smallrye-open-api/pull/275#issuecomment-600152810

I wonder if perhaps we can leverage the mature reading/writing/validation of OpenAPI content (with support for both 2.0 and 3.0) built in the https://github.com/Apicurio/apicurio-data-models repository.  The models found in that library may not be compatible with the interfaces d

[2020-03-23 12:47] phillip-kruger commented on #246
This has been removed and is now merged.

[2020-03-23 12:47] #246 closed

[2020-03-24 23:44] MikeEdgar commented on #257
The last thing to be done here (I think) is to remove the old `2.x` branch. If there are no objections I'll go ahead and do that and close this issue.

[2020-03-25 07:06] phillip-kruger commented on #217
Hi @ebullient @geoand .

The first part of this has been done. I have separated JAX-RS and OpenAPI and I am now busy adding a Spring Module.
Have a look at the latest master and let me know if you have any concerns.

I am planning to add just a basic Spring endpoint test and support that, and then I might need some help with some complex Spring examples. I'll let you know once that is done.

[2020-03-25 07:33] geoand commented on #217
That's awesome news @phillip-kruger !

[2020-03-25 20:42] michaeljmcd commented on #274
That's a good callout on the text in the javadoc description. A quick `grep` shows it to exist in MicroProfile OpenAPI in these classes:

    api/src/main/java/org/eclipse/microprofile/openapi/annotations/callbacks/Callback.java
    api/src/main/java/org/eclipse/microprofile/openapi/annotations/headers/Header.java
    api/src/main/java/org/eclipse/microprofile/openapi/annotations/links/Link.java

[2020-03-27 18:11] phillip-kruger commented on #217
Hi @ebullient and @geoand

I have merged the first (very basic) Spring use case. (see https://github.com/smallrye/smallrye-open-api/blob/master/extension-spring/src/test/java/test/io/smallrye/openapi/runtime/scanner/resources/GreetingController.java)

I need help with adding more test cases. Most of the code is there (copied from the JAX-RS module) but it needs testing and possible fixes.

If you

[2020-03-28 08:48] geoand commented on #217
Cool stuff!

@ebullient would you like to help drive this one home?
It would be great to have this one done for Quarkus 1.4

[2020-03-28 17:41] #257 closed

[2020-04-05 13:26] sean-scott-lr commented on #239
@MikeEdgar I believe that mislabelling this as an enhancement has caused this issue to not receive the appropriate priority.  @BeanParam supports inheritance and the APIDoc does not appropriately reflect the inherited parameters.

Also, I am using @QueryParam and the suggested workaround for this issue does not seem to work for me.  Should it?  If not, is there another workaround I can use for @Qu

[2020-04-06 10:32] MikeEdgar commented on #239
@sean-scott-lr, I understand your point, but from an annotation scanning perspective it is an unimplemented feature rather than one that is just not working properly. Granted, it is not working as users expect.

`@FormParam`s are treated slightly differently by the scanner, which is the reason the work-around mentioned earlier will not work for the other types of JAX-RS parameters.

@phillip-kruge

[2020-04-06 10:34] phillip-kruger commented on #239
Thanks @MikeEdgar  !

[2020-04-06 12:36] MikeEdgar commented on #239
Based on the uncertainty around how downstream servers will be incorporating the next major MP version, I think it makes sense for this change to be made to both `master` and `1.x`. I anticipate having these changes ready in the next couple of days.

[2020-04-06 15:46] EricWittmann opened #285 "Support annotations on setters in addition to fields"
Originally from here:  https://github.com/quarkusio/quarkus/issues/8415

I haven't confirmed this in SmallRye OpenAPI yet, but it seems likely to be an issue here.

[2020-04-06 16:10] MikeEdgar commented on #285
Yes, this is supposed to work. Reading the upstream issue in Quarkus, my best guess is that the `@Parameter` is missing the explicitly required fields called out in the JavaDoc (`name` and `in`) and it may be discarded. Earlier versions of SmallRye were more lenient on the requirement of those annotation properties, but it did cause issues (I forget what they were). It might be manageable to suppo

[2020-04-06 18:07] phillip-kruger commented on #217
Hi @ebullient . Anything you need from me ? Are you ok to add more test cases ? We wanted to include this in Quarkus 1.4 but I am not sure if we will make the dates...

[2020-04-06 18:46] michaeljmcd commented on #274
I've opened PR #286 with the first couple of entities. If there is still interest and these changes look good, I'd be glad to finish it out and clean up the merge status.

[2020-04-07 11:08] MikeEdgar commented on #285
It turns out that the scanner supports leaving out the `name` and `in` properties on the `@Parameter` annotation if there is another JAX-RS annotation on the same target and the target is not a method. I do not recall why it was coded that way and removing the requirement does not break any of the tests. I'll look at removing the limitation this week.

[2020-04-07 11:49] #239 closed

[2020-04-07 13:47] SetoKaiba commented on #239
Thank you so much.

[2020-04-07 18:13] cen1 opened #289 "Package deep scan logic changed since 1.1.3"
I noticed there is a change how packages are scanned after upgrading from v1.1.3 to v1.2.1.

1.1.3 would also scan all subpackages while 1.2.1 does not. I haven't found it in the release notes or closed issues, I am not sure which behaviour is correct, whether it is a bugfix or regression so I am raising the issue. I did not bisect the commits to find out exactly which version introduced the chang

[2020-04-08 13:55] neon-dev opened #290 "Nullpointer scanning JAX-RS annotated method"
Upgrading a project from Thorntail 2.5.0.Final to 2.6.0.Final, I get the following error:
<details>
  <summary>Stack trace</summary>

[code]
</details>

Debugging it, I found out it comes from this method (simplified example):
[code]

[code]
I see two issues here:
1. `SchemaFactory.typeToSchema(this.index, returnType, this.extensions)` returns `null` for `com.fasterxml.jackson.databind.node.TextNo

[2020-04-08 23:23] MikeEdgar commented on #289
Hi @cen1 - can you provide a few details about your application? Are you using config properties to limit which packages are being scanned? Also, which runtime environment are you using? Thorntail, Quarkus, etc.?

[2020-04-09 07:14] cen1 commented on #289
Correct, limiting package scan with config: `OpenApiConfig.scanPackages`. It is programatically set inside the framework extension. I bumped the version on kumuluzee-openapi-mp and noticed the behaviour in one of the sample projects.

[2020-04-09 10:27] rainmanhhh opened #292 "How to add custom extension(AnnotationScannerExtension)?"
OpenApiProcessor.modelFromAnnotations use OpenApiAnnotationScanner with singleton(readonly) list extension(which only process CompletionStage exclude CompletableFuture)

[2020-04-09 10:46] MikeEdgar commented on #289
@cen1 , please provide a link to the sample project you referenced. Also, please describe the behavior that used to occur and what is happening now.

[2020-04-09 11:00] MikeEdgar commented on #292
Hi @rainmanhhh, your comment is not entirely clear. What is the problem you are facing?

[2020-04-09 11:03] rainmanhhh commented on #292
my controller method returns a CompletableFuture:
[code]
and the default scanner only unwrap CompletionStage&lt;T&gt; to T, not include classes implement it, such as CompletableFuture

[2020-04-09 11:06] MikeEdgar commented on #290
@neon-dev , this looks like a duplicate of #248, fixed in #251. You should get good results by updating to `1.1.21` or `1.2.1`.

[2020-04-09 11:28] MikeEdgar commented on #292
Ok, I see. The `AnnotationScannerExtension` interface is not really usable from an application. It would be used by a server/runtime that integrates this library.

I think the issue that needs to be addressed here is that `SchemaFactory#resolveAsyncType` is only checking for the `CompletionStage` interface and not implementations. This could be updated by replacing the name comparison `pType.name(

[2020-04-09 11:37] rainmanhhh commented on #292
I tried but failed :(
quarkus defined a RESTEasyExtension using spi(in a wrong way) to load AsyncResponseProviders
I created a META-INF/services/javax.ws.rs.ext.Providers to specific my custom AsyncResponseProvider but classloader of RESTEasyExtension can't find it(maybe it will be loaded by another classloader)

hope your 2.0 release comping up(and quarkus upgade its dependencies) soon
before the

[2020-04-09 12:05] neon-dev commented on #290
Indeed looks like it. Sorry, I didn't find the issue because of using the wrong keywords I guess.
Can I make Thorntail use the newer version by manually importing via Maven, or will it cause incompabilities with a Thorntail fraction?

[2020-04-09 12:08] MikeEdgar commented on #290
I would try by adding the latest release of smallrye-open-api to `dependencyManagement`. I don't think there have been any changes significant enough to cause an issue in Thorntail, but never say "never" :)

[2020-04-09 12:24] neon-dev commented on #290
Adding it there doesn't change anything. Adding it under regular `dependencies` it throws a log manager error: `java.lang.IllegalStateException: WFLYLOG0078: The logging subsystem requires the log manager to be org.jboss.logmanager.LogManager. The subsystem has not be initialized and cannot be used. To use JBoss Log Manager you must add the system property "java.util.logging.manager" and set it to

[2020-04-09 12:47] MikeEdgar commented on #290
I overlooked the second part. It definitely looks like a bug and will need some investigation.

[2020-04-09 13:03] cen1 commented on #289
Project: https://github.com/cen1/sample-kumuluzee-openapi-mp

Steps:

1. Testing v1.2.1
[code]
2. v1.1.3
[code]

Packages for scan are configured in `src/main/respource/config.yaml`. Configured by extension with `OpenApiConfig.scanPackages`.

[2020-04-09 15:53] ebullient commented on #217
Y.. Attention has been divided. I will add more test cases.

[2020-04-09 19:28] EricWittmann commented on #292
Yeah I suspect you won't be able to leverage the SPI unless maybe you figure out how to do it at build time - since that's when Quarkus does most of its work, even for the MP OpenAPI stuff.  It's a relatively simple fix in SmallRye to fix this problem, but yeah it requires that you wait for a new release. :(

[2020-04-09 19:36] EricWittmann commented on #289
I haven't tested this lately, but originally (in Thorntail) we were scanning not only the main application deployment, but also all of its "modules" (dependency JARs).  This was critical for e.g. multi-module deployments, where JAX-RS classes might live in some JAR that is not the main deployment.

Ultimately I think SmallRye OpenAPI is pretty much dependent on the Jandex index.  We should be scan

[2020-04-11 00:01] #76 closed

[2020-04-11 17:23] sberyozkin commented on #76
@MikeEdgar thanks

[2020-04-12 10:37] MikeEdgar commented on #290
@neon-dev, running your example in the current `1.x` branch gives me the following output:

[code]
It appears the second issue was also resolved at some point as well. Try and see if excluding the SmallRye dependency from the `microprofile-openapi` Thorntail dependency (in addition to including the current SmallRye version) helps with the error you reported earlier.

[2020-04-12 11:07] MikeEdgar commented on #289
@EricWittmann, @cen1 , beyond the index, SmallRye also filters with the `FilteredIndexView`. I think the change in behavior being reported was likely introduced with commit 3c06c0df6286a283d8f7b6e8f71d471d88dad8ad. Looking at the spec, it is silent on whether packages configured with `mp.openapi.scan.packages` should be "deep" scanned or not. That may be worth adding a clarification on in the spec

[2020-04-13 11:34] #285 closed

[2020-04-13 11:49] MikeEdgar commented on #274
Fixed by #286

[2020-04-13 11:49] #274 closed

[2020-04-13 16:10] EricWittmann commented on #289
Ah ok - I misunderstood what was going on here (reading for comprehension failure).  Now I get it.  Please disregard my comment about Jandex!  :)

I agree that a clarification in the spec seems warranted.  As a developer I would probably expect deep scanning... with the ability to exclude sub-packages if I wanted.

[2020-04-14 10:09] #292 closed

[2020-04-14 10:23] neon-dev commented on #290
Doesn't seem to be easily excluded.
[code]
This still fails with the same error but when checking the line from the stack trace, it doesn't match with the sources for `1.2.1`.
This tells me Thorntail still uses an older version. I couldn't find out how or why.

[2020-04-14 12:08] ebullient commented on #217
This is not ready for integration yet, as the result is missing all kinds of information (and it does a few things slightly differently than other tools, which isn't a problem, but will require a custom "good" result json for testing once it all works.

https://github.com/ebullient/smallrye-open-api/tree/spring

[2020-04-15 06:35] michael-schnell opened #296 "Allow generation of a static OpenAPI file"
It would be nice to have a way to generate a static OpenAPI file instead of doing this dynamically at runtime. This avoids error prone manual maintenance of the API definiton.

In general a static OpenAPI can be used to compare the current version against the previous version. This allows automated checks for backward compatibility. The file will then be created during a build and is part of the p

[2020-04-15 07:19] phillip-kruger commented on #296
This should already be possible i think. That is how Quarkus use SmallRye Open API:

https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/OpenApiDocumentProducer.java

What runtime are you using ?

[2020-04-15 08:20] michael-schnell commented on #296
If I understand the example correctly it's just the other way round: Read an already existing static file ("load the document from the generated JSON file"). I'm talking about creating a static file: Read Java code with all annotations, create an in-memory model and generate a static file from it (Seralize the in-memory model).

[2020-04-15 08:34] phillip-kruger commented on #296
Ok I provided the code where the code is using the generated file, so the file will be created during build here I think : https://github.com/quarkusio/quarkus/blob/7894a228a825c4617469ccbb53fdead3bb392cf8/extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/SmallRyeOpenApiProcessor.java#L274

[2020-04-15 09:00] michael-schnell commented on #296
OK, thank you for the hint. I will take a look at it. Maybe I can extract something to allow an easy way of doing the same thing directly with SmallRye OpenAPI.

[2020-04-15 09:02] phillip-kruger commented on #296
If you find a needed change in SmallRye that would make this easier to use, please reopen this issue, or even better, do a PR with the change :)

Closing this for now.

[2020-04-15 09:02] #296 closed

[2020-04-15 10:49] MikeEdgar commented on #290
In a simple test, it looks like the generated war file contains both versions. I'm guessing that it's due to how the `thorntail-maven-plugin` works. Your best bet may be to open an issue with Thorntail and see if they can advise how to override dependencies like this.

[2020-04-15 17:47] guskuma opened #297 "OpenAPI spec not generated with @Tag, inheritance and multiple http verbs"
I'm trying to migrate from WF18/Swagger to WF19/Microprofile-OpenAPI. Changing annotations is not a big deal but I found myself lost with no OpenAPI spec showing off. After some debugging I realized I could only see any spec when commenting Tag annotation, removing inheritance (Schema using oneOf property and using only POST http verb in my endpoint resource class.

When debugging (before commenti

[2020-04-15 18:32] sean-scott-lr commented on #239
@MikeEdgar Thank you for fixing.  I see its been merged to 1.x, When can we expect this to be in a release?

[2020-04-16 11:49] EricWittmann opened #298 "Request: option to set the OpenAPI version"
This comes from someone on the Microprofile OpenAPI gitter chat room:

[2020-04-16 14:14] phillip-kruger commented on #298
Maybe we allow more that just the version to be overridden in MP Config. Eg. Contact and maybe other field ?

[2020-04-16 14:15] phillip-kruger commented on #298
Also maybe change the default to 3.0.2

[2020-04-16 17:08] neon-dev commented on #290
I'm currently too busy for troubleshooting this, so I'll just close this issue and reopen it in case it's not fixed once I get the chance to test it. No need to update dependencies right now, so I'll just wait a bit.

[2020-04-16 17:08] #290 closed

[2020-04-17 09:37] dmi3coder opened #300 "Example object in Schema is always of String type"
I have a very simple User object where I have `id` field of type integer. I added example with specifying the type
[code]
This generates a schema with example as a string
[code]
Because of this in e.g Swagger UI when I'm prompted to fill in the example I have string type, users can think that it's mandatory to wrap integer into double-quotes.
While debugging I've found that smallrye-open-api reads

[2020-04-17 10:51] MikeEdgar commented on #300
Hi @dmi3coder - this seems like an issue for the [MicroProfile OpenAPI specification project](https://github.com/eclipse/microprofile-open-api/). If I am understanding you correctly, you are looking for behavior similar to how the `@Extension` annotation is supposed to work, correct? That annotation supports provides a `String` property that must be a JSON object, JSON array, boolean, or number (p

[2020-04-17 11:04] MikeEdgar commented on #239
@phillip-kruger - do you think it's time for a 1.x release? I think it would be good to make the latest fixes on 1.x generally available.

[2020-04-17 11:20] phillip-kruger commented on #239
Sure ! Let's do it.

[2020-04-17 13:29] sean-scott-lr commented on #239
Great, thank you.  Hopefully Quarkus can pull it into 1.4.0

[2020-04-17 13:45] dmi3coder commented on #300
Good day @MikeEdgar, yes, thank you for the detailed description, I submitted pr to micro profile project 👍

[2020-04-20 00:08] MikeEdgar commented on #297
@guskuma - I did a small test using the classes you provided, but it seems to be generating the OpenAPI output as expected. Can you provide a sample project that demonstrates the problem? Thanks

[2020-04-21 13:57] amoscatelli opened #306 "Wrong inheritance/polymorphism support ?"
In my JAX-RS resource Creable class extends Identifiable class

This is what is generated in the openapi file

`    Identifiable:
      type: object
      properties:
        '@type':
          type: string
        id:
          type: string
        version:
          format: int64
          type: integer
     Creable:
      type: object
      properties:
        '@type':
          type: string