[2022-02-13 18:20] #1019 closed

[2022-02-13 21:59] MikeEdgar commented on #1048
@ricardozanini - I looked at this a bit and of course it's a bit more complicated beneath the surface. If we introspect `JsonNode`, it will generate all of its properties, none of which would be helpful (i.e. several `boolean` properties for all of the `is*` methods). This may be a case where a `@Schema(implementation = SomeBean.class)` could be used to influence the schema for the `workflowdata`

[2022-02-14 12:36] ricardozanini commented on #1048
Hi @MikeEdgar! Thanks for your insights. I agree that a regular JSON Object should represent the `JsonNode`. So the `@Shema(implementation = JsonObject.class)` would do the work? Being the `JsonObject` the general representation of the JSON object rather than Jackson's Json Node itself. wdyt?

[2022-02-14 13:16] msmiths commented on #1048
@MikeEdgar The `JsonNode` class is actually the base class for all JSON node types in the Jackson data model. This includes the `ContainerNode` types, `ArrayNode` and `ObjectNode`, as well as all of the `ValueNode` types. Defining a property of type `JsonNode` in a model class that is returned by a REST API is equivalent to saying that it can be of any type... effectively a schema of:

[code]

...

[2022-02-14 13:19] MikeEdgar commented on #1048
@msmiths - 100% agree with you. While it may be used in code for ease, it's too broad to use as the basis for a schema in the API definition.

[2022-02-14 13:22] ricardozanini commented on #1048
@msmiths @MikeEdgar, we have an edge case in which we need the `JsonNode` being the input model for the REST resources. We are going to fix it by making the interface being interpreted as a generic JSON Object: `{}`.

[2022-02-14 19:07] #1048 closed

[2022-02-15 15:54] suleymanozev opened #1052 "No enum constant exception thrown in quarkus"
2022-02-15 18:51:48,619 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (vert.x-eventloop-thread-15) HTTP Request to /q/openapi failed, error id: d2921701-6599-4f86-b505-e33e12c0b909-2: java.lang.IllegalArgumentException: No enum constant org.eclipse.microprofile.openapi.models.media.Schema.SchemaType.STR?NG
	at java.base/java.lang.Enum.valueOf(Enum.java:273)
	at org.eclipse.microprofile.openapi.mo

[2022-02-15 16:10] MikeEdgar commented on #1052
@suleymanozev - what character encoding is used by your JVM?

[2022-02-15 16:31] suleymanozev commented on #1052
This problem may be in Turkish, but also in other non-English languages. I will send a pull request soon.

[2022-02-15 16:32] MikeEdgar commented on #1052
Perfect, thank you :+1:

[2022-02-15 17:00] #1052 closed

[2022-02-15 21:13] MikeEdgar opened #1055 "Do not order enum constants by default"
We now default to fields not being sorted (and sorting can be enabled using `mp.openapi.extensions.smallrye.sorted-properties.enable=true`). This should apply to `enum` constants as well.

[2022-02-15 23:12] MikeEdgar opened #1057 "Validation annotation on generic type params apply to field"
Given the following bean,
[code]
the scanner gnerates the following schema with the `list` property identified as `"nullable": false`, but the `@NotNull` actually applies to the `items`.
[code]

[2022-02-16 03:05] #1026 closed

[2022-02-16 10:23] #1055 closed

[2022-02-16 10:33] #1057 closed

[2022-02-17 19:57] MikeEdgar opened #1062 "Configuration of system properties in the OpenAPI Maven plugin"
Configuration of system properties can be added to the Maven plugin to support their use in user-provided OASModelReader and OASFilter. The convention used by Surefire [1] seems like a reasonable approach.

[code]

[1] https://maven.apache.org/surefire/maven-surefire-plugin/examples/system-properties.html

[2022-02-17 23:18] #1062 closed

[2022-02-19 15:33] MikeEdgar commented on #1023
@scrocquesel - the `description` should apply to the property along with the schema referenced (a union of the two). In this example, the definition says "the schema of property `foo` is a combination of `'#/components/schemas/ComplexType'` and `description: a description`". At least that is my interpretation of `allOf` [1]

[1] https://swagger.io/docs/specification/data-models/oneof-anyof-allof-n

[2022-02-19 15:58] MikeEdgar commented on #1022
This should be supported, reference https://swagger.io/docs/specification/data-models/data-types/#any

[2022-02-19 19:18] MikeEdgar commented on #1022
@sclorng , you should be able to accomplish this by setting the following property:
`mp.openapi.schema.java.lang.Object={ "name": "AnyType" }`

This will result in something like:
[code]

[2022-02-21 23:10] #1049 closed

[2022-02-21 23:27] #815 closed

[2022-02-22 14:16] MikeEdgar commented on #803
@jonsalvas - just doing a follow-up on this one and I want to make sure you've been able to get the output you need/expect. Let me know if there is still anything open on your side or feel free to close this issue. If I don't hear back, I'll close later this week.

[2022-02-25 09:17] hendrik-bammel opened #1077 "Support for security scheme extension"
I would like to have some possibility to add the tokenName extension to the openApi security scheme component using the quarkus application.properties. I'm using Microsoft as a provider for OpenIdConnect and therefore i got an access_token and an id_token. Thus i want to make this explicit in my interface description (and swagger can also use this information).

As i understand, an extension mecha

[2022-02-25 15:43] MikeEdgar commented on #1077
For something like `quarkus.smallrye-openapi.security-scheme-extension`, I think that would be an issue in Quarkus.

As far as using annotations, that should be supported with https://github.com/eclipse/microprofile-open-api/issues/387 in MP OpenAPI 3.1, if all goes as planned.

[2022-02-25 19:03] hbelmiro opened #1078 "@Info Annotation being ignored in Quarkus"
I'm using org.eclipse.microprofile.openapi.annotations.info.Info in Quarkus to define the title, the description and the version of an API, but it's being ignored when generating the Open API file.

I'm using the following code:
[code]

And the generated file is the following:
[code]

I was expecting the following `info` instead of the above one:
[code]

I shared my project in https://github.com/h

[2022-02-25 19:05] MikeEdgar commented on #1078
@hbelmiro , the `@OpenAPIDefinition` needs to be on either a JAX-RS `Application` class or a `package-info` in your app.

[2022-02-25 19:20] hbelmiro commented on #1078
Many thanks for your help @MikeEdgar. I added the `Application` class and it worked as expected.

Just documenting for others, I added the following class:

[code]

And the generated Open API file now is:

[code]

[2022-02-25 19:20] #1078 closed

[2022-02-28 16:33] Postremus opened #1079 "Implicit default values for primitive data types"
I have a parameter defined as follows:

[code]

Since this is a primitive boolean, it defaults to false if the user did not specify ?onlyNewest=true.
The openapi documentation does not reflect this however, no defaultvalue is set for this parameter.

Ideally, Smallrye Openapi could auto generate the default values for query parameters.

Also, at least for resteasy, following assignment as `true` h

[2022-02-28 23:16] phillip-kruger commented on #1079
@MikeEdgar - what is your thoughts ? I would rather want an explicit `@Paramter(defaultValue="true"` or something like that.

[2022-02-28 23:40] MikeEdgar commented on #1079
To make this work with both JAX-RS and the OpenAPI scanner, I think the best approach is to use `@DefaultValue` co-located with the `@QueryParam`.

[2022-02-28 23:44] phillip-kruger commented on #1079
Great. Would that work for you @Postremus ? If so you can close this issue

[2022-03-01 05:36] #1079 closed

[2022-03-04 11:19] sandersteenhoudt opened #1083 "Add support for methods not using the javabean style"
As originally reported to the Quarkus team: https://github.com/quarkusio/quarkus/issues/24085

It seems Jackson's `@JsonProperty` annotations are only picked up on methods if they have a `get` or `is` prefix. It would be great if annotated methods are picked up regardless of any prefix.

[2022-03-10 16:20] Postremus opened #1089 "Provide better examples for localdatetime"
For query parameters of type localdatetime and localdate should generate example values, like it is already done for localtime.

For the request body, the example localdatetime should be without 'Z' - e.g. '2022-03-10T16:15:50.487' instead of '2022-03-10T16:15:50.487Z'

I have following resource:
[code]

Swagger-ui:
![image](https://user-images.githubusercontent.com/1223135/157707712-4ec91b57-069f

[2022-03-10 21:57] phillip-kruger commented on #1089
PRs welcome :)

[2022-03-11 16:37] sandronm commented on #1008
Don't want to put pressure on anybody but this feature will also be nice for our current developments.
I hope this will become a reality some day ;-)

Already thank you for your all work!

[2022-03-12 14:07] MikeEdgar commented on #1042
@radcortez any concerns if I periodically reset and run the migration on `jakarta`? I'm using that branch as a base to verify MP 3.1 TCK changes (the _next_ release) so I'd like to keep it as current with `main` as possible.

[2022-03-14 21:34] phillip-kruger commented on #1023
Agree, the description is for the property. If you need a description on the ComplexType then the type should contain that annotation. So I agree with the above output. (it describes foo).

[2022-03-14 23:01] MikeEdgar commented on #1023
I'm looking into a fix to keep local property properties/constraints outside of the `allOf`. Also, if the scanner detects a conflict between a local constraint and the referenced schema in the `allOf`, I think it needs to in-line the referenced schema instead and overlay the locally-overridden constraint.

[2022-03-17 10:21] MikeEdgar opened #1095 "Synthetic classes not ignored"
See https://github.com/quarkusio/quarkus/issues/24344

[2022-03-17 12:35] MikeEdgar opened #1098 "Add test application module to maintain test classes"
E.g. a Quarkus app, include source code for #1096

[2022-03-17 17:48] #1095 closed

[2022-03-30 22:38] phillip-kruger commented on #1077
@hendrik-bammel i'll have a look at this a.s.a.p

[2022-03-31 14:03] gnarroway opened #1108 "`@Pattern` annotation should reflect in data structure"
If specifying a regular expression constraint via `@javax.validation.constraints.Pattern`, it should automatically appear in the output, similar to the treatment of `@NotNull` in https://github.com/smallrye/smallrye-open-api/issues/131

As context, I am using quarkus 2.7.5 with openapi/swagger-ui with Kotlin, and currently, I need to explicitly add a duplicate `pattern` to `@Schema` to make it ref

[2022-04-03 19:11] osagie-ogbomo commented on #998
It's working now. Thanks a lot guys! I just was able to test it recently.

[2022-04-12 01:30] asajigithub opened #1121 "[RFE]smallrye-openapi does not process javax.validation constraint @pattern and add it to the schemas it generated in openapi yaml file"
For the code with following validation constraint
[code]

From SwaggerUI-> OpenAPI, the document does not include the Pattern validation
[code]

[2022-04-12 01:39] phillip-kruger commented on #1121
Duplicate of #1108 ??

[2022-04-22 08:06] Aravinda93 opened #1133 "How to read all Examples and add it to the @ExampleObject without specifying the ref so its visible in SwaggerUI"
I am developing a simple application where I would like to read the files from a remote URL and add them to the `@ExampleObject`. I am able to achieve this using CustomClass `SchemaFileReader implements OASFilter` but the only problem is that I need to manually specify the `name` of the file in the ref such as `@ExampleObject(name = "Example1", ref = "Example1.json")`.

Since I am reading the URL

[2022-04-22 23:40] phillip-kruger commented on #1133
You can build the model in that same filter and reference that ? (so no ref to remote url, just to the local models)

[2022-04-23 04:39] Aravinda93 commented on #1133
@phillip-kruger Thanks a lot for your response. Sorry,  i am unable to follow your approach completely. If possible can you please explain bit more in detail or provide a small example?

I got to know that I need to create model in "SchemaFileReader implements OASFilter" but could not understand what model and how to reference it.

@phillip-kruger Thanks a lot in advance.

[2022-04-26 00:26] phillip-kruger commented on #1133
Hi  @Aravinda93 - I checked out your example and it seems to already work as I suggested ? Everything seems fine to me ?? What is the issue ?

Here is the OpenAPI schema document I get:

[code]

As you can see everything seems ok there. In swagger-ui you can also see the examples:

![image](https://user-images.githubusercontent.com/6836179/165195291-58643c35-3e24-4903-b718-2984a84494e1.png)
![imag

[2022-04-29 10:42] Felk commented on #803
I encountered a similar (or maybe even the exact same) issue, namely smallrye generating a base class twice if it is used in generics. The smallest example I could come up with looks like this:

[code]

And the generated schema looks like this:
[code]

`Base` is duplicated as `Base1`, with the additional problem that `WrapperFoo` no longer contains `Foo`, but `Base1` and therefore does not contain

[2022-05-05 00:10] MikeEdgar commented on #803
Thank you for the example @Felk , I'll take a look.

[2022-05-05 18:39] Magas8286 commented on #595
@MikeEdgar using @Operation how can I reutilize @ApiResponse? since we don't have a "name" property? is there a way to do it?

[2022-05-08 11:14] MikeEdgar commented on #595
@Magas8286 can you give an example? Referencing an `@APIResponse` will require the REST method to also include an `@APIResponse` with the `ref` property set to the response being referenced.

[2022-05-20 23:53] #1121 closed

[2022-05-27 07:56] antssilva96 commented on #1008
I'm in the same situation as @mschorsch, this is blocking the use of `quarkus-smallrye-openapi`.

[2022-06-02 09:12] rvansa commented on #1023
I just stumbled upon a similar issue, where
[code]
results in
[code]
Naturally I don't want to remove the `@NotNull` as it is used for other validations. And for some reason when I process the generated document with `openapi-generator` to create Typescript API this results in
[code]

[2022-06-07 05:01] piu130 opened #1153 "[feat] Annotation composition (for @Consumes)"
Could you add support for annotation composition?
Example:
[code]
In this example OpenAPI falls back to `Content-Type: application/json` instead of a dropdown with values `image/jpeg` and `image/png`. Haven't tested this with other annotations (only `@Consumes`).

Btw. an issue template would be nice.

[2022-06-12 02:49] #1108 closed

[2022-06-12 22:40] grossws opened #1155 "Missing path parameters for JAX-RS subresources declared in locator's `@Path`"
When JAX-RS subresource locator use `@Path("some/{id}")` SmallRye OpenAPI doesn't produce relevant parameters in operations in that subresource.

Partial workaround: add `@Parameter(name = "id", in = ParameterIn.PATH, required = true)` to subresource locator.
But it helps only with methods in the same subresource (without additional `@Path` annotations) like `SubSubResource#getAll` below but not f

[2022-06-14 00:29] phillip-kruger commented on #1155
@MikeEdgar any thoughts ?

[2022-06-14 12:35] MikeEdgar commented on #1155
Definitely a bug, this should work properly. I'll try to take a look this week.

[2022-06-14 14:05] grossws commented on #1155
If you need a reproducer with my env feel free to ping me

[2022-06-17 14:29] Azquelt opened #1159 "extension attribute not processed for all annotations"
The `extensions` attribute is not processed for the following annotations:

- [ ] `@Components`
- [ ] `@Contact`
- [ ] `@Encoding`
- [ ] `@ExampleObject`
- [ ] `@Header`
- [ ] `@Info`
- [ ] `@License`
- [ ] `@Link`
- [ ] `@OAuthFlows`
- [ ] `@OAuthFlow`
- [ ] `@Server`
- [ ] `@ServerVariable`

See tests in https://github.com/eclipse/microprofile-open-api/pull/537

[2022-06-17 14:30] Azquelt commented on #1159
I will see if I can work out why `extensions` is being ignored for each of these annotations and open a PR.

[2022-06-23 11:52] tjquinno opened #1161 "`SchemaFactory` bound to Jackson"
The changes implementing enhancement #245 allow libraries layering on SmallRye OpenAPI to implement `AnnotationScannerExtension` in order to, among other things, provide their own parsing rather than Jackson.

One of our users seems to have found a spot where SmallRye is still tightly bound to Jackson. This happens to be in 2.1.16.

It looks as if adding `@Schema` to a field triggers this, in that

[2022-06-23 23:29] phillip-kruger commented on #1161
@tjquinno Are you working on a PR for this ?

[2022-06-24 04:19] tjquinno commented on #1161
@phillip-kruger No, I'm not. Too much to do on other things and not familiar enough with the SmallRye code base to be efficient.

[2022-06-27 11:03] #1161 closed

[2022-06-28 11:48] ivansenic opened #1165 "Order of parameters not respected"
The order of parameters defined in the `@Parameters` is no respected.. This results in a crazy order, especially in a Swagger UI and is very confusing for a user imo.

For example, having the:

[code]

will result in the following order in the `openapi.json`

[code]

and eventually looking like this in Swagger UI:

![image](https://user-images.githubusercontent.com/10600041/176171101-1d47b3ee-de5e

[2022-06-28 17:50] ColdanR opened #1166 "Support different encoding in smallrye-open-api-maven-plugin"
Hello,
I'm currently setting up an automated documentation for OpenAPI, but on Windows 10 the plugin exports the schema files with a different encoding than UTF8. (System Default)

Looking up the code the generated documentation will be transformed to an byte array without usage of encoding.
https://github.com/smallrye/smallrye-open-api/blob/0af0bec05a1fc0c477254c161e54103ac32460f4/tools/maven-plu

[2022-06-28 23:36] phillip-kruger commented on #1166
Hi Bernd, thanks for the issue. Are you not keen to do a PR to fix this ?

[2022-07-03 21:03] ColdanR commented on #1166
Hi Phillip,
currently I don't have the time to do so. I also didn't find any information about contributing. Would be nice, if you can add a code of conduct and contribution.md file für information.
I will try to find some time next week.

[2022-07-04 14:50] #1159 closed

[2022-07-05 01:12] MikeEdgar opened #1173 "@FormParam OpenAPI not displayed properly in Resteasy Reactive"
See https://github.com/quarkusio/quarkus/issues/26461

[2022-07-05 01:14] MikeEdgar opened #1174 "Schema default value should be match the schema's type"
See https://github.com/quarkusio/quarkus/issues/26546

[2022-07-06 14:19] StephenOTT commented on #240
for future ref: `Support for OpenID Connect Discovery was added in Swagger UI v. 3.38.0 and Swagger Editor 3.14.8.`

from https://swagger.io/docs/specification/authentication/openid-connect-discovery/

[2022-07-06 23:37] phillip-kruger commented on #240
Hi @StephenOTT - OIDC is supported in Quarkus. Are you having some issue ?

[2022-07-11 14:05] JapuDCret opened #1178 "Vert.x Route not properly reflected (when regex is used, instead of path)"
### Problem
We renamed an endpoint and therefore decided to write a URL rewriter from `/config-params/{config-param-id}` to `/v1.0/config-params/{config-param-id}`.

But then the new endpoint is not properly reflected in the OpenAPI.

### Expected behaviour
The relevant generated OpenAPI is
[code]

### Observed behaviour
The relevant generated OpenAPI is
[code]

### Current implementation
[code]

[2022-07-11 14:33] JapuDCret commented on #1178
I would also be fine, if these cases can be somehow ignored, since the Schema is also not available

[2022-07-11 14:35] MikeEdgar commented on #1178
@JapuDCret , try annotating the method with `@Operation(hidden = true)` to ignore it.

[2022-07-11 14:45] JapuDCret commented on #1178
thanks @MikeEdgar works like a charm :)

though I think the issue could be kept open, but I'll leave it up to you

[2022-07-12 00:20] #1089 closed

[2022-07-12 00:56] MikeEdgar commented on #1155
OpenAPI JSON for the example above. `parameters` missing for `subId` from paths `/v1/a/{subId}/b` and `/v1/a/{subId}/b/{subsubId}`. I'm looking into this...

[code]

[2022-07-12 01:07] MikeEdgar commented on #1155
@grossws I think I see the issue. The `@PathParam("subId") String subId` argument should be moved from the `SubSubResource` methods to `SubResource#subsub`. Aside from the OpenAPI issue, does it work this way with Resyeasy?

[2022-07-12 01:08] #1173 closed

[2022-07-12 22:41] grossws commented on #1155
@MikeEdgar, yeah sample in the issue works with at least with RestEesy Reactive. I didn't add `subId` parameter to the `SubResource#subsub` locator method since I can't use it there 'cause `SubSubResource` is CDI managed bean for JAX-RS resource. I'll try to add just a dummy parameter tomorrow. IIRC adding a field with `@PathParam` in the `SubSubResource` didn't work either but I don't recall if i

[2022-07-13 01:10] #1166 closed

[2022-07-13 15:00] grossws commented on #1155
With additional dummy parameter in the subresource locator produces what seems to be correct schema:

[code]

[code]

[2022-07-13 15:38] MikeEdgar commented on #1155
At the moment, the parameter scanner only looks for a path parameter's schema associated with the method having the `@Path` annotation. Until this issue, I didn't realize the args may not be present until the subresource's endpoint method. Since this is a valid scenario, we can keep this open to update the scanner to handle this case.

[2022-07-14 11:57] MikeEdgar opened #1180 "`@NotNull` should not generate `nullable: false`"
I just stumbled upon a similar issue, where
[code]
results in
[code]
Naturally I don't want to remove the `@NotNull` as it is used for other validations. And for some reason when I process the generated document with `openapi-generator` to create Typescript API this results in
[code]

_Originally posted by @rvansa in https://github.com/smallrye/smallrye-open-api/issues/1023#issuecomment-1144634469

[2022-07-14 11:57] MikeEdgar commented on #1180
`nullable: false` is the default and should not be added by the annotation scanner when `@NotNull` is present.

[2022-07-15 16:24] djnalluri opened #1183 "Support for removing unused models"
It would be convenient to have a way to automatically remove unused models from generated OpenAPI documents.

Currently, all classes marked with `@Schema` will automatically be included in the OpenAPI document. This can lead to unused classes being included anyways if they exist in the index. This can be worked around by explicitly specifying the packages or classes to be scanned but it can someti

[2022-07-19 23:53] #1180 closed

[2022-07-20 01:37] #1042 closed

[2022-07-21 01:36] phillip-kruger opened #1191 "Better error message for parameters"
see https://github.com/quarkusio/quarkus/issues/26848

[2022-07-21 01:37] phillip-kruger commented on #1191
cc @cowtowncoder

[2022-07-21 01:46] MikeEdgar commented on #1191
Yeah, that can be done. At the moment, it will need to happen after all parameters for the method are processed ( since we support the annotations being placed in different locations, even for the same parameter ).

I'll look more closely at the stack trace in the Quarkus issue to see if there is anything that can make the handling of this more elegant.

[2022-07-21 01:47] phillip-kruger commented on #1191
Yes I guess ever after that static documents (if provided) is merged in ?

[2022-07-21 01:52] phillip-kruger commented on #1191
.. and all filters has ran ?

[2022-07-21 02:55] cowtowncoder commented on #1191
This all sounds good. My starting was just that ANY indication of how to resolve the issue (in my case by just adding `@PathParam`) would be welcome, instead of

[code]

but I realize that asides from changing exception itself from NPE (which is probably easy), metadata about source location etc may not be easily accessible at point where problem is found.

Although in hindsight, that ```Parameter

[2022-07-21 03:06] phillip-kruger commented on #1191
@MikeEdgar - also look at the last comment in the Quarkus issue. There is a parameter in the Application level but it does not seem to filter though. I am not sure how that is supposed to work. Do you know ?

@cowtowncoder the open api code (annotations and other ways) does not change the JAX-RS (or Spring) behavior. It just create the schema doc. So in you example you will till (even with paramet

[2022-07-21 16:03] tatu-at-datastax commented on #1191
@phillip-kruger That makes sense. I was not (and am not) claiming usage as-is is correct, just that the error handling/reporting is not working well. That JAX-RS vs OpenApi need different annotations makes sense and I was guessing might be the case, esp. for JAX-RS side (OpenApi handler can perhaps deduce more information).

[2022-07-21 19:46] MikeEdgar commented on #1191
This should render as a `$ref` in the output, with the parameter information placed under `components` (like a referenced schema).

[2022-07-22 00:47] phillip-kruger commented on #1191
@MikeEdgar - I don't think that worked ... At least not in the example provided.

@tatu-at-datastax Thanks for the report. I also feel that OpenApi can deduce more info. We always try and make the default as good as possible. Do you have any suggestions for this (or any other) case ?

[2022-07-22 00:53] MikeEdgar commented on #1191
I noticed the class with `@OpenAPIDefinition` in the example does not `extend jakarta.ws.rs.core.Application`. Here's the "correct" output.
[code]

[2022-07-22 00:58] MikeEdgar commented on #1191
Also, in the above case, the scanner would log the following. Let me know if this could be reworded to be more clear, etc.
[code]

[2022-07-22 01:05] phillip-kruger commented on #1191
Cool, I missed that. So that all works as expected. I also missed that warning ! That is actually what we want right ? @cowtowncoder ? I wonder if that should rather have been an error ?

[2022-07-22 01:07] MikeEdgar commented on #1191
That output and the log message are all in my local changes only :-) I was thinking warning because the scanner can keep going. Just a way to signal that the output is likely not what is desired.

[2022-07-22 01:09] phillip-kruger commented on #1191
O, ok. Yea - failing that situation is a breaking change. Maybe the warning is ok. @cowtowncoder any thoughts ?

[2022-07-22 02:03] cowtowncoder commented on #1191
Ok so adding WARN would improve things a lot, although perhaps error would make more sense.
In my case error would not be a breaking change (since build already fails) but if there are other cases then yes, backwards compatibility is an important consideration.
But I trust that you two have much better understanding of the big picture so I trust your judgment here.

Also: good point about missing

[2022-07-26 10:16] dirkbolte opened #1195 "Kotlin value classes not represented correctly."
When adding a kotlind value class to a response, the property name is added twice. I tried different approaches with specifying schema, but wasn't able to correct or hide the additional property.

value class:

[code]

Response:

[code]

Resource:

[code]

I tried different variations and put some of them in a sample project: https://github.com/dirkbolte/openapi-test

The result looks like this:
<

[2022-07-27 10:33] dirkbolte commented on #1195
Hit a similar issue with lazy initialisation:

[code]

This results in an extra property: `myId$delegate` .

I also found a mitigation - not sure whether it's the desired one or not.

For lazy, the redundant property can be removed with: `@delegate:Schema(hidden = true)` . Along these lines: the original issue can be mitigated by annotating the property with: `@get:Schema(hidden = true)` .

[2022-07-27 11:07] phillip-kruger commented on #1195
Thanks @dirkbolte - This testing help a lot, we do not have Kotlin tests, and there are some cases that is specific... We will get to this a.s.a.p, but please keep them coming .

[2022-07-30 10:41] MikeEdgar commented on #276
Closing for now due to the incompatibility with MicroProfile OpenAPI interfaces. We can revisit this in the future if anything changes.

[2022-07-30 10:41] #276 closed

[2022-07-31 23:30] #1191 closed

[2022-08-01 00:33] #1083 closed

[2022-08-02 06:06] abrahamp-hv opened #1200 "Can we Ignore the YAML dependencies available in the Project and get the JSON api doc file"
Hi Team,

We are using YAML for the config files in my project. Post adding this support, we were able to download the api-docs file in YAML format only.
Is there a way to download the api docs file as a JSON file?

[2022-08-02 08:01] phillip-kruger commented on #1200
Did you try the content type header ? Or ?format=json at the end of the url ?

[2022-08-02 08:19] abrahamp-hv commented on #1200
Hi @phillip-kruger ,

?format=json worked for me. Thank for the quick reply.

[2022-08-02 08:19] #1200 closed

[2022-08-02 09:51] #1155 closed

[2022-08-02 11:54] MikeEdgar opened #1201 "Resource methods do not properly inherit from overridden methods"
See https://github.com/quarkusio/quarkus/issues/27058

[2022-08-02 11:58] MikeEdgar opened #1202 "StackOverflowError from FilterUtil"
See https://github.com/quarkusio/quarkus/issues/27022

[2022-08-02 22:37] MikeEdgar commented on #1178
I suppose the only solution for this would be to automatically hide routes with a regex.

[2022-08-03 00:16] #1174 closed

[2022-08-03 00:25] MikeEdgar commented on #1133
@Aravinda93 do you still have any questions or concerns on this issue?

[2022-08-03 14:22] Aravinda93 commented on #1133
@MikeEdgar Thanks a lot, I was able to find the answer here: https://stackoverflow.com/q/71964917/7584240

[2022-08-03 14:22] #1133 closed

[2022-08-04 00:50] #1201 closed

[2022-08-08 00:16] MikeEdgar commented on #1195
@dirkbolte , I've looking at the generated bytecode for the above Kotlin `TestResponse` in the test project and the problem is that Kotlin is creating accessor/getter methods that look like actual properties, but with some generated suffix. The giveaway is that these generated methods have hyphens in the name, which is not a valid Java method name. We could likely modify the scanner to ignore thes

[2022-08-08 01:00] #1183 closed

[2022-08-08 23:31] #1008 closed

[2022-08-09 12:22] #1178 closed

[2022-08-09 14:59] dirkbolte commented on #1195
thanks, that helps mitigating it for the whole project.

[2022-08-18 16:27] mweber03 opened #1216 "Cannot ignore resource"
In the Swagger annotations there exists `@Hidden` which allows for a resource or endpoint to be hidden from the OpenAPI documentation. Is this capability available between the smallrye and microprofile openapi functionality?

[2022-08-18 16:30] MikeEdgar commented on #1216
@mweber03 - you can use `@Operation(hidden = true)` to hide an endpoint method. To exclude the entire class, take a look at the `mp.openapi.scan.exclude.classes` configuration property.

[2022-08-18 16:52] mweber03 commented on #1216
Thank you that worked.

[2022-08-18 16:52] #1216 closed

[2022-08-19 10:08] MikeEdgar opened #1218 "BV Constraints not applied to request body and its schemas"
See https://github.com/quarkusio/quarkus/issues/27375

[2022-08-20 18:16] mweber03 opened #1220 "Need equivalent to io.swagger.v3.jaxrs2.ReaderListener"
I am working on migrating my project to use Quarkus SmallRye OpenAPI from Swagger. Something we use currently in Swagger is the [ReaderListener](https://javadoc.io/static/io.swagger.core.v3/swagger-jaxrs2/2.1.0/io/swagger/v3/jaxrs2/ReaderListener.html) to customize the OpenAPI definitions. How can I do this with Quarkus SmallRye OpenAPI?

[2022-08-20 22:30] phillip-kruger commented on #1220
Maybe a filter? See https://download.eclipse.org/microprofile/microprofile-open-api-1.0/microprofile-openapi-spec.html#_oasfilter

An example https://github.com/phillip-kruger/openapi-example/blob/main/src/main/java/com/github/phillipkruger/openapi/extra/MyFilter.java

Let me know if that works for you

[2022-08-21 16:42] #1023 closed

[2022-08-21 16:49] #1218 closed

[2022-08-22 01:03] #1195 closed

[2022-08-26 19:29] MikeEdgar commented on #1220
@mweber03 did you get a chance to look at the `OASFilter` as suggested? That should give you full control over the resulting model.

[2022-08-27 14:04] MikeEdgar commented on #803
@Felk - I looked at your example a bit more and indeed using a generic type in an `allOf` (or any other location where a class constant for a class with type arguments is used without type parameters) forces the scanner to lose the type parameter information. Your solution to extract properties you'd like to re-use to a non-generic type is (I believe) the correct approach.

Closing this issue for

[2022-08-27 14:04] #803 closed

[2022-08-29 09:36] b-thiswatch commented on #716
Hi,
is this still blocked? Do I understand correctly that you'd still have to annotate with @Schema(required = true) in Kotlin for now? For some reason, I'm unable to find, it doesn't have any effect for me...

[code]

[2022-08-29 11:47] MikeEdgar commented on #716
@b-thiswatch , it's still blocked for now. Can you share the output that is generated for that model?

[2022-08-29 13:14] #1202 closed

[2022-08-29 17:55] b-thiswatch commented on #716
@MikeEdgar thanks for the update. I will prepare a demo later. For now, I have solved it with

[code]

which I don't like very much, but it works.

[2022-08-30 07:50] snazy opened #1231 "Gradle plugin contribution"
We have ported the existing Maven plugin to Gradle and are using it for a while now for our build of [projectnessie](https://github.com/projectnessie/nessie). The Gradle port is currently maintained [here](https://github.com/projectnessie/gradle-build-plugins/tree/main/smallrye-openapi), but not published as a Gradle plugin.
Is there interest in having a Gradle plugin in this repository?

If yes,

[2022-08-30 07:51] phillip-kruger commented on #1231
Yes for sure. It would be great if we also publish it

[2022-09-02 10:11] snazy opened #1234 "Wrong response type (current HEAD of `main`)"
While working on #1231, I integrated the work on the Gradle project into https://github.com/projectnessie/nessie .

There is a step to generate the OpenAPI model from JAX-RS, and it generates the openapi files with the wrong response type.

Correct (as of latest v2):
[code]

With latest HEAD on `main`:
[code]

I do not have a "simple" reproducer, but it's possible to setup an environment:
1. Check

[2022-09-02 16:10] snazy commented on #1234
Hm - so this is an interesting one.

I got it melted down to a small reproducer:
[repro1234.tar.gz](https://github.com/smallrye/smallrye-open-api/files/9479498/repro1234.tar.gz)
`scanPackages` is setup to `"org.projectnessie.api", "org.projectnessie.api.http", "org.projectnessie.model"`

The issue is related to the `org.projectnessie.api.http.HttpTreeApi` extending `org.projectnessie.api.TreeApi`

[2022-09-02 16:31] snazy opened #1237 "Support YAML anchors for static files"
OpenApiProcessor uses Jackson, which does not support YAML anchors.

([OpenAPITools sample](https://github.com/OpenAPITools/openapi-generator/issues/1593), [Jackson issue (stale)](https://github.com/FasterXML/jackson-dataformats-text/issues/98))

It would be possible to support YAML anchors directly in smallrye-open-api by "preprocessing" a YAML file with snakeyaml.

I'm not sure how much appetite

[2022-09-02 16:34] MikeEdgar commented on #1237
@snazy thanks for opening this. Is the expectation that the anchors would be supported when reading a static file, but not present in the final OpenAPI model -- since they would be lost in the object structure after de-serializing?

[2022-09-02 16:37] snazy commented on #1237
It would be fine for us, I can only speak for "projectnessie" though.

[2022-09-05 12:34] #1234 closed

[2022-09-06 22:36] MikeEdgar commented on #1220
Closing for now, please re-open if the suggestion to use an `OASFilter` does not help.

[2022-09-06 22:36] #1220 closed

[2022-09-06 23:48] MikeEdgar commented on #716
Unblocked now that we have Jandex 3. I'll start looking at this soon for the 3.1.0 and 2.3.1 releases.

[2022-09-07 23:43] #1231 closed

[2022-09-08 11:50] #716 closed

[2022-09-09 21:12] MikeEdgar opened #1254 "Refactor Jandex Utility Methods"
There are numerous Jandex utility methods throughout `JandexUtil` and `TypeUtil` (and perhaps elsewhere) that can be consolidated and possibly made more efficient. These methods can be cleaned up and may be candidates to move upstream into Jandex itself in some cases.

[2022-09-13 00:39] Raptoer opened #1255 "Adding a custom AnnotationScanner"
Is is possible to add a custom AnnotationScanner in the project we're working with?

I know I could add it as a java service if I packaged it into a jar, but I want it to load from the project that the maven plugin is currently running on.

[2022-09-13 08:44] MikeEdgar commented on #1255
Hi @Raptoer, what is your requirement? There may be better-supported alternate approaches that rely on standard interfaces intended for application use. The `AnnotationScanner` interface is an internal type and shouldn't necessarily be considered for use by applications.

[2022-09-13 09:06] Raptoer commented on #1255
I’m trying to read nonstandard annotations in order to alter the open api output. I’ve tried using filters, but by the time you’re at that stage you’ve lost the association to the original method you’re reading from.

[2022-09-13 10:08] phillip-kruger commented on #1255
There are ways in that you can get the original method. We do it in Quarkus. See https://github.com/quarkusio/quarkus/blob/b60ad38c41ed42d34ec1fe86cc5934647c92440f/extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/AutoTagFilter.java#L51

as an example

[2022-09-13 15:30] MikeEdgar opened #1256 "Duplicate path params for subresources that reference param multiple times"
See https://github.com/quarkusio/quarkus/issues/27902

[2022-09-13 20:15] MikeEdgar commented on #1255
@Raptoer , what type of annotations are you dealing with? Something entirely custom to your application domain?

[2022-09-13 23:32] Raptoer commented on #1255
So I'm trying to read @PreAuthorize, the spring security annotation, to somehow indicate on the openAPI document about the permissions required.

[2022-09-13 23:32] Raptoer commented on #1255
So I'm trying to read @PreAuthorize, the spring security annotation, to somehow indicate on the openAPI document about the permissions required

[2022-09-13 23:43] phillip-kruger commented on #1255
This sounds similar to https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/filter/AutoRolesAllowedFilter.java

If you create a small reproducer and the expected entries in the schema document, I can maybe build it in the above filter.

[2022-09-14 00:22] Raptoer commented on #1255
The problem with these filters is that I'm using the maven plugin, and I'd rather not duplicate the expansive SmallRyeOpenApiProcessor that the quarkus extension uses.
The way the maven plugin works I don't get a constructor to hand in extra data.
I tried just using the class loader in the filter when it get activated, but I don't seem to have access to my application classes at that time.

[2022-09-14 15:53] MikeEdgar commented on #1255
How did you obtain the class loader? I would expect if you use the class load of your filter, the application classes will be available.

[2022-09-19 15:38] MikeEdgar opened #1264 "Standalone `@Parameter` annotation and warning logs"
@lthasle , this issue is to further discuss and understand your requirements for using a "detached" `@Parameter` annotation. How do you access the header that is being documented? Are you using the JAX-RS `HttpHeaders` object or something else where there is no matching JAX-RS parameter?

See for original issue https://github.com/quarkusio/quarkus/issues/28006
Relates to changes made in #1197

[2022-09-20 08:47] lthasle commented on #1264
@MikeEdgar
The header is accessed with an interreceptor, we get the header via the HttpServerRequest.

The main point with using @Parameter annotation is for swagger.
It will be shown there as a mandatory parameter and the user must include a value.

[2022-09-21 23:45] MikeEdgar opened #1268 "Investigate running multiple TCK versions"
In order to reduce ongoing maintenance of multiple branches, it may be good to have a single version that passes multiple versions of the TCK - 2.0, 3.0, and 3.1 at the moment.

[2022-09-22 13:30] amoscatelli opened #1270 "@rbertoncelj - it's kept as the default to limit surprises. We might look at changing how it behaves by default with a major version bump."
@rbertoncelj - it's kept as the default to limit surprises. We might look at changing how it behaves by default with a major version bump.

_Originally posted by @MikeEdgar in https://github.com/smallrye/smallrye-open-api/issues/1001#issuecomment-994838212_

[2022-09-22 15:15] MikeEdgar commented on #1270
@amoscatelli , seems reasonable to me.

[2022-09-26 14:21] SimoBkr commented on #365
how can i add attribute example to our json file with the object response

[2022-09-26 20:37] MikeEdgar commented on #365
Hi @SimoBkr, do you have an sample of what you're trying to do? Are you using annotation scanning?

[2022-09-26 23:05] MikeEdgar commented on #1264
@lthasle, how many different paths/operations do you add the `@Parameter` annotation to? Would it be an option to provide an `OASFilter` implementation that adds it after the scanner completes? I'm thinking that if you need it for all operations (or most) that may be a cleaner approach than using annotations.

[2022-09-28 07:27] lthasle commented on #1264
@MikeEdgar
Thanks for your proposal, I will look into that.
I don't want it on all operations, and I am not sure if I can access the operation name.

[2022-09-29 09:33] #1268 closed

[2022-09-30 07:26] renegrob opened #1276 "OperationIdStrategy leads to duplicate operationIds"
Smallrye OpenAPI supports autogenerated operationIds with the following strategies:
[code]
Depending on the strategy it is more or less likely to end up with duplicate operationIds. If you have an overloaded method in a REST endpoint, all of them will generate duplicate operationIds. The OpenAPI specification clearly states that operationIds must be unique, see https://swagger.io/specification/#op

[2022-09-30 09:04] phillip-kruger commented on #1276
Are you keen to provide a PR?

[2022-09-30 10:28] MikeEdgar commented on #1276
@renegrob , I think adding a stable suffix makes sense. As you say, it should be opt-in. Perhaps the method argument names or hash code? It depends if they need to be readable I suppose.

[2022-10-02 15:35] renegrob commented on #1276
I made a first draft of the implementation here: https://github.com/renegrob/smallrye-open-api/tree/duplicate-operationId (only log or fail)
Tests are still missing and I don't know if I did the changes where they are supposed to be since I don't know the codebase that well.

[2022-10-03 11:55] MikeEdgar commented on #1276
It looks to be headed in the right direction based on the goal of warning/failing for duplicates. Feel free to open a PR at your convenience and we can add comments/suggestions there.

[2022-10-03 23:35] #1165 closed

[2022-10-07 07:57] MikelAlejoBR opened #1280 ""@RolesAllowed" generates scopes with a basic authentication"
## Description

Scopes are used in `oauth2` and `openIdConnect` authentications. However, when a `@RolesAllowed` annotation is set on a method, `smallrye` automatically generates a basic authentication security scheme and it applies it with roles to the operation.

## Minimal sample project

- https://github.com/MikelAlejoBR/quarkus-smallrye-openapi-issue

## OpenApi JSON output

[code]

## Expect

[2022-10-13 12:39] RomainWilbert opened #1283 "smallrye-open-api-maven-plugin with Quarkus does not add @Operation data"
Hi !

I am using smallrye-open-api-maven-plugin with Quarkus, and in my schema generated file, I only have @OpenAPIDefinition data.

[See sample projet here](https://github.com/RomainWilbert/openapi-maven-plugin.git)

[2022-10-13 12:41] MikeEdgar commented on #1283
Hi @RomainWilbert , the scanner only adds paths/operations from interfaces if an implementation is present. Also, `@OpenAPIDefinition` is only used if it is found on a JAX-RS `Application` class or a `package-info`.

[2022-10-13 14:21] RomainWilbert commented on #1283
Thanks. BTW could the plugin be compiled with Java8 ?

[2022-10-13 14:55] #1283 closed

[2022-10-14 09:26] mazenkhalil opened #1284 "[FR] Add support for @JsonAutoDetect"
The current implementation for schema generation doesn't support @com.fasterxml.jackson.annotation.JsonAutoDetect class annotation. Where the Schema get generated regardless of the access visibility rules for fields and/or methods.

e.g. The following entity is configured with two visibility rules:
1. Fields: Ignored regardless of the access modifier unless stated otherwise (e.g. @JsonProperty)
2.

[2022-10-14 13:06] ivansenic commented on #1165
@MikeEdgar Thanks for the fix :+1: Any idea when is this released and included in Quarkus?

[2022-10-16 23:21] MikeEdgar opened #1288 "Resolve warning from deprecated GitHub actions"
Resolve warning show in action run output. Example: https://github.com/smallrye/smallrye-open-api/actions/runs/3252421324

[2022-10-16 23:55] MikeEdgar commented on #1280
@MikelAlejoBR I think this is the same as https://github.com/quarkusio/quarkus/issues/27373 . Since it's actually Quarkus code that is doing this, we can go ahead and close this one and get it fixed via the Quarkus issue instead.

[2022-10-16 23:55] #1280 closed

[2022-10-17 19:22] renegrob commented on #1276
I opened a PR: Fail or warn on duplicate operationIds #1289

[2022-10-20 13:16] judomu opened #1292 "QueryParams merged when using kotlin suspend"
When using `quarkus`, `smallrye-open-api` and kotlin-`suspend` functions, the generated openapi file contains all `@QueryParam` definitions (from `suspend` functions) on every path level.

The issue disappears when removing `allOpen { annotation("javax.ws.rs.Path") }`.

## Example

The following resource definition:

[code]

leads to

[code]

I've created a minimal showcase repo at https://github.

[2022-10-21 23:12] #1276 closed

[2022-10-25 07:52] rikard-swahn opened #1299 "RC5 uses dependency (OpenAPI 3.1) that is not available in public repos"
RC5 uses dependency (OpenAPI 3.1) that is not available in public repos

See this https://github.com/smallrye/smallrye-open-api/commit/755f0169797de2fcf61383a8bed5a1c3d6aff017

[2022-10-25 11:27] MikeEdgar commented on #1299
@rikard-swahn , this is intentional. The MicroProfile OpenAPI 3.1 specification requires at least one compliant implementation before releasing. This is part of the process of releasing the spec. Once it's available in Maven Central, the temporary repo will be removed and we'll release 3.1.0 here.

[2022-10-25 13:25] MikeEdgar opened #1300 "Publish Gradle Plugin"
Publish the recently-added Gradle plugin to plugins.gradle.org

[2022-11-01 23:03] tjquinno opened #1304 "U/I fails to render when `options` is passed to `IndexHtmlCreator#createIndexHtml`"
@phillip-kruger and @MikeEdgar

Hi, gents.

I'm creating a Helidon Maven artifact that depends on the SmallRye OpenAPI U/I component.

When I let the U/I use the default `index.html`, the U/I renders just right.

But, if I invoke `IndexHtmlCreator.createIndexHtml(options)`--even with a null `options` which defaults everything--the browser shows an empty screen (Safari and Firefox). Using Safari's

[2022-11-01 23:18] phillip-kruger commented on #1304
Hi @tjquinno . We do set that in Quarkus here: https://github.com/quarkusio/quarkus/blob/17796c95e7a3346c924caaecf7b2207f44f252b7/extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java#L290

I'll have to look into more detail on why you get this issue. A reproducer will help, if you can share one

You are also welcome to contribute the maven plugin (

[2022-11-02 05:23] tjquinno commented on #1304
Thanks, @phillip-kruger.

Here's a reproducer. It's layered on several other Helidon components but the interesting parts are in the zip.

Run `mvn test` to see it working, using the default `index.html` that's in `smallrye-open-api-ui`.

Run  `mvn -DargLine="-DshowError=true" test` to see the blank page failure.

Each way you have 5 minutes to browse to `http://localhost:8080/openapi-ui/index.htm

[2022-11-05 23:17] phillip-kruger commented on #1304
Hi @tjquinno - Thanks for the reproducer. I can see that it happens, but I am not sure where the code it that create the index.html ? Can you create or share the code that create the html that cause the issue ?

[2022-11-05 23:31] phillip-kruger commented on #1304
@tjquinno - it might also be a version things. If I look at the latest template it seems correct: https://github.com/smallrye/smallrye-open-api/blob/64f2874a2e9139b04dfebacd35a99421bbde4afc/ui/open-api-ui/src/main/resources/template/index.html#L24

[2022-11-07 15:58] tjquinno commented on #1304
Hi, @phillip-kruger

In the zip, JUnit runs `MainTest#tryIt` which first triggers `MainTest#init` which invokes `startServer` which invokes `creatRouting` which instantiates the `Reproducer` class and its constructor invokes `IndexHtmlCreator#createIndexHtml`.

In any event, if you run the reproducer this way
[code]
and set a breakpoint in your IDE at `IndexHtmlCreator:71` you should see that the

[2022-11-08 23:22] phillip-kruger commented on #1304
So it seems like we can just safely remove that whole block, since it's not working at the moment, because it will never return true. (String vs enum comparison)

Agree? I am not sure what I wat trying to do there anyway

[2022-11-09 21:09] snazy commented on #1300
LMK if I can help

[2022-11-09 22:55] tjquinno commented on #1304
No, I do not think removing the block is the right change.

I am no mind-reader, but here's my theory about what the intent _might_ have been!

In almost all cases, if a line contains a token that is not defined, then discard the line.

Given the current template, the one exception to this rule is the `oauth2RedirectUrl` token because its indirect impact (that `oar` variable) is not limited to jus

[2022-11-09 22:58] phillip-kruger commented on #1304
@tjquinno - how about a PR, then we can discuss there ? I think what you describe sounds good.

[2022-11-10 16:24] tjquinno commented on #1304
@phillip-kruger @MikeEdgar Is there a contributor agreement or anything like that I need to execute to contribute?

[2022-11-10 18:07] tjquinno commented on #1304
The link from https://github.com/smallrye/smallrye to the committer nomination process is broken. I'm can work through the necessary steps to become a committer as long as I know what they are :-) .

[2022-11-10 19:14] MikeEdgar commented on #1304
@tjquinno we don't have a contribution agreement at the moment. You just want to open a PR right?

[2022-11-10 20:00] tjquinno commented on #1304
@MikeEdgar Yes, Mike, that's exactly right. (Apologies for using this issue as a message board.)

[2022-11-10 20:08] phillip-kruger commented on #1304
Yes, just open a PR, no need to become a committee (for now)

[2022-11-11 15:51] tjquinno commented on #1304
@MikeEdgar @phillip-kruger PR created. Workflows are stalled awaiting maintainer approval since I'm a first-time committer.

[2022-11-11 23:39] #1304 closed

[2022-11-27 09:53] sidohin-felix opened #1321 "Schemas for classes in dependency JARs never generated"
Hello,

Not sure if this is a bug or a configuration issue, but I am trying to use the gradle plugin with a vanilla microprofile project (simple WAR generated and loaded into a TomEE instance). I have run into the following issue:

Let's assume a library A is included as compileOnly and some object MyObject from A is used either as a request body or response. Basically:

[code]

When I run the gra

[2022-11-30 01:06] MikeEdgar commented on #1299
Resolved via #1322

[2022-11-30 01:06] #1299 closed